.t451__burger_mobile {
    left: 20px;
    right: auto;
}

.t-records {
  overflow: unset !important;
}

/* begin custom style block t924*/
@media screen and (min-width:961px) {
    .t924 .t-section__topwrapper {
        height: 0;
        margin:0;
    }
    
    .t924 .t-section__title{
        position: relative;
        margin: 0;
        top: 0px;
    }
    
    .t924 .t-feed__row-bigimg-grid__post-wrapper {
        padding-top: 10px;
    }
    
    .t-feed__row-bigimg-grid__post-wrapper .t-feed__post-bgimg {
        border-radius: 12px 12px 0 0;
    }
    
    /* t915*/
    
    .t-feed__buttons-wrapper {
        margin-top: 60px;
    }
    
    /* white block news */
    #rec456775902 .t-feed__buttons-wrapper {
        margin-top: 16px;
    }
    #rec456695762 .t-feed__buttons-wrapper {
        margin-top: 16px;
    }
    /* end white block news */
    
    
    /*расстояние jот заголовка до карточек новостей*/
    .t915 .t-section__topwrapper {
        margin-bottom: 40px;
    }
    /* конец расстояние jот заголовка до карточек новостей */
}

@media screen and (max-width:960px) {
    
    /*расстояние jот заголовка до карточек новостей*/
    .t915 .t-section__topwrapper {
        margin-bottom: 20px;
    }
    /* конец расстояние jот заголовка до карточек новостей */

    .t924 .t-section__topwrapper {
        height: 0;
        margin: 0;
        margin-bottom: 48px;
    }
    
    .t-feed__row-bigimg-grid__post-wrapper .t-feed__post-bgimg {
        border-radius: 12px 12px 0 0;
    }
    
        /* white block news */
    #rec456775902 .t-feed__buttons-wrapper {
        margin-top: 0;
    }
    #rec456695762 .t-feed__buttons-wrapper {
        margin-top: 0;
    }
    /* end white block news */
}

/*end t924*/


.t976__list-item a:hover {
    font-weight: bold;
}

.links-hover {
    font-weight: normal;
    border-bottom:2px solid #000000;
    padding-bottom: 4px;
}

.links-hover:hover {
    font-weight: bold;
    border-bottom:2px solid #FFDD00;
    padding-bottom: 4px;
}
    
/*плашка категории в потоке новостей*/
.t-feed__post-label {
    border-radius: 20px;
    padding: 12px 16px 12px;
    background-color: #FFDD00;
}

.t-feed__post-label span{
    color: black;
    font-size: 12px;
}
/* конец плашка категории в потоке новостей */


/*нижние подчеркивание к кнопки Подробнее*/
.t-feed__col-grid__post-wrapper .t-btn {
    padding: 0;
    margin: 0;
}

.t-feed__col-grid__post-wrapper .t-feed__button-container span {
    font-weight: 700;
    border-bottom:2px solid #000000;
    padding-bottom: 4px;
}

.t-feed__col-grid__post-wrapper .t-feed__button-container span:hover {
  border-bottom: 2px solid #FFDD00;
}

/* конец нижние подчеркивание к кнопки Подробнее*/

/*стиль кнопки в потоке новостей*/
.js-feed-btn-show-all-posts .t-feed__showallpost-btn .t-btn {
    color: #FFDD00;
    background-color: #FFDD00;
}

/* custum input form */
@media screen and (min-width:1200px) {
.t396__elem .t-input-group_sb {
    width:65%;
}

.t396__elem .t-input-group:nth-child(1) input,
.t396__elem .t-input-group:nth-child(2) input {
        width:65%;
}
}
/* end custum input form */
@media screen and (max-width:321px) {
.t-feed__post {
    padding-left: 10px;
    padding-right: 10px;
}
}
