#rec448159724 .t396__artboard {
  height: 440px;
  background-color: #ffffff;
}
#rec448159724 .t396__filter {
  height: 440px;
}
#rec448159724 .t396__carrier {
  height: 440px;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (max-width: 1199px) {
  #rec448159724 .t396__artboard,
  #rec448159724 .t396__filter,
  #rec448159724 .t396__carrier {
    height: 400px;
  }
  #rec448159724 .t396__filter {
  }
  #rec448159724 .t396__carrier {
    background-attachment: scroll;
  }
}
@media screen and (max-width: 959px) {
  #rec448159724 .t396__artboard,
  #rec448159724 .t396__filter,
  #rec448159724 .t396__carrier {
    height: 480px;
  }
  #rec448159724 .t396__filter {
  }
  #rec448159724 .t396__carrier {
    background-attachment: scroll;
  }
}
@media screen and (max-width: 639px) {
  #rec448159724 .t396__artboard,
  #rec448159724 .t396__filter,
  #rec448159724 .t396__carrier {
    height: 620px;
  }
  #rec448159724 .t396__filter {
  }
  #rec448159724 .t396__carrier {
    background-attachment: scroll;
  }
}
@media screen and (max-width: 479px) {
  #rec448159724 .t396__artboard,
  #rec448159724 .t396__filter,
  #rec448159724 .t396__carrier {
    height: 580px;
  }
  #rec448159724 .t396__filter {
  }
  #rec448159724 .t396__carrier {
    background-attachment: scroll;
  }
}
#rec448159724 .tn-elem[data-elem-id="1631799979044"] {
  color: #000000;
  z-index: 13;
  top: -192px;
  left: 821px;
  width: 114px;
  height: auto;
}
#rec448159724 .tn-elem[data-elem-id="1631799979044"] .tn-atom {
  color: #000000;
  font-size: 18px;
  font-family: "Montserrat", Arial, sans-serif;
  line-height: 1.2;
  font-weight: 700;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}
@media screen and (max-width: 1199px) {
  #rec448159724 .tn-elem[data-elem-id="1631799979044"] {
    width: 94px;
    height: auto;
  }
  #rec448159724 .tn-elem[data-elem-id="1631799979044"] .tn-atom {
    font-size: 15px;
    background-size: cover;
  }
}
@media screen and (max-width: 959px) {
  #rec448159724 .tn-elem[data-elem-id="1631799979044"] {
    height: auto;
  }
}
@media screen and (max-width: 639px) {
  #rec448159724 .tn-elem[data-elem-id="1631799979044"] {
    height: auto;
  }
}
@media screen and (max-width: 479px) {
  #rec448159724 .tn-elem[data-elem-id="1631799979044"] {
    width: 109px;
    height: auto;
  }
  #rec448159724 .tn-elem[data-elem-id="1631799979044"] .tn-atom {
    font-size: 14px;
    background-size: cover;
  }
}
#rec448159724 .tn-elem[data-elem-id="1631800124853"] {
  color: #000000;
  z-index: 17;
  top: -157px;
  left: 821px;
  width: 148px;
  height: auto;
}
#rec448159724 .tn-elem[data-elem-id="1631800124853"] .tn-atom {
  color: #000000;
  font-size: 15px;
  font-family: "Montserrat", Arial, sans-serif;
  line-height: 1.2;
  font-weight: 400;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}
@media screen and (max-width: 1199px) {
  #rec448159724 .tn-elem[data-elem-id="1631800124853"] {
    width: 119px;
    height: auto;
  }
  #rec448159724 .tn-elem[data-elem-id="1631800124853"] .tn-atom {
    font-size: 12px;
    background-size: cover;
  }
}
@media screen and (max-width: 959px) {
  #rec448159724 .tn-elem[data-elem-id="1631800124853"] {
    height: auto;
  }
}
@media screen and (max-width: 639px) {
  #rec448159724 .tn-elem[data-elem-id="1631800124853"] {
    height: auto;
  }
}
@media screen and (max-width: 479px) {
  #rec448159724 .tn-elem[data-elem-id="1631800124853"] {
    width: 124px;
    height: auto;
  }
}
#rec448159724 .tn-elem[data-elem-id="1631800017016"] {
  color: #000000;
  z-index: 16;
  top: -192px;
  left: 852px;
  width: 177px;
  height: auto;
}
#rec448159724 .tn-elem[data-elem-id="1631800017016"] .tn-atom {
  color: #000000;
  font-size: 18px;
  font-family: "Montserrat", Arial, sans-serif;
  line-height: 1.2;
  font-weight: 700;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}
@media screen and (max-width: 1199px) {
  #rec448159724 .tn-elem[data-elem-id="1631800017016"] {
    width: 149px;
    height: auto;
  }
  #rec448159724 .tn-elem[data-elem-id="1631800017016"] .tn-atom {
    font-size: 15px;
    background-size: cover;
  }
}
@media screen and (max-width: 959px) {
  #rec448159724 .tn-elem[data-elem-id="1631800017016"] {
    height: auto;
  }
}
@media screen and (max-width: 639px) {
  #rec448159724 .tn-elem[data-elem-id="1631800017016"] {
    height: auto;
  }
}
@media screen and (max-width: 479px) {
  #rec448159724 .tn-elem[data-elem-id="1631800017016"] {
    width: 179px;
    height: auto;
  }
  #rec448159724 .tn-elem[data-elem-id="1631800017016"] .tn-atom {
    font-size: 14px;
    background-size: cover;
  }
}
#rec448159724 .tn-elem[data-elem-id="1631800168001"] {
  color: #000000;
  z-index: 20;
  top: -157px;
  left: 852px;
  width: 177px;
  height: auto;
}
#rec448159724 .tn-elem[data-elem-id="1631800168001"] .tn-atom {
  color: #000000;
  font-size: 15px;
  font-family: "Montserrat", Arial, sans-serif;
  line-height: 1.2;
  font-weight: 400;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}
@media screen and (max-width: 1199px) {
  #rec448159724 .tn-elem[data-elem-id="1631800168001"] {
    width: 136px;
    height: auto;
  }
  #rec448159724 .tn-elem[data-elem-id="1631800168001"] .tn-atom {
    font-size: 12px;
    background-size: cover;
  }
}
@media screen and (max-width: 959px) {
  #rec448159724 .tn-elem[data-elem-id="1631800168001"] {
    height: auto;
  }
}
@media screen and (max-width: 639px) {
  #rec448159724 .tn-elem[data-elem-id="1631800168001"] {
    height: auto;
  }
}
@media screen and (max-width: 479px) {
  #rec448159724 .tn-elem[data-elem-id="1631800168001"] {
    width: 140px;
    height: auto;
  }
}
#rec448159724 .tn-elem[data-elem-id="1631801803882"] {
  color: #000000;
  text-align: center;
  z-index: 22;
  top: -50px;
  left: 10px;
  width: 84px;
  height: auto;
}
#rec448159724 .tn-elem[data-elem-id="1631801803882"] .tn-atom {
  color: #000000;
  font-size: 20px;
  font-family: "Montserrat", Arial, sans-serif;
  line-height: 1.2;
  font-weight: 600;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}
@media screen and (max-width: 1199px) {
  #rec448159724 .tn-elem[data-elem-id="1631801803882"] {
    height: auto;
  }
  #rec448159724 .tn-elem[data-elem-id="1631801803882"] .tn-atom {
    font-size: 15px;
    background-size: cover;
  }
}
@media screen and (max-width: 959px) {
  #rec448159724 .tn-elem[data-elem-id="1631801803882"] {
    height: auto;
  }
  #rec448159724 .tn-elem[data-elem-id="1631801803882"] {
    text-align: left;
  }
}
@media screen and (max-width: 639px) {
  #rec448159724 .tn-elem[data-elem-id="1631801803882"] {
    width: 99px;
    height: auto;
  }
  #rec448159724 .tn-elem[data-elem-id="1631801803882"] .tn-atom {
    font-size: 18px;
    background-size: cover;
  }
}
@media screen and (max-width: 479px) {
  #rec448159724 .tn-elem[data-elem-id="1631801803882"] {
    height: auto;
  }
  #rec448159724 .tn-elem[data-elem-id="1631801803882"] .tn-atom {
    font-size: 13px;
    background-size: cover;
  }
}
#rec448159724 .tn-elem[data-elem-id="1631801864116"] {
  color: #000000;
  text-align: center;
  z-index: 23;
  top: -50px;
  left: 169px;
  width: 124px;
  height: auto;
}
#rec448159724 .tn-elem[data-elem-id="1631801864116"] .tn-atom {
  color: #000000;
  font-size: 20px;
  font-family: "Montserrat", Arial, sans-serif;
  line-height: 1.2;
  font-weight: 600;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}
@media screen and (max-width: 1199px) {
  #rec448159724 .tn-elem[data-elem-id="1631801864116"] {
    height: auto;
  }
  #rec448159724 .tn-elem[data-elem-id="1631801864116"] .tn-atom {
    font-size: 15px;
    background-size: cover;
  }
}
@media screen and (max-width: 959px) {
  #rec448159724 .tn-elem[data-elem-id="1631801864116"] {
    height: auto;
  }
}
@media screen and (max-width: 639px) {
  #rec448159724 .tn-elem[data-elem-id="1631801864116"] {
    width: 136px;
    height: auto;
  }
  #rec448159724 .tn-elem[data-elem-id="1631801864116"] .tn-atom {
    font-size: 18px;
    background-size: cover;
  }
}
@media screen and (max-width: 479px) {
  #rec448159724 .tn-elem[data-elem-id="1631801864116"] {
    height: auto;
  }
  #rec448159724 .tn-elem[data-elem-id="1631801864116"] {
    text-align: left;
  }
  #rec448159724 .tn-elem[data-elem-id="1631801864116"] .tn-atom {
    font-size: 13px;
    background-size: cover;
  }
}
#rec448159724 .tn-elem[data-elem-id="1631801893038"] {
  color: #000000;
  text-align: center;
  z-index: 25;
  top: -50px;
  left: 368px;
  width: 39px;
  height: auto;
}
#rec448159724 .tn-elem[data-elem-id="1631801893038"] .tn-atom {
  color: #000000;
  font-size: 20px;
  font-family: "Montserrat", Arial, sans-serif;
  line-height: 1.2;
  font-weight: 600;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}
@media screen and (max-width: 1199px) {
  #rec448159724 .tn-elem[data-elem-id="1631801893038"] {
    width: 39px;
    height: auto;
  }
  #rec448159724 .tn-elem[data-elem-id="1631801893038"] .tn-atom {
    font-size: 15px;
    background-size: cover;
  }
}
@media screen and (max-width: 959px) {
  #rec448159724 .tn-elem[data-elem-id="1631801893038"] {
    height: auto;
  }
}
@media screen and (max-width: 639px) {
  #rec448159724 .tn-elem[data-elem-id="1631801893038"] {
    width: 29px;
    height: auto;
  }
  #rec448159724 .tn-elem[data-elem-id="1631801893038"] {
    text-align: left;
  }
  #rec448159724 .tn-elem[data-elem-id="1631801893038"] .tn-atom {
    font-size: 18px;
    background-size: cover;
  }
}
@media screen and (max-width: 479px) {
  #rec448159724 .tn-elem[data-elem-id="1631801893038"] {
    width: 43px;
    height: auto;
  }
  #rec448159724 .tn-elem[data-elem-id="1631801893038"] .tn-atom {
    font-size: 13px;
    background-size: cover;
  }
}
#rec448159724 .tn-elem[data-elem-id="1631798909315"] {
  color: #000000;
  z-index: 1;
  top: 65px;
  left: calc(50% - 600px + 20px);
  width: 560px;
  height: auto;
}
#rec448159724 .tn-elem[data-elem-id="1631798909315"] .tn-atom {
  color: #000000;
  font-size: 40px;
  font-family: "Montserrat-ExtraBold", Arial, sans-serif;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}
@media screen and (max-width: 1199px) {
  #rec448159724 .tn-elem[data-elem-id="1631798909315"] {
    top: 50px;
    left: calc(50% - 480px + 20px);
    height: auto;
  }
}
@media screen and (max-width: 959px) {
}
@media screen and (max-width: 639px) {
  #rec448159724 .tn-elem[data-elem-id="1631798909315"] {
    top: 25px;
    left: calc(50% - 240px + 20px);
    width: 446px;
    height: auto;
  }
  #rec448159724 .tn-elem[data-elem-id="1631798909315"] .tn-atom {
    font-size: 30px;
    background-size: cover;
  }
}
@media screen and (max-width: 479px) {
  #rec448159724 .tn-elem[data-elem-id="1631798909315"] {
    top: 35px;
    left: calc(50% - 160px + 10px);
    height: auto;
  }
  #rec448159724 .tn-elem[data-elem-id="1631798909315"] .tn-atom {
    font-size: 24px;
    background-size: cover;
  }
}
#rec448159724 .tn-elem[data-elem-id="1631799361328"] {
  color: #ffdd00;
  z-index: 3;
  top: 166px;
  left: calc(50% - 600px + 20px);
  width: 560px;
  height: auto;
}
#rec448159724 .tn-elem[data-elem-id="1631799361328"] .tn-atom {
  color: #ffdd00;
  font-size: 60px;
  font-family: "Montserrat-ExtraBold", Arial, sans-serif;
  line-height: 1.2;
  font-weight: 700;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}
@media screen and (max-width: 1199px) {
}
@media screen and (max-width: 959px) {
  #rec448159724 .tn-elem[data-elem-id="1631799361328"] {
    top: 174px;
    left: calc(50% - 320px + 20px);
    height: auto;
  }
  #rec448159724 .tn-elem[data-elem-id="1631799361328"] .tn-atom {
    font-size: 30px;
    background-size: cover;
  }
}
@media screen and (max-width: 639px) {
  #rec448159724 .tn-elem[data-elem-id="1631799361328"] {
    top: 95px;
    left: calc(50% - 240px + 20px);
    height: auto;
  }
  #rec448159724 .tn-elem[data-elem-id="1631799361328"] .tn-atom {
    font-size: 30px;
    background-size: cover;
  }
}
@media screen and (max-width: 479px) {
  #rec448159724 .tn-elem[data-elem-id="1631799361328"] {
    top: 95px;
    left: calc(50% - 160px + 10px);
    height: auto;
  }
  #rec448159724 .tn-elem[data-elem-id="1631799361328"] .tn-atom {
    font-size: 19px;
    background-size: cover;
  }
}
#rec448159724 .tn-elem[data-elem-id="1631799441942"] {
  z-index: 4;
  top: 253px;
  left: calc(50% - 600px + -1000px);
  width: 3000px;
  height: 3px;
}
#rec448159724 .tn-elem[data-elem-id="1631799441942"] .tn-atom {
  background-color: #050505;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}
@media screen and (max-width: 1199px) {
  #rec448159724 .tn-elem[data-elem-id="1631799441942"] {
    top: 240px;
    left: calc(50% - 480px + -1000px);
    width: 3000px;
    height: 3px;
  }
}
@media screen and (max-width: 959px) {
  #rec448159724 .tn-elem[data-elem-id="1631799441942"] {
    top: 235px;
    left: calc(50% - 320px + -1000px);
  }
}
@media screen and (max-width: 639px) {
  #rec448159724 .tn-elem[data-elem-id="1631799441942"] {
    top: 350px;
    left: calc(50% - 240px + -1000px);
  }
}
@media screen and (max-width: 479px) {
  #rec448159724 .tn-elem[data-elem-id="1631799441942"] {
    top: 300px;
    height: 2px;
  }
}
#rec448159724 .tn-elem[data-elem-id="1631799544253"] {
  z-index: 18;
  top: 282px;
  left: calc(50% - 600px + 20px);
  width: 130px;
  height: auto;
}
#rec448159724 .tn-elem[data-elem-id="1631799544253"] .tn-atom {
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}
#rec448159724 .tn-elem[data-elem-id="1631799544253"] .tn-atom__img {
}
@media screen and (max-width: 1199px) {
  #rec448159724 .tn-elem[data-elem-id="1631799544253"] {
    top: 275px;
    left: calc(50% - 480px + 20px);
    width: 126px;
    height: auto;
  }
}
@media screen and (max-width: 959px) {
  #rec448159724 .tn-elem[data-elem-id="1631799544253"] {
    top: 253px;
    left: calc(50% - 320px + 20px);
    height: auto;
  }
}
@media screen and (max-width: 639px) {
  #rec448159724 .tn-elem[data-elem-id="1631799544253"] {
    top: 368px;
    left: calc(50% - 240px + 20px);
    height: auto;
  }
}
@media screen and (max-width: 479px) {
  #rec448159724 .tn-elem[data-elem-id="1631799544253"] {
    top: 316px;
    left: calc(50% - 160px + 10px);
    height: auto;
  }
}
#rec448159724 .tn-elem[data-elem-id="1631799576687"] {
  color: #000000;
  z-index: 19;
  top: 305px;
  left: calc(50% - 600px + 181px);
  width: 599px;
  height: auto;
}
#rec448159724 .tn-elem[data-elem-id="1631799576687"] .tn-atom {
  color: #000000;
  font-size: 30px;
  font-family: "Montserrat-ExtraBold", Arial, sans-serif;
  line-height: 1.2;
  font-weight: 700;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}
@media screen and (max-width: 1199px) {
  #rec448159724 .tn-elem[data-elem-id="1631799576687"] {
    top: 299px;
    left: calc(50% - 480px + 151px);
    width: 490px;
    height: auto;
  }
  #rec448159724 .tn-elem[data-elem-id="1631799576687"] .tn-atom {
    font-size: 25px;
    background-size: cover;
  }
}
@media screen and (max-width: 959px) {
  #rec448159724 .tn-elem[data-elem-id="1631799576687"] {
    top: 277px;
    left: calc(50% - 320px + 150px);
    height: auto;
  }
}
@media screen and (max-width: 639px) {
  #rec448159724 .tn-elem[data-elem-id="1631799576687"] {
    top: 377px;
    left: calc(50% - 240px + 172px);
    width: 297px;
    height: auto;
  }
  #rec448159724 .tn-elem[data-elem-id="1631799576687"] .tn-atom {
    font-size: 25px;
    background-size: cover;
  }
}
@media screen and (max-width: 479px) {
  #rec448159724 .tn-elem[data-elem-id="1631799576687"] {
    top: 331px;
    left: calc(50% - 160px + 150px);
    width: 170px;
    height: auto;
  }
  #rec448159724 .tn-elem[data-elem-id="1631799576687"] .tn-atom {
    font-size: 19px;
    background-size: cover;
  }
}
#rec448159724 .tn-elem[data-elem-id="1651832717199"] {
  z-index: 29;
  top: 78px;
  left: calc(50% - 600px + 930px);
  width: 259px;
  height: auto;
  pointer-events: none;
}
#rec448159724 .tn-elem[data-elem-id="1651832717199"] .tn-atom {
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}
#rec448159724 .tn-elem[data-elem-id="1651832717199"] .tn-atom__img {
}
@media screen and (max-width: 1199px) {
  #rec448159724 .tn-elem[data-elem-id="1651832717199"] {
    top: 12px;
    left: calc(50% - 480px + 580px);
    height: auto;
  }
}
@media screen and (max-width: 959px) {
  #rec448159724 .tn-elem[data-elem-id="1651832717199"] {
    top: 316px;
    left: calc(50% - 320px + 370px);
    width: 235px;
    height: auto;
  }
}
@media screen and (max-width: 639px) {
  #rec448159724 .tn-elem[data-elem-id="1651832717199"] {
    top: 165px;
    left: calc(50% - 240px + 123px);
    height: auto;
  }
}
@media screen and (max-width: 479px) {
  #rec448159724 .tn-elem[data-elem-id="1651832717199"] {
    top: 135px;
    left: calc(50% - 160px + 43px);
    height: auto;
  }
}

#rec448159726 .t345-text {
  color: #000000;
}
