{% css %}
{% include "footer/footer.css" %}
{% endcss %}

<footer
  id="t-footer"
  class="t-records"
  data-hook="blocks-collection-content-node"
  data-tilda-project-id="4474231"
  data-tilda-page-id="27750139"
  data-tilda-formskey="ae3c80402d5bca38225eafac5ea07763"
  data-tilda-stat-scroll="yes"
  data-tilda-lazy="yes"
  data-tilda-project-lang="RU"
  data-tilda-root-zone="com"
  data-tilda-project-headcode="yes"
>
  <div
    id="rec448159724"
    class="r t-rec"
    style=""
    data-animationappear="off"
    data-record-type="396"
  >
    <!-- T396 -->
    
    <div class="t396">
      <div
        class="t396__artboard"
        data-artboard-recid="448159724"
        data-artboard-screens="320,480,640,960,1200"
        data-artboard-height="440"
        data-artboard-valign="center"
        data-artboard-upscale="grid"
        data-artboard-height-res-320="580"
        data-artboard-height-res-480="620"
        data-artboard-height-res-640="480"
        data-artboard-height-res-960="400"
      >
        <div class="t396__carrier" data-artboard-recid="448159724"></div>
        <div class="t396__filter" data-artboard-recid="448159724"></div>
        <div
          class="t396__elem tn-elem tn-elem__4481597241631799979044"
          data-elem-id="1631799979044"
          data-elem-type="text"
          data-field-top-value="305"
          data-field-left-value="831"
          data-field-width-value="114"
          data-field-axisy-value="top"
          data-field-axisx-value="left"
          data-field-container-value="grid"
          data-field-topunits-value="px"
          data-field-leftunits-value="px"
          data-field-heightunits-value=""
          data-field-widthunits-value="px"
          data-field-top-res-320-value="497"
          data-field-left-res-320-value="10"
          data-field-width-res-320-value="109"
          data-field-top-res-480-value="541"
          data-field-left-res-480-value="20"
          data-field-top-res-640-value="385"
          data-field-left-res-640-value="20"
          data-field-top-res-960-value="299"
          data-field-left-res-960-value="669"
          data-field-width-res-960-value="94"
        >
          <div class="tn-atom">
            <a
              href="https://goo.gl/maps/mj5jNJX9cprs73Md8"
              rel="nofollow"
              target="_blank"
              style="color: inherit"
              >г. Таганрог</a
            >
          </div>
        </div>
        <div
          class="t396__elem tn-elem tn-elem__4481597241631800124853"
          data-elem-id="1631800124853"
          data-elem-type="text"
          data-field-top-value="340"
          data-field-left-value="831"
          data-field-width-value="148"
          data-field-axisy-value="top"
          data-field-axisx-value="left"
          data-field-container-value="grid"
          data-field-topunits-value="px"
          data-field-leftunits-value="px"
          data-field-heightunits-value=""
          data-field-widthunits-value="px"
          data-field-top-res-320-value="530"
          data-field-left-res-320-value="10"
          data-field-width-res-320-value="124"
          data-field-top-res-480-value="574"
          data-field-left-res-480-value="20"
          data-field-top-res-640-value="418"
          data-field-left-res-640-value="20"
          data-field-top-res-960-value="332"
          data-field-left-res-960-value="669"
          data-field-width-res-960-value="119"
        >
          <div class="tn-atom">
            <a
              href="https://goo.gl/maps/mj5jNJX9cprs73Md8"
              rel="nofollow"
              target="_blank"
              style="color: inherit"
              >Петровская, 89 Б<br />ТЦ "Андреевский"</a
            >
          </div>
        </div>
        <div
          class="t396__elem tn-elem tn-elem__4481597241631800017016"
          data-elem-id="1631800017016"
          data-elem-type="text"
          data-field-top-value="305"
          data-field-left-value="1002"
          data-field-width-value="177"
          data-field-axisy-value="top"
          data-field-axisx-value="left"
          data-field-container-value="grid"
          data-field-topunits-value="px"
          data-field-leftunits-value="px"
          data-field-heightunits-value=""
          data-field-widthunits-value="px"
          data-field-top-res-320-value="497"
          data-field-left-res-320-value="150"
          data-field-width-res-320-value="179"
          data-field-top-res-480-value="541"
          data-field-left-res-480-value="172"
          data-field-top-res-640-value="385"
          data-field-left-res-640-value="150"
          data-field-top-res-960-value="299"
          data-field-left-res-960-value="800"
          data-field-width-res-960-value="149"
        >
          <div class="tn-atom">
            <a
              href="https://goo.gl/maps/wCwsudVV7UJPeFM96"
              rel="nofollow"
              target="_blank"
              style="color: inherit"
              >г. Ростов-на-Дону</a
            >
          </div>
        </div>
        <div
          class="t396__elem tn-elem tn-elem__4481597241631800168001"
          data-elem-id="1631800168001"
          data-elem-type="text"
          data-field-top-value="340"
          data-field-left-value="1002"
          data-field-width-value="177"
          data-field-axisy-value="top"
          data-field-axisx-value="left"
          data-field-container-value="grid"
          data-field-topunits-value="px"
          data-field-leftunits-value="px"
          data-field-heightunits-value=""
          data-field-widthunits-value="px"
          data-field-top-res-320-value="530"
          data-field-left-res-320-value="150"
          data-field-width-res-320-value="140"
          data-field-top-res-480-value="574"
          data-field-left-res-480-value="172"
          data-field-top-res-640-value="418"
          data-field-left-res-640-value="150"
          data-field-top-res-960-value="332"
          data-field-left-res-960-value="800"
          data-field-width-res-960-value="136"
        >
          <div class="tn-atom">
            <a
              href="https://goo.gl/maps/wCwsudVV7UJPeFM96"
              rel="nofollow"
              target="_blank"
              style="color: inherit"
              >Нижнебульварная, 6<br />БЦ "5 морей"</a
            >
          </div>
        </div>
        <div
          class="t396__elem tn-elem tn-elem__4481597241631801803882"
          data-elem-id="1631801803882"
          data-elem-type="text"
          data-field-top-value="369"
          data-field-left-value="20"
          data-field-width-value="84"
          data-field-axisy-value="top"
          data-field-axisx-value="left"
          data-field-container-value="grid"
          data-field-topunits-value="px"
          data-field-leftunits-value="px"
          data-field-heightunits-value=""
          data-field-widthunits-value="px"
          data-field-top-res-320-value="419"
          data-field-left-res-320-value="10"
          data-field-top-res-480-value="475"
          data-field-left-res-480-value="20"
          data-field-width-res-480-value="99"
          data-field-top-res-640-value="337"
          data-field-left-res-640-value="20"
          data-field-top-res-960-value="353"
          data-field-left-res-960-value="20"
        >
          <div class="tn-atom">
            <a
              href="https://oggetto.ru/"
              rel="nofollow"
              target="_blank"
              style="color: inherit"
              >oggetto.ru</a
            >
          </div>
        </div>
        <div
          class="t396__elem tn-elem tn-elem__4481597241631801864116"
          data-elem-id="1631801864116"
          data-elem-type="text"
          data-field-top-value="369"
          data-field-left-value="179"
          data-field-width-value="124"
          data-field-axisy-value="top"
          data-field-axisx-value="left"
          data-field-container-value="grid"
          data-field-topunits-value="px"
          data-field-leftunits-value="px"
          data-field-heightunits-value=""
          data-field-widthunits-value="px"
          data-field-top-res-320-value="419"
          data-field-left-res-320-value="150"
          data-field-top-res-480-value="475"
          data-field-left-res-480-value="172"
          data-field-width-res-480-value="136"
          data-field-top-res-640-value="337"
          data-field-left-res-640-value="144"
          data-field-top-res-960-value="353"
          data-field-left-res-960-value="144"
        >
          <div class="tn-atom">
            <a
              href="https://oggetto.team/"
              rel="nofollow"
              target="_blank"
              style="color: inherit"
              >oggetto.team</a
            >
          </div>
        </div>
        <div
          class="t396__elem tn-elem tn-elem__4481597241631801893038"
          data-elem-id="1631801893038"
          data-elem-type="text"
          data-field-top-value="369"
          data-field-left-value="378"
          data-field-width-value="39"
          data-field-axisy-value="top"
          data-field-axisx-value="left"
          data-field-container-value="grid"
          data-field-topunits-value="px"
          data-field-leftunits-value="px"
          data-field-heightunits-value=""
          data-field-widthunits-value="px"
          data-field-top-res-320-value="462"
          data-field-left-res-320-value="10"
          data-field-width-res-320-value="43"
          data-field-top-res-480-value="475"
          data-field-left-res-480-value="348"
          data-field-width-res-480-value="29"
          data-field-top-res-640-value="337"
          data-field-left-res-640-value="308"
          data-field-top-res-960-value="353"
          data-field-left-res-960-value="308"
          data-field-width-res-960-value="39"
        >
          <div class="tn-atom">
            <a
              href="https://vk.com/oggettoweb"
              rel="nofollow"
              target="_blank"
              style="color: inherit"
              >VK</a
            >
          </div>
        </div>
        <div
          class="t396__elem tn-elem tn-elem__4481597241631798909315"
          data-elem-id="1631798909315"
          data-elem-type="text"
          data-field-top-value="65"
          data-field-left-value="20"
          data-field-width-value="560"
          data-field-axisy-value="top"
          data-field-axisx-value="left"
          data-field-container-value="grid"
          data-field-topunits-value="px"
          data-field-leftunits-value="px"
          data-field-heightunits-value=""
          data-field-widthunits-value="px"
          data-field-top-res-320-value="35"
          data-field-left-res-320-value="10"
          data-field-top-res-480-value="25"
          data-field-left-res-480-value="20"
          data-field-width-res-480-value="446"
          data-field-top-res-960-value="50"
          data-field-left-res-960-value="20"
        >
          <div class="tn-atom" field="tn_text_1631798909315">
            Остались вопросы?<br />Стучись на почту!
          </div>
        </div>
        <div
          class="t396__elem tn-elem tn-elem__4481597241631799361328"
          data-elem-id="1631799361328"
          data-elem-type="text"
          data-field-top-value="166"
          data-field-left-value="20"
          data-field-width-value="560"
          data-field-axisy-value="top"
          data-field-axisx-value="left"
          data-field-container-value="grid"
          data-field-topunits-value="px"
          data-field-leftunits-value="px"
          data-field-heightunits-value=""
          data-field-widthunits-value="px"
          data-field-top-res-320-value="95"
          data-field-left-res-320-value="10"
          data-field-top-res-480-value="95"
          data-field-left-res-480-value="20"
          data-field-top-res-640-value="174"
          data-field-left-res-640-value="20"
        >
          <div class="tn-atom">
            <a href="mailto:academy@oggettoweb.com" style="color: inherit"
              >academy@oggettoweb.com</a
            >
          </div>
        </div>
        <div
          class="t396__elem tn-elem tn-elem__4481597241631799441942"
          data-elem-id="1631799441942"
          data-elem-type="shape"
          data-field-top-value="253"
          data-field-left-value="-1000"
          data-field-height-value="3"
          data-field-width-value="3000"
          data-field-axisy-value="top"
          data-field-axisx-value="left"
          data-field-container-value="grid"
          data-field-topunits-value="px"
          data-field-leftunits-value="px"
          data-field-heightunits-value="px"
          data-field-widthunits-value="px"
          data-field-top-res-320-value="300"
          data-field-height-res-320-value="2"
          data-field-top-res-480-value="350"
          data-field-left-res-480-value="-1000"
          data-field-top-res-640-value="235"
          data-field-left-res-640-value="-1000"
          data-field-top-res-960-value="240"
          data-field-left-res-960-value="-1000"
          data-field-height-res-960-value="3"
          data-field-width-res-960-value="3000"
        >
          <div class="tn-atom"></div>
        </div>
        <div
          class="t396__elem tn-elem tn-elem__4481597241631799544253"
          data-elem-id="1631799544253"
          data-elem-type="image"
          data-field-top-value="282"
          data-field-left-value="20"
          data-field-width-value="130"
          data-field-axisy-value="top"
          data-field-axisx-value="left"
          data-field-container-value="grid"
          data-field-topunits-value="px"
          data-field-leftunits-value="px"
          data-field-heightunits-value=""
          data-field-widthunits-value="px"
          data-field-filewidth-value="298"
          data-field-fileheight-value="187"
          data-field-top-res-320-value="316"
          data-field-left-res-320-value="10"
          data-field-top-res-480-value="368"
          data-field-left-res-480-value="20"
          data-field-top-res-640-value="253"
          data-field-left-res-640-value="20"
          data-field-top-res-960-value="275"
          data-field-left-res-960-value="20"
          data-field-width-res-960-value="126"
        >
          <div class="tn-atom">
            <img
              class="tn-atom__img t-img"
              data-original="/assets/images/tild3737-6536-4037-a434-316335626462__oggetto-icons_academ.png"
              src="/assets/images/tild3737-6536-4037-a434-316335626462__-__resize__20x__oggetto-icons_academ.png"
              alt=""
              imgfield="tn_img_1631799544253"
            />
          </div>
        </div>
        <div
          class="t396__elem tn-elem tn-elem__4481597241631799576687"
          data-elem-id="1631799576687"
          data-elem-type="text"
          data-field-top-value="305"
          data-field-left-value="181"
          data-field-width-value="599"
          data-field-axisy-value="top"
          data-field-axisx-value="left"
          data-field-container-value="grid"
          data-field-topunits-value="px"
          data-field-leftunits-value="px"
          data-field-heightunits-value=""
          data-field-widthunits-value="px"
          data-field-top-res-320-value="331"
          data-field-left-res-320-value="150"
          data-field-width-res-320-value="170"
          data-field-top-res-480-value="377"
          data-field-left-res-480-value="172"
          data-field-width-res-480-value="297"
          data-field-top-res-640-value="277"
          data-field-left-res-640-value="150"
          data-field-top-res-960-value="299"
          data-field-left-res-960-value="151"
          data-field-width-res-960-value="490"
        >
          <div class="tn-atom" field="tn_text_1631799576687">
            Верный способ попасть в Оджетто
          </div>
        </div>
        <div
          class="t396__elem tn-elem tn-elem__4481597241651832717199"
          data-elem-id="1651832717199"
          data-elem-type="image"
          data-field-top-value="78"
          data-field-left-value="930"
          data-field-width-value="259"
          data-field-axisy-value="top"
          data-field-axisx-value="left"
          data-field-container-value="grid"
          data-field-topunits-value="px"
          data-field-leftunits-value="px"
          data-field-heightunits-value=""
          data-field-widthunits-value="px"
          data-field-filewidth-value="1232"
          data-field-fileheight-value="782"
          data-field-top-res-320-value="135"
          data-field-left-res-320-value="43"
          data-field-top-res-480-value="165"
          data-field-left-res-480-value="123"
          data-field-top-res-640-value="316"
          data-field-left-res-640-value="370"
          data-field-width-res-640-value="235"
          data-field-top-res-960-value="12"
          data-field-left-res-960-value="580"
        >
          <div class="tn-atom">
            <img
              class="tn-atom__img t-img"
              data-original="/assets/images/tild6631-3535-4663-b834-663964336632__e0f1d552865fddcf5938.svg"
              src="/assets/images/tild6631-3535-4663-b834-663964336632__e0f1d552865fddcf5938.svg"
              alt=""
              imgfield="tn_img_1651832717199"
            />
          </div>
        </div>
      </div>
    </div>
    
    <!-- /T396 -->
  </div>
  <div
    id="rec448159726"
    class="r t-rec"
    style="background-color: #ffffff"
    data-animationappear="off"
    data-record-type="345"
    data-bg-color="#ffffff"
  >
    <!-- T345 -->
    <div class="t345" id="footer_448159726">
      <div
        class="t345-wrapper"
        style="border-top: 1px solid; border-top-color: #ffffff"
      >
        <div class="t345-container t-container">
          <div class="t345-col t-col t-col_12">
            <div class="t345-content" style="height: 10px">
              <div class="t345-text__wrapper">
                <div class="t345-text t-descr t-descr_xxs">
                  <span style="font-weight: 600">© Oggetto, 2025</span>
                </div>
              </div>
              <div class="t345-socials"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    
  </div>
  <div
    id="rec448159727"
    class="r t-rec"
    style=""
    data-animationappear="off"
    data-record-type="270"
  >
    <div class="t270"></div>
    
  </div>
</footer>

{% js %}
{% include "footer/footer.js" %}
{% endjs %}
