#rec349111436 .t225__uptitle {
  text-transform: uppercase;
}
#rec349111436 .t225__title {
  padding-top: 5px;
  font-family: "Montserrat-ExtraBold";
}
@media screen and (min-width: 900px) {
  #rec349111436 .t225__title {
    font-size: 100px;
  }
}
#rec349111436 .t225__descr {
  font-size: 24px;
}

#rec349111437 .t585__title {
  font-size: 22px;
  line-height: 1.3;
  color: #262626;
  font-weight: 600;
  font-family: "Montserrat";
  max-width: 700;
}
#rec349111437 .t585__text {
  font-size: 16px;
  line-height: 1.3;
  color: #000000;
  font-weight: 500;
  font-family: "Montserrat";
  max-width: 600;
}

#rec448165529 .t225__uptitle {
  text-transform: uppercase;
}
#rec448165529 .t225__title {
  padding-top: 5px;
  font-family: "Montserrat-ExtraBold";
}
@media screen and (min-width: 900px) {
  #rec448165529 .t225__title {
    font-size: 40px;
  }
}
#rec448165529 .t225__descr {
  font-size: 24px;
}

#rec361955388 .t225__uptitle {
  text-transform: uppercase;
}
#rec361955388 .t225__title {
  padding-top: 5px;
  font-family: "Montserrat-ExtraBold";
}
@media screen and (min-width: 900px) {
  #rec361955388 .t225__title {
    font-size: 34px;
  }
}
#rec361955388 .t225__descr {
  font-size: 24px;
}

#rec361280646 .t585__title {
  font-size: 16px;
  line-height: 1.3;
  color: #262626;
  font-weight: 600;
  font-family: "Montserrat";
  max-width: 700;
}
#rec361280646 .t585__text {
  font-size: 16px;
  line-height: 1.3;
  color: #000000;
  font-weight: 500;
  font-family: "Montserrat";
  max-width: 600;
}
