{% css %}
{% include "teaching-directions-header/teaching-directions-header.css" %}
{% endcss %}

<div
  id="rec360788021"
  class="r t-rec t-rec_pt_60"
  style="padding-top: 60px"
  data-animationappear="off"
  data-record-type="396"
>
  <!-- T396 -->
  <div class="t396">
    <div
      class="t396__artboard"
      data-artboard-recid="360788021"
      data-artboard-screens="320,480,640,960,1200"
      data-artboard-height="270"
      data-artboard-valign="center"
      data-artboard-upscale="grid"
      data-artboard-height-res-320="220"
      data-artboard-height-res-480="280"
      data-artboard-height-res-640="285"
      data-artboard-height-res-960="280"
    >
      <div class="t396__carrier" data-artboard-recid="360788021"></div>
      <div class="t396__filter" data-artboard-recid="360788021"></div>
      <div
        class="t396__elem tn-elem tn-elem__3607880211470209944682"
        data-elem-id="1470209944682"
        data-elem-type="text"
        data-field-top-value="55"
        data-field-left-value="20"
        data-field-width-value="660"
        data-field-axisy-value="top"
        data-field-axisx-value="left"
        data-field-container-value="grid"
        data-field-topunits-value="px"
        data-field-leftunits-value="px"
        data-field-heightunits-value=""
        data-field-widthunits-value="px"
        data-field-top-res-320-value="32"
        data-field-left-res-320-value="10"
        data-field-width-res-320-value="312"
        data-field-top-res-480-value="26"
        data-field-left-res-480-value="10"
        data-field-width-res-480-value="459"
        data-field-top-res-640-value="12"
        data-field-left-res-640-value="11"
        data-field-width-res-640-value="608"
        data-field-leftunits-res-640-value="px"
        data-field-top-res-960-value="60"
        data-field-left-res-960-value="10"
      >
        <h2 class="tn-atom" field="tn_text_1470209944682">
          Направления обучения
        </h2>
      </div>
      <div
        class="t396__elem tn-elem tn-elem__3607880211651832167222"
        data-elem-id="1651832167222"
        data-elem-type="image"
        data-field-top-value="6"
        data-field-left-value="749"
        data-field-width-value="412"
        data-field-axisy-value="top"
        data-field-axisx-value="left"
        data-field-container-value="grid"
        data-field-topunits-value="px"
        data-field-leftunits-value="px"
        data-field-heightunits-value=""
        data-field-widthunits-value="px"
        data-field-filewidth-value="1877"
        data-field-fileheight-value="1341"
        data-field-top-res-320-value="105"
        data-field-left-res-320-value="120"
        data-field-width-res-320-value="190"
        data-field-top-res-480-value="134"
        data-field-left-res-480-value="244"
        data-field-width-res-480-value="235"
        data-field-top-res-640-value="121"
        data-field-left-res-640-value="359"
        data-field-width-res-640-value="280"
        data-field-top-res-960-value="78"
        data-field-left-res-960-value="619"
        data-field-width-res-960-value="330"
      >
        <div class="tn-atom">
          <img
            class="tn-atom__img t-img"
            data-original="/assets/images/tild6362-3535-4837-a565-323734373737__5a3e3f88408da29862e9.svg"
            src="/assets/images/tild6362-3535-4837-a565-323734373737__5a3e3f88408da29862e9.svg"
            alt=""
            imgfield="tn_img_1651832167222"
          />
        </div>
      </div>
    </div>
  </div>
  <!-- /T396 -->
</div>

{% js %}
{% include "teaching-directions-header/teaching-directions-header.js" %}
{% endjs %}
