#rec357069065 .t396__artboard {
  height: 1260px;
  background-color: #ffffff;
}
#rec357069065 .t396__filter {
  height: 1260px;
}
#rec357069065 .t396__carrier {
  height: 1260px;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (max-width: 1199px) {
  #rec357069065 .t396__artboard,
  #rec357069065 .t396__filter,
  #rec357069065 .t396__carrier {
    height: 1320px;
  }
  #rec357069065 .t396__filter {
  }
  #rec357069065 .t396__carrier {
    background-attachment: scroll;
  }
}
@media screen and (max-width: 959px) {
  #rec357069065 .t396__artboard,
  #rec357069065 .t396__filter,
  #rec357069065 .t396__carrier {
    height: 1720px;
  }
  #rec357069065 .t396__artboard {
    background-color: #ffffff;
  }
  #rec357069065 .t396__filter {
  }
  #rec357069065 .t396__carrier {
    background-position: center center;
    background-attachment: scroll;
  }
}
@media screen and (max-width: 639px) {
  #rec357069065 .t396__artboard,
  #rec357069065 .t396__filter,
  #rec357069065 .t396__carrier {
    height: 2540px;
  }
  #rec357069065 .t396__filter {
  }
  #rec357069065 .t396__carrier {
    background-attachment: scroll;
  }
}
@media screen and (max-width: 479px) {
  #rec357069065 .t396__artboard,
  #rec357069065 .t396__filter,
  #rec357069065 .t396__carrier {
    height: 2580px;
  }
  #rec357069065 .t396__filter {
  }
  #rec357069065 .t396__carrier {
    background-attachment: scroll;
  }
}
#rec357069065 .tn-elem[data-elem-id="1632477881646"] {
  color: #000000;
  z-index: 8;
  top: -1348px;
  left: 811px;
  width: 256px;
  height: auto;
}
#rec357069065 .tn-elem[data-elem-id="1632477881646"] .tn-atom {
  color: #000000;
  font-size: 20px;
  font-family: "Montserrat-ExtraBold", Arial, sans-serif;
  line-height: 1.55;
  font-weight: 700;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}
@media screen and (max-width: 1199px) {
  #rec357069065 .tn-elem[data-elem-id="1632477881646"] {
    width: 290px;
    height: auto;
  }
  #rec357069065 .tn-elem[data-elem-id="1632477881646"] .tn-atom {
    font-size: 25px;
    background-size: cover;
  }
}
@media screen and (max-width: 959px) {
  #rec357069065 .tn-elem[data-elem-id="1632477881646"] {
    width: 263px;
    height: auto;
  }
  #rec357069065 .tn-elem[data-elem-id="1632477881646"] .tn-atom {
    font-size: 20px;
    background-size: cover;
  }
}
@media screen and (max-width: 639px) {
  #rec357069065 .tn-elem[data-elem-id="1632477881646"] {
    height: auto;
  }
}
@media screen and (max-width: 479px) {
  #rec357069065 .tn-elem[data-elem-id="1632477881646"] {
    width: 261px;
    height: auto;
  }
}
#rec357069065 .tn-elem[data-elem-id="1632477881654"] {
  color: #000000;
  z-index: 9;
  top: -1308px;
  left: 811px;
  width: 340px;
  height: auto;
}
#rec357069065 .tn-elem[data-elem-id="1632477881654"] .tn-atom {
  color: #000000;
  font-size: 20px;
  font-family: "Montserrat", Arial, sans-serif;
  line-height: 1.1;
  font-weight: 400;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}
@media screen and (max-width: 1199px) {
  #rec357069065 .tn-elem[data-elem-id="1632477881654"] {
    width: 290px;
    height: auto;
  }
  #rec357069065 .tn-elem[data-elem-id="1632477881654"] .tn-atom {
    font-size: 18px;
    background-size: cover;
  }
}
@media screen and (max-width: 959px) {
  #rec357069065 .tn-elem[data-elem-id="1632477881654"] {
    width: 280px;
    height: auto;
  }
  #rec357069065 .tn-elem[data-elem-id="1632477881654"] .tn-atom {
    font-size: 18px;
    background-size: cover;
  }
}
@media screen and (max-width: 639px) {
  #rec357069065 .tn-elem[data-elem-id="1632477881654"] {
    width: 460px;
    height: auto;
  }
  #rec357069065 .tn-elem[data-elem-id="1632477881654"] .tn-atom {
    font-size: 18px;
    background-size: cover;
  }
}
@media screen and (max-width: 479px) {
  #rec357069065 .tn-elem[data-elem-id="1632477881654"] {
    width: 297px;
    height: auto;
  }
  #rec357069065 .tn-elem[data-elem-id="1632477881654"] .tn-atom {
    font-size: 16px;
    background-size: cover;
  }
}
#rec357069065 .tn-elem[data-elem-id="1650993452554"] {
  z-index: 10;
  top: -1397px;
  left: 811px;
  width: 30px;
  height: auto;
  pointer-events: none;
}
#rec357069065 .tn-elem[data-elem-id="1650993452554"] .tn-atom {
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}
#rec357069065 .tn-elem[data-elem-id="1650993452554"] .tn-atom__img {
}
@media screen and (max-width: 1199px) {
  #rec357069065 .tn-elem[data-elem-id="1650993452554"] {
    height: auto;
  }
}
@media screen and (max-width: 959px) {
  #rec357069065 .tn-elem[data-elem-id="1650993452554"] {
    height: auto;
  }
}
@media screen and (max-width: 639px) {
  #rec357069065 .tn-elem[data-elem-id="1650993452554"] {
    height: auto;
  }
}
@media screen and (max-width: 479px) {
  #rec357069065 .tn-elem[data-elem-id="1650993452554"] {
    width: 30px;
    height: auto;
  }
}
#rec357069065 .tn-elem[data-elem-id="1631796483916"] {
  color: #000000;
  z-index: 26;
  top: 117px;
  left: 9px;
  width: 320px;
  height: auto;
}
#rec357069065 .tn-elem[data-elem-id="1631796483916"] .tn-atom {
  color: #000000;
  font-size: 20px;
  font-family: "Montserrat-ExtraBold", Arial, sans-serif;
  line-height: 1.2;
  font-weight: 700;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}
@media screen and (max-width: 1199px) {
  #rec357069065 .tn-elem[data-elem-id="1631796483916"] {
    width: 295px;
    height: auto;
  }
  #rec357069065 .tn-elem[data-elem-id="1631796483916"] .tn-atom {
    font-size: 25px;
    background-size: cover;
  }
}
@media screen and (max-width: 959px) {
  #rec357069065 .tn-elem[data-elem-id="1631796483916"] {
    width: 297px;
    height: auto;
  }
  #rec357069065 .tn-elem[data-elem-id="1631796483916"] .tn-atom {
    font-size: 20px;
    background-size: cover;
  }
}
@media screen and (max-width: 639px) {
  #rec357069065 .tn-elem[data-elem-id="1631796483916"] {
    width: 361px;
    height: auto;
  }
}
@media screen and (max-width: 479px) {
  #rec357069065 .tn-elem[data-elem-id="1631796483916"] {
    width: 296px;
    height: auto;
  }
}
#rec357069065 .tn-elem[data-elem-id="1631796483922"] {
  color: #000000;
  z-index: 27;
  top: 174px;
  left: 9px;
  width: 340px;
  height: auto;
}
#rec357069065 .tn-elem[data-elem-id="1631796483922"] .tn-atom {
  color: #000000;
  font-size: 20px;
  font-family: "Montserrat", Arial, sans-serif;
  line-height: 1.1;
  font-weight: 400;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}
@media screen and (max-width: 1199px) {
  #rec357069065 .tn-elem[data-elem-id="1631796483922"] {
    width: 285px;
    height: auto;
  }
  #rec357069065 .tn-elem[data-elem-id="1631796483922"] .tn-atom {
    font-size: 18px;
    background-size: cover;
  }
}
@media screen and (max-width: 959px) {
  #rec357069065 .tn-elem[data-elem-id="1631796483922"] {
    width: 297px;
    height: auto;
  }
  #rec357069065 .tn-elem[data-elem-id="1631796483922"] .tn-atom {
    font-size: 18px;
    background-size: cover;
  }
}
@media screen and (max-width: 639px) {
  #rec357069065 .tn-elem[data-elem-id="1631796483922"] {
    width: 459px;
    height: auto;
  }
  #rec357069065 .tn-elem[data-elem-id="1631796483922"] .tn-atom {
    font-size: 18px;
    background-size: cover;
  }
}
@media screen and (max-width: 479px) {
  #rec357069065 .tn-elem[data-elem-id="1631796483922"] {
    width: 297px;
    height: auto;
  }
  #rec357069065 .tn-elem[data-elem-id="1631796483922"] .tn-atom {
    font-size: 16px;
    background-size: cover;
  }
}
#rec357069065 .tn-elem[data-elem-id="1650992296939"] {
  z-index: 28;
  top: 73px;
  left: 9px;
  width: 30px;
  height: auto;
  pointer-events: none;
}
#rec357069065 .tn-elem[data-elem-id="1650992296939"] .tn-atom {
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}
#rec357069065 .tn-elem[data-elem-id="1650992296939"] .tn-atom__img {
}
@media screen and (max-width: 1199px) {
  #rec357069065 .tn-elem[data-elem-id="1650992296939"] {
    width: 29px;
    height: auto;
  }
}
@media screen and (max-width: 959px) {
  #rec357069065 .tn-elem[data-elem-id="1650992296939"] {
    width: 31px;
    height: auto;
  }
}
@media screen and (max-width: 639px) {
  #rec357069065 .tn-elem[data-elem-id="1650992296939"] {
    width: 32px;
    height: auto;
  }
}
@media screen and (max-width: 479px) {
  #rec357069065 .tn-elem[data-elem-id="1650992296939"] {
    width: 30px;
    height: auto;
  }
}
#rec357069065 .tn-elem[data-elem-id="1631796476967"] {
  color: #000000;
  z-index: 19;
  top: -162px;
  left: 412px;
  width: 230px;
  height: auto;
}
#rec357069065 .tn-elem[data-elem-id="1631796476967"] .tn-atom {
  color: #000000;
  font-size: 20px;
  font-family: "Montserrat-ExtraBold", Arial, sans-serif;
  line-height: 1.55;
  font-weight: 700;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}
@media screen and (max-width: 1199px) {
  #rec357069065 .tn-elem[data-elem-id="1631796476967"] {
    width: 300px;
    height: auto;
  }
  #rec357069065 .tn-elem[data-elem-id="1631796476967"] .tn-atom {
    font-size: 25px;
    background-size: cover;
  }
}
@media screen and (max-width: 959px) {
  #rec357069065 .tn-elem[data-elem-id="1631796476967"] {
    width: 278px;
    height: auto;
  }
  #rec357069065 .tn-elem[data-elem-id="1631796476967"] .tn-atom {
    font-size: 20px;
    background-size: cover;
  }
}
@media screen and (max-width: 639px) {
  #rec357069065 .tn-elem[data-elem-id="1631796476967"] {
    width: 293px;
    height: auto;
  }
}
@media screen and (max-width: 479px) {
  #rec357069065 .tn-elem[data-elem-id="1631796476967"] {
    height: auto;
  }
}
#rec357069065 .tn-elem[data-elem-id="1651839536529"] {
  z-index: 20;
  top: -206px;
  left: 412px;
  width: 30px;
  height: auto;
  pointer-events: none;
}
#rec357069065 .tn-elem[data-elem-id="1651839536529"] .tn-atom {
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}
#rec357069065 .tn-elem[data-elem-id="1651839536529"] .tn-atom__img {
}
@media screen and (max-width: 1199px) {
  #rec357069065 .tn-elem[data-elem-id="1651839536529"] {
    height: auto;
  }
}
@media screen and (max-width: 959px) {
  #rec357069065 .tn-elem[data-elem-id="1651839536529"] {
    height: auto;
  }
}
@media screen and (max-width: 639px) {
  #rec357069065 .tn-elem[data-elem-id="1651839536529"] {
    width: 31px;
    height: auto;
  }
}
@media screen and (max-width: 479px) {
  #rec357069065 .tn-elem[data-elem-id="1651839536529"] {
    width: 30px;
    height: auto;
  }
}
#rec357069065 .tn-elem[data-elem-id="1631796476972"] {
  color: #000000;
  z-index: 21;
  top: -105px;
  left: 412px;
  width: 340px;
  height: auto;
}
#rec357069065 .tn-elem[data-elem-id="1631796476972"] .tn-atom {
  color: #000000;
  font-size: 20px;
  font-family: "Montserrat", Arial, sans-serif;
  line-height: 1.1;
  font-weight: 400;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}
@media screen and (max-width: 1199px) {
  #rec357069065 .tn-elem[data-elem-id="1631796476972"] {
    width: 290px;
    height: auto;
  }
  #rec357069065 .tn-elem[data-elem-id="1631796476972"] .tn-atom {
    font-size: 18px;
    background-size: cover;
  }
}
@media screen and (max-width: 959px) {
  #rec357069065 .tn-elem[data-elem-id="1631796476972"] {
    width: 296px;
    height: auto;
  }
  #rec357069065 .tn-elem[data-elem-id="1631796476972"] .tn-atom {
    font-size: 18px;
    background-size: cover;
  }
}
@media screen and (max-width: 639px) {
  #rec357069065 .tn-elem[data-elem-id="1631796476972"] {
    width: 459px;
    height: auto;
  }
  #rec357069065 .tn-elem[data-elem-id="1631796476972"] .tn-atom {
    font-size: 18px;
    background-size: cover;
  }
}
@media screen and (max-width: 479px) {
  #rec357069065 .tn-elem[data-elem-id="1631796476972"] {
    width: 299px;
    height: auto;
  }
  #rec357069065 .tn-elem[data-elem-id="1631796476972"] .tn-atom {
    font-size: 16px;
    background-size: cover;
  }
}
#rec357069065 .tn-elem[data-elem-id="1631796480995"] {
  color: #000000;
  z-index: 4;
  top: -457px;
  left: 812px;
  width: 340px;
  height: auto;
}
#rec357069065 .tn-elem[data-elem-id="1631796480995"] .tn-atom {
  color: #000000;
  font-size: 20px;
  font-family: "Montserrat-ExtraBold", Arial, sans-serif;
  line-height: 1.2;
  font-weight: 700;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}
@media screen and (max-width: 1199px) {
  #rec357069065 .tn-elem[data-elem-id="1631796480995"] {
    width: 300px;
    height: auto;
  }
  #rec357069065 .tn-elem[data-elem-id="1631796480995"] .tn-atom {
    font-size: 25px;
    line-height: 1.2;
    background-size: cover;
  }
}
@media screen and (max-width: 959px) {
  #rec357069065 .tn-elem[data-elem-id="1631796480995"] {
    width: 297px;
    height: auto;
  }
  #rec357069065 .tn-elem[data-elem-id="1631796480995"] .tn-atom {
    font-size: 20px;
    background-size: cover;
  }
}
@media screen and (max-width: 639px) {
  #rec357069065 .tn-elem[data-elem-id="1631796480995"] {
    width: 400px;
    height: auto;
  }
}
@media screen and (max-width: 479px) {
  #rec357069065 .tn-elem[data-elem-id="1631796480995"] {
    width: 300px;
    height: auto;
  }
}
#rec357069065 .tn-elem[data-elem-id="1631796481000"] {
  color: #000000;
  z-index: 5;
  top: -400px;
  left: 812px;
  width: 340px;
  height: auto;
}
#rec357069065 .tn-elem[data-elem-id="1631796481000"] .tn-atom {
  color: #000000;
  font-size: 20px;
  font-family: "Montserrat", Arial, sans-serif;
  line-height: 1.1;
  font-weight: 400;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}
@media screen and (max-width: 1199px) {
  #rec357069065 .tn-elem[data-elem-id="1631796481000"] {
    width: 290px;
    height: auto;
  }
  #rec357069065 .tn-elem[data-elem-id="1631796481000"] .tn-atom {
    font-size: 18px;
    background-size: cover;
  }
}
@media screen and (max-width: 959px) {
  #rec357069065 .tn-elem[data-elem-id="1631796481000"] {
    width: 277px;
    height: auto;
  }
  #rec357069065 .tn-elem[data-elem-id="1631796481000"] .tn-atom {
    font-size: 18px;
    background-size: cover;
  }
}
@media screen and (max-width: 639px) {
  #rec357069065 .tn-elem[data-elem-id="1631796481000"] {
    width: 458px;
    height: auto;
  }
  #rec357069065 .tn-elem[data-elem-id="1631796481000"] .tn-atom {
    font-size: 18px;
    background-size: cover;
  }
}
@media screen and (max-width: 479px) {
  #rec357069065 .tn-elem[data-elem-id="1631796481000"] {
    width: 237px;
    height: auto;
  }
  #rec357069065 .tn-elem[data-elem-id="1631796481000"] .tn-atom {
    font-size: 16px;
    background-size: cover;
  }
}
#rec357069065 .tn-elem[data-elem-id="1650993191852"] {
  z-index: 6;
  top: -501px;
  left: 812px;
  width: 30px;
  height: auto;
  pointer-events: none;
}
#rec357069065 .tn-elem[data-elem-id="1650993191852"] .tn-atom {
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}
#rec357069065 .tn-elem[data-elem-id="1650993191852"] .tn-atom__img {
}
@media screen and (max-width: 1199px) {
  #rec357069065 .tn-elem[data-elem-id="1650993191852"] {
    height: auto;
  }
}
@media screen and (max-width: 959px) {
  #rec357069065 .tn-elem[data-elem-id="1650993191852"] {
    width: 29px;
    height: auto;
  }
}
@media screen and (max-width: 639px) {
  #rec357069065 .tn-elem[data-elem-id="1650993191852"] {
    width: 31px;
    height: auto;
  }
}
@media screen and (max-width: 479px) {
  #rec357069065 .tn-elem[data-elem-id="1650993191852"] {
    width: 30px;
    height: auto;
  }
}
#rec357069065 .tn-elem[data-elem-id="1632477497903"] {
  color: #000000;
  z-index: 11;
  top: -747px;
  left: 10px;
  width: 256px;
  height: auto;
}
#rec357069065 .tn-elem[data-elem-id="1632477497903"] .tn-atom {
  color: #000000;
  font-size: 20px;
  font-family: "Montserrat-ExtraBold", Arial, sans-serif;
  line-height: 1.55;
  font-weight: 700;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}
@media screen and (max-width: 1199px) {
  #rec357069065 .tn-elem[data-elem-id="1632477497903"] {
    width: 290px;
    height: auto;
  }
  #rec357069065 .tn-elem[data-elem-id="1632477497903"] .tn-atom {
    font-size: 25px;
    line-height: 1.2;
    background-size: cover;
  }
}
@media screen and (max-width: 959px) {
  #rec357069065 .tn-elem[data-elem-id="1632477497903"] {
    width: 263px;
    height: auto;
  }
  #rec357069065 .tn-elem[data-elem-id="1632477497903"] .tn-atom {
    font-size: 20px;
    background-size: cover;
  }
}
@media screen and (max-width: 639px) {
  #rec357069065 .tn-elem[data-elem-id="1632477497903"] {
    height: auto;
  }
}
@media screen and (max-width: 479px) {
  #rec357069065 .tn-elem[data-elem-id="1632477497903"] {
    width: 262px;
    height: auto;
  }
}
#rec357069065 .tn-elem[data-elem-id="1632477497910"] {
  color: #000000;
  z-index: 12;
  top: -707px;
  left: 8px;
  width: 340px;
  height: auto;
}
#rec357069065 .tn-elem[data-elem-id="1632477497910"] .tn-atom {
  color: #000000;
  font-size: 20px;
  font-family: "Montserrat", Arial, sans-serif;
  line-height: 1.1;
  font-weight: 400;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}
@media screen and (max-width: 1199px) {
  #rec357069065 .tn-elem[data-elem-id="1632477497910"] {
    width: 290px;
    height: auto;
  }
  #rec357069065 .tn-elem[data-elem-id="1632477497910"] .tn-atom {
    font-size: 18px;
    background-size: cover;
  }
}
@media screen and (max-width: 959px) {
  #rec357069065 .tn-elem[data-elem-id="1632477497910"] {
    width: 280px;
    height: auto;
  }
  #rec357069065 .tn-elem[data-elem-id="1632477497910"] .tn-atom {
    font-size: 18px;
    background-size: cover;
  }
}
@media screen and (max-width: 639px) {
  #rec357069065 .tn-elem[data-elem-id="1632477497910"] {
    width: 458px;
    height: auto;
  }
  #rec357069065 .tn-elem[data-elem-id="1632477497910"] .tn-atom {
    font-size: 18px;
    background-size: cover;
  }
}
@media screen and (max-width: 479px) {
  #rec357069065 .tn-elem[data-elem-id="1632477497910"] {
    width: 298px;
    height: auto;
  }
  #rec357069065 .tn-elem[data-elem-id="1632477497910"] .tn-atom {
    font-size: 16px;
    background-size: cover;
  }
}
#rec357069065 .tn-elem[data-elem-id="1651835912745"] {
  z-index: 13;
  top: -790px;
  left: 10px;
  width: 30px;
  height: auto;
  pointer-events: none;
}
#rec357069065 .tn-elem[data-elem-id="1651835912745"] .tn-atom {
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}
#rec357069065 .tn-elem[data-elem-id="1651835912745"] .tn-atom__img {
}
@media screen and (max-width: 1199px) {
  #rec357069065 .tn-elem[data-elem-id="1651835912745"] {
    height: auto;
  }
}
@media screen and (max-width: 959px) {
  #rec357069065 .tn-elem[data-elem-id="1651835912745"] {
    height: auto;
  }
}
@media screen and (max-width: 639px) {
  #rec357069065 .tn-elem[data-elem-id="1651835912745"] {
    height: auto;
  }
}
@media screen and (max-width: 479px) {
  #rec357069065 .tn-elem[data-elem-id="1651835912745"] {
    width: 30px;
    height: auto;
  }
}
#rec357069065 .tn-elem[data-elem-id="1632477999018"] {
  color: #000000;
  z-index: 15;
  top: -977px;
  left: 412px;
  width: 340px;
  height: auto;
}
#rec357069065 .tn-elem[data-elem-id="1632477999018"] .tn-atom {
  color: #000000;
  font-size: 20px;
  font-family: "Montserrat", Arial, sans-serif;
  line-height: 1.1;
  font-weight: 400;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}
@media screen and (max-width: 1199px) {
  #rec357069065 .tn-elem[data-elem-id="1632477999018"] {
    width: 290px;
    height: auto;
  }
  #rec357069065 .tn-elem[data-elem-id="1632477999018"] .tn-atom {
    font-size: 18px;
    background-size: cover;
  }
}
@media screen and (max-width: 959px) {
  #rec357069065 .tn-elem[data-elem-id="1632477999018"] {
    width: 280px;
    height: auto;
  }
  #rec357069065 .tn-elem[data-elem-id="1632477999018"] .tn-atom {
    font-size: 18px;
    background-size: cover;
  }
}
@media screen and (max-width: 639px) {
  #rec357069065 .tn-elem[data-elem-id="1632477999018"] {
    width: 458px;
    height: auto;
  }
  #rec357069065 .tn-elem[data-elem-id="1632477999018"] .tn-atom {
    font-size: 18px;
    background-size: cover;
  }
}
@media screen and (max-width: 479px) {
  #rec357069065 .tn-elem[data-elem-id="1632477999018"] {
    width: 298px;
    height: auto;
  }
  #rec357069065 .tn-elem[data-elem-id="1632477999018"] .tn-atom {
    font-size: 16px;
    background-size: cover;
  }
}
#rec357069065 .tn-elem[data-elem-id="1650992306854"] {
  z-index: 16;
  top: -1060px;
  left: 412px;
  width: 30px;
  height: auto;
  pointer-events: none;
}
#rec357069065 .tn-elem[data-elem-id="1650992306854"] .tn-atom {
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}
#rec357069065 .tn-elem[data-elem-id="1650992306854"] .tn-atom__img {
}
@media screen and (max-width: 1199px) {
  #rec357069065 .tn-elem[data-elem-id="1650992306854"] {
    height: auto;
  }
}
@media screen and (max-width: 959px) {
  #rec357069065 .tn-elem[data-elem-id="1650992306854"] {
    height: auto;
  }
}
@media screen and (max-width: 639px) {
  #rec357069065 .tn-elem[data-elem-id="1650992306854"] {
    height: auto;
  }
}
@media screen and (max-width: 479px) {
  #rec357069065 .tn-elem[data-elem-id="1650992306854"] {
    width: 30px;
    height: auto;
  }
}
#rec357069065 .tn-elem[data-elem-id="1632480396262"] {
  color: #000000;
  z-index: 17;
  top: -1017px;
  left: 412px;
  width: 307px;
  height: auto;
}
#rec357069065 .tn-elem[data-elem-id="1632480396262"] .tn-atom {
  color: #000000;
  font-size: 20px;
  font-family: "Montserrat-ExtraBold", Arial, sans-serif;
  line-height: 1.2;
  font-weight: 700;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}
@media screen and (max-width: 1199px) {
  #rec357069065 .tn-elem[data-elem-id="1632480396262"] {
    width: 290px;
    height: auto;
  }
  #rec357069065 .tn-elem[data-elem-id="1632480396262"] .tn-atom {
    font-size: 25px;
    background-size: cover;
  }
}
@media screen and (max-width: 959px) {
  #rec357069065 .tn-elem[data-elem-id="1632480396262"] {
    width: 280px;
    height: auto;
  }
  #rec357069065 .tn-elem[data-elem-id="1632480396262"] .tn-atom {
    font-size: 20px;
    background-size: cover;
  }
}
@media screen and (max-width: 639px) {
  #rec357069065 .tn-elem[data-elem-id="1632480396262"] {
    width: 448px;
    height: auto;
  }
}
@media screen and (max-width: 479px) {
  #rec357069065 .tn-elem[data-elem-id="1632480396262"] {
    width: 290px;
    height: auto;
  }
}
#rec357069065 .tn-elem[data-elem-id="1631796353931"] {
  color: #000000;
  z-index: 23;
  top: -1166px;
  left: 9px;
  width: 260px;
  height: auto;
}
#rec357069065 .tn-elem[data-elem-id="1631796353931"] .tn-atom {
  color: #000000;
  font-size: 20px;
  font-family: "Montserrat-ExtraBold", Arial, sans-serif;
  line-height: 1.55;
  font-weight: 700;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}
@media screen and (max-width: 1199px) {
  #rec357069065 .tn-elem[data-elem-id="1631796353931"] {
    width: 290px;
    height: auto;
  }
  #rec357069065 .tn-elem[data-elem-id="1631796353931"] .tn-atom {
    font-size: 25px;
    line-height: 1.2;
    background-size: cover;
  }
}
@media screen and (max-width: 959px) {
  #rec357069065 .tn-elem[data-elem-id="1631796353931"] {
    width: 298px;
    height: auto;
  }
  #rec357069065 .tn-elem[data-elem-id="1631796353931"] .tn-atom {
    font-size: 20px;
    background-size: cover;
  }
}
@media screen and (max-width: 639px) {
  #rec357069065 .tn-elem[data-elem-id="1631796353931"] {
    width: 411px;
    height: auto;
  }
}
@media screen and (max-width: 479px) {
  #rec357069065 .tn-elem[data-elem-id="1631796353931"] {
    width: 297px;
    height: auto;
  }
  #rec357069065 .tn-elem[data-elem-id="1631796353931"] .tn-atom {
    font-size: 20px;
    line-height: 1;
    background-size: cover;
  }
}
#rec357069065 .tn-elem[data-elem-id="1631796395763"] {
  color: #000000;
  z-index: 24;
  top: -1126px;
  left: 8px;
  width: 340px;
  height: auto;
}
#rec357069065 .tn-elem[data-elem-id="1631796395763"] .tn-atom {
  color: #000000;
  font-size: 20px;
  font-family: "Montserrat", Arial, sans-serif;
  line-height: 1.1;
  font-weight: 400;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}
@media screen and (max-width: 1199px) {
  #rec357069065 .tn-elem[data-elem-id="1631796395763"] {
    width: 296px;
    height: auto;
  }
  #rec357069065 .tn-elem[data-elem-id="1631796395763"] .tn-atom {
    font-size: 18px;
    background-size: cover;
  }
}
@media screen and (max-width: 959px) {
  #rec357069065 .tn-elem[data-elem-id="1631796395763"] {
    width: 278px;
    height: auto;
  }
  #rec357069065 .tn-elem[data-elem-id="1631796395763"] .tn-atom {
    font-size: 18px;
    background-size: cover;
  }
}
@media screen and (max-width: 639px) {
  #rec357069065 .tn-elem[data-elem-id="1631796395763"] {
    width: 451px;
    height: auto;
  }
  #rec357069065 .tn-elem[data-elem-id="1631796395763"] .tn-atom {
    font-size: 18px;
    background-size: cover;
  }
}
@media screen and (max-width: 479px) {
  #rec357069065 .tn-elem[data-elem-id="1631796395763"] {
    width: 297px;
    height: auto;
  }
  #rec357069065 .tn-elem[data-elem-id="1631796395763"] .tn-atom {
    font-size: 16px;
    background-size: cover;
  }
}
#rec357069065 .tn-elem[data-elem-id="1650993463097"] {
  z-index: 25;
  top: -1209px;
  left: 9px;
  width: 30px;
  height: auto;
  pointer-events: none;
}
#rec357069065 .tn-elem[data-elem-id="1650993463097"] .tn-atom {
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}
#rec357069065 .tn-elem[data-elem-id="1650993463097"] .tn-atom__img {
}
@media screen and (max-width: 1199px) {
  #rec357069065 .tn-elem[data-elem-id="1650993463097"] {
    height: auto;
  }
}
@media screen and (max-width: 959px) {
  #rec357069065 .tn-elem[data-elem-id="1650993463097"] {
    width: 29px;
    height: auto;
  }
}
@media screen and (max-width: 639px) {
  #rec357069065 .tn-elem[data-elem-id="1650993463097"] {
    height: auto;
  }
}
@media screen and (max-width: 479px) {
  #rec357069065 .tn-elem[data-elem-id="1650993463097"] {
    width: 30px;
    height: auto;
  }
}
#rec357069065 .tn-elem[data-elem-id="1470209944682"] {
  color: #262626;
  z-index: 1;
  top: 1px;
  left: calc(50% - 600px + 0px);
  width: 1264px;
  height: auto;
}
#rec357069065 .tn-elem[data-elem-id="1470209944682"] .tn-atom {
  color: #262626;
  font-size: 76px;
  font-family: "Montserrat-ExtraBold", Arial, sans-serif;
  line-height: 0.95;
  font-weight: 700;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}
@media screen and (max-width: 1199px) {
  #rec357069065 .tn-elem[data-elem-id="1470209944682"] {
    top: 15px;
    left: calc(50% - 480px + 20px);
    width: 934px;
    height: auto;
  }
  #rec357069065 .tn-elem[data-elem-id="1470209944682"] .tn-atom {
    font-size: 59px;
    background-size: cover;
  }
}
@media screen and (max-width: 959px) {
  #rec357069065 .tn-elem[data-elem-id="1470209944682"] {
    top: 33px;
    left: calc(50% - 320px + 20px);
    width: 620px;
    height: auto;
  }
  #rec357069065 .tn-elem[data-elem-id="1470209944682"] .tn-atom {
    font-size: 60px;
    background-size: cover;
  }
}
@media screen and (max-width: 639px) {
  #rec357069065 .tn-elem[data-elem-id="1470209944682"] {
    top: 15px;
    left: calc(50% - 240px + 11px);
    width: 450px;
    height: auto;
  }
  #rec357069065 .tn-elem[data-elem-id="1470209944682"] .tn-atom {
    font-size: 40px;
    background-size: cover;
  }
}
@media screen and (max-width: 479px) {
  #rec357069065 .tn-elem[data-elem-id="1470209944682"] {
    top: 15px;
    left: calc(50% - 160px + 10px);
    width: 299px;
    height: auto;
  }
  #rec357069065 .tn-elem[data-elem-id="1470209944682"] .tn-atom {
    font-size: 29px;
    background-size: cover;
  }
}
#rec357069065 .tn-elem[data-elem-id="1651832419641"] {
  z-index: 30;
  top: 868px;
  left: calc(50% - 600px + 423px);
  width: 327px;
  height: auto;
  pointer-events: none;
}
#rec357069065 .tn-elem[data-elem-id="1651832419641"] .tn-atom {
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}
#rec357069065 .tn-elem[data-elem-id="1651832419641"] .tn-atom__img {
}
@media screen and (max-width: 1199px) {
  #rec357069065 .tn-elem[data-elem-id="1651832419641"] {
    top: 877px;
    left: calc(50% - 480px + 332px);
    width: 290px;
    height: auto;
  }
}
@media screen and (max-width: 959px) {
  #rec357069065 .tn-elem[data-elem-id="1651832419641"] {
    top: 1462px;
    left: calc(50% - 320px + 12px);
    width: 308px;
    height: auto;
  }
}
@media screen and (max-width: 639px) {
  #rec357069065 .tn-elem[data-elem-id="1651832419641"] {
    top: 1851px;
    left: calc(50% - 240px + 44px);
    height: auto;
  }
}
@media screen and (max-width: 479px) {
  #rec357069065 .tn-elem[data-elem-id="1651832419641"] {
    top: 1902px;
    left: calc(50% - 160px + 11px);
    width: 298px;
    height: auto;
  }
}
#rec357069065 .tn-elem[data-elem-id="1651832419646"] {
  z-index: 31;
  top: 437px;
  left: calc(50% - 600px + 845px);
  width: 295px;
  height: auto;
  pointer-events: none;
}
#rec357069065 .tn-elem[data-elem-id="1651832419646"] .tn-atom {
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}
#rec357069065 .tn-elem[data-elem-id="1651832419646"] .tn-atom__img {
}
@media screen and (max-width: 1199px) {
  #rec357069065 .tn-elem[data-elem-id="1651832419646"] {
    top: 455px;
    left: calc(50% - 480px + 651px);
    height: auto;
  }
}
@media screen and (max-width: 959px) {
  #rec357069065 .tn-elem[data-elem-id="1651832419646"] {
    top: 908px;
    left: calc(50% - 320px + 12px);
    width: 264px;
    height: auto;
  }
}
@media screen and (max-width: 639px) {
  #rec357069065 .tn-elem[data-elem-id="1651832419646"] {
    top: 927px;
    left: calc(50% - 240px + 91px);
    width: 298px;
    height: auto;
  }
}
@media screen and (max-width: 479px) {
  #rec357069065 .tn-elem[data-elem-id="1651832419646"] {
    top: 964px;
    left: calc(50% - 160px + 11px);
    width: 297px;
    height: auto;
  }
}
