#rec440514869 .t396__artboard {
  height: 301px;
  background-color: #ffffff;
}
#rec440514869 .t396__filter {
  height: 301px;
}
#rec440514869 .t396__carrier {
  height: 301px;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (max-width: 1199px) {
  #rec440514869 .t396__artboard,
  #rec440514869 .t396__filter,
  #rec440514869 .t396__carrier {
  }
  #rec440514869 .t396__filter {
  }
  #rec440514869 .t396__carrier {
    background-attachment: scroll;
  }
}
@media screen and (max-width: 959px) {
  #rec440514869 .t396__artboard,
  #rec440514869 .t396__filter,
  #rec440514869 .t396__carrier {
  }
  #rec440514869 .t396__filter {
  }
  #rec440514869 .t396__carrier {
    background-attachment: scroll;
  }
}
@media screen and (max-width: 639px) {
  #rec440514869 .t396__artboard,
  #rec440514869 .t396__filter,
  #rec440514869 .t396__carrier {
  }
  #rec440514869 .t396__filter {
  }
  #rec440514869 .t396__carrier {
    background-attachment: scroll;
  }
}
@media screen and (max-width: 479px) {
  #rec440514869 .t396__artboard,
  #rec440514869 .t396__filter,
  #rec440514869 .t396__carrier {
  }
  #rec440514869 .t396__filter {
  }
  #rec440514869 .t396__carrier {
    background-attachment: scroll;
  }
}
#rec440514869 .tn-elem[data-elem-id="1650966930879"] {
  color: #000000;
  text-align: LEFT;
  z-index: 1;
  top: 23px;
  left: calc(50% - 600px + 2px);
  width: 711px;
  height: auto;
}
#rec440514869 .tn-elem[data-elem-id="1650966930879"] .tn-atom {
  color: #000000;
  font-size: 36px;
  font-family: "Montserrat", Arial, sans-serif;
  line-height: 1.3;
  font-weight: 800;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}
@media screen and (max-width: 1199px) {
}
@media screen and (max-width: 959px) {
  #rec440514869 .tn-elem[data-elem-id="1650966930879"] {
    top: 23px;
    left: calc(50% - 320px + 27px);
    width: 630px;
    height: auto;
  }
}
@media screen and (max-width: 639px) {
  #rec440514869 .tn-elem[data-elem-id="1650966930879"] {
    top: 23px;
    left: calc(50% - 240px + 31px);
    height: auto;
  }
}
@media screen and (max-width: 479px) {
  #rec440514869 .tn-elem[data-elem-id="1650966930879"] {
    top: 5px;
    left: calc(50% - 160px + 6px);
    width: 200px;
    height: auto;
  }
  #rec440514869 .tn-elem[data-elem-id="1650966930879"] {
    text-align: center;
  }
  #rec440514869 .tn-elem[data-elem-id="1650966930879"] .tn-atom {
    font-size: 34px;
    background-size: cover;
    opacity: 1;
  }
}
#rec440514869 .tn-elem[data-elem-id="1651832596899"] {
  z-index: 3;
  top: 2px;
  left: calc(50% - 600px + 417px);
  width: 764px;
  height: auto;
  pointer-events: none;
}
#rec440514869 .tn-elem[data-elem-id="1651832596899"] .tn-atom {
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}
#rec440514869 .tn-elem[data-elem-id="1651832596899"] .tn-atom__img {
}
@media screen and (max-width: 1199px) {
  #rec440514869 .tn-elem[data-elem-id="1651832596899"] {
    top: 54px;
    left: calc(50% - 480px + 392px);
    width: 568px;
    height: auto;
  }
}
@media screen and (max-width: 959px) {
  #rec440514869 .tn-elem[data-elem-id="1651832596899"] {
    top: 130px;
    left: calc(50% - 320px + 260px);
    width: 363px;
    height: auto;
  }
}
@media screen and (max-width: 639px) {
  #rec440514869 .tn-elem[data-elem-id="1651832596899"] {
    top: 169px;
    left: calc(50% - 240px + 184px);
    width: 296px;
    height: auto;
  }
}
@media screen and (max-width: 479px) {
  #rec440514869 .tn-elem[data-elem-id="1651832596899"] {
    top: 180px;
    left: calc(50% - 160px + 34px);
    width: 286px;
    height: auto;
  }
}
#rec440514869 .tn-elem[data-elem-id="1650966930893"] {
  color: #000000;
  text-align: center;
  z-index: 4;
  top: 415px;
  left: calc(50% - 600px + 0px);
  width: 286px;
  height: 64px;
}
#rec440514869 .tn-elem[data-elem-id="1650966930893"] .tn-atom {
  color: #000000;
  font-size: 18px;
  font-family: "Montserrat", Arial, sans-serif;
  line-height: 1.3;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 4px;
  background-color: #ffdd00;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
  transition:
    background-color 0.2s ease-in-out,
    color 0.2s ease-in-out,
    border-color 0.2s ease-in-out;
}
@media screen and (max-width: 1199px) {
}
@media screen and (max-width: 959px) {
  #rec440514869 .tn-elem[data-elem-id="1650966930893"] {
    top: 385px;
    left: calc(50% - 320px + 30px);
  }
}
@media screen and (max-width: 639px) {
  #rec440514869 .tn-elem[data-elem-id="1650966930893"] {
    top: 355px;
    left: calc(50% - 240px + 30px);
  }
}
@media screen and (max-width: 479px) {
  #rec440514869 .tn-elem[data-elem-id="1650966930893"] {
    top: 190px;
    left: calc(50% - 160px + -320px);
  }
}
#rec440514869 .tn-elem[data-elem-id="1678103180274"] {
  color: #000000;
  text-align: LEFT;
  z-index: 5;
  top: 101px;
  left: calc(50% - 600px + 0px);
  width: 711px;
  height: auto;
}
#rec440514869 .tn-elem[data-elem-id="1678103180274"] .tn-atom {
  color: #000000;
  font-size: 34px;
  font-family: "Montserrat", Arial, sans-serif;
  line-height: 1.3;
  font-weight: 800;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}
@media screen and (max-width: 1199px) {
  #rec440514869 .tn-elem[data-elem-id="1678103180274"] {
    top: 101px;
    left: calc(50% - 480px + 0px);
    height: auto;
  }
  #rec440514869 .tn-elem[data-elem-id="1678103180274"] .tn-atom {
    font-size: 30px;
    background-size: cover;
  }
}
@media screen and (max-width: 959px) {
  #rec440514869 .tn-elem[data-elem-id="1678103180274"] {
    top: 80px;
    left: calc(50% - 320px + 27px);
    width: 630px;
    height: auto;
  }
  #rec440514869 .tn-elem[data-elem-id="1678103180274"] .tn-atom {
    font-size: 24px;
    background-size: cover;
  }
}
@media screen and (max-width: 639px) {
  #rec440514869 .tn-elem[data-elem-id="1678103180274"] {
    top: 85px;
    left: calc(50% - 240px + 30px);
    width: 392px;
    height: auto;
  }
}
@media screen and (max-width: 479px) {
  #rec440514869 .tn-elem[data-elem-id="1678103180274"] {
    top: 101px;
    left: calc(50% - 160px + 35px);
    width: 200px;
    height: auto;
  }
  #rec440514869 .tn-elem[data-elem-id="1678103180274"] {
    text-align: left;
  }
  #rec440514869 .tn-elem[data-elem-id="1678103180274"] .tn-atom {
    font-size: 17px;
    background-size: cover;
    opacity: 1;
  }
}
