{% css %}
{% include "internal-life/internal-life.css" %}
{% endcss %}

<div
  id="rec357076127"
  class="r t-rec"
  style=""
  data-animationappear="off"
  data-record-type="396"
>
  <!-- T396 -->
  
  <div class="t396">
    <div
      class="t396__artboard"
      data-artboard-recid="357076127"
      data-artboard-screens="320,480,640,960,1200"
      data-artboard-height="160"
      data-artboard-valign="center"
      data-artboard-upscale="grid"
      data-artboard-height-res-320="60"
      data-artboard-height-res-480="90"
      data-artboard-height-res-640="150"
      data-artboard-height-res-960="160"
    >
      <div class="t396__carrier" data-artboard-recid="357076127"></div>
      <div class="t396__filter" data-artboard-recid="357076127"></div>
      <div
        class="t396__elem tn-elem tn-elem__3570761271470209944682"
        data-elem-id="1470209944682"
        data-elem-type="text"
        data-field-top-value="42"
        data-field-left-value="20"
        data-field-width-value="1335"
        data-field-axisy-value="top"
        data-field-axisx-value="left"
        data-field-container-value="grid"
        data-field-topunits-value="px"
        data-field-leftunits-value="px"
        data-field-heightunits-value=""
        data-field-widthunits-value="px"
        data-field-top-res-320-value="18"
        data-field-left-res-320-value="8"
        data-field-width-res-320-value="312"
        data-field-top-res-480-value="26"
        data-field-left-res-480-value="20"
        data-field-width-res-480-value="447"
        data-field-top-res-640-value="49"
        data-field-left-res-640-value="20"
        data-field-width-res-640-value="610"
        data-field-top-res-960-value="44"
        data-field-left-res-960-value="-14"
        data-field-width-res-960-value="937"
      >
        <div class="tn-atom" field="tn_text_1470209944682">
          ЖИЗНЬ В ОДЖЕТТО
        </div>
      </div>
    </div>
  </div>
  
  <!-- /T396 -->
</div>
<div
  id="rec358308366"
  class="r t-rec t-rec_pt_15 t-rec_pb_0"
  style="
    padding-top: 15px;
    padding-bottom: 0px;
    background-color: #050505;
  "
  data-animationappear="off"
  data-record-type="604"
  data-bg-color="#050505"
>
  <!-- T604 -->
  <div class="t604">
    <div class="t-slds" style="visibility: hidden">
      <div class="t-container t-slds__main">
        <ul class="t-slds__arrow_container t604__hidearrows">
          <li
            class="t-slds__arrow_wrapper t-slds__arrow_wrapper-left"
            data-slide-direction="left"
          >
            <button
              type="button"
              class="t-slds__arrow t-slds__arrow-left t-slds__arrow-withbg"
              aria-controls="carousel_358308366"
              aria-disabled="false"
              aria-label="Предыдущий слайд"
              style="
                width: 40px;
                height: 40px;
                border: 1px solid #000000;
                background-color: rgba(232, 232, 232, 1);
              "
            >
              <div
                class="t-slds__arrow_body t-slds__arrow_body-left"
                style="width: 9px"
              >
                <svg
                  role="presentation"
                  focusable="false"
                  style="display: block"
                  viewBox="0 0 9.3 17"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                >
                  <polyline
                    fill="none"
                    stroke="#000000"
                    stroke-linejoin="butt"
                    stroke-linecap="butt"
                    stroke-width="1"
                    points="0.5,0.5 8.5,8.5 0.5,16.5"
                  />
                </svg>
              </div>
            </button>
          </li>
          <li
            class="t-slds__arrow_wrapper t-slds__arrow_wrapper-right"
            data-slide-direction="right"
          >
            <button
              type="button"
              class="t-slds__arrow t-slds__arrow-right t-slds__arrow-withbg"
              aria-controls="carousel_358308366"
              aria-disabled="false"
              aria-label="Следующий слайд"
              style="
                width: 40px;
                height: 40px;
                border: 1px solid #000000;
                background-color: rgba(232, 232, 232, 1);
              "
            >
              <div
                class="t-slds__arrow_body t-slds__arrow_body-right"
                style="width: 9px"
              >
                <svg
                  role="presentation"
                  focusable="false"
                  style="display: block"
                  viewBox="0 0 9.3 17"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                >
                  <polyline
                    fill="none"
                    stroke="#000000"
                    stroke-linejoin="butt"
                    stroke-linecap="butt"
                    stroke-width="1"
                    points="0.5,0.5 8.5,8.5 0.5,16.5"
                  />
                </svg>
              </div>
            </button>
          </li>
        </ul>
        <div class="t-slds__container t-width t-width_7 t-margin_auto">
          <div
            class="t-slds__items-wrapper t-slds_animated-slow"
            id="carousel_358308366"
            data-slider-transition="500"
            data-slider-with-cycle="true"
            data-slider-correct-height="false"
            data-auto-correct-mobile-width="false"
            data-slider-timeout="5000"
            aria-roledescription="carousel"
            aria-live="off"
          >
            <div
              class="t-slds__item t-slds__item_active"
              data-slide-index="1"
              role="group"
              aria-roledescription="slide"
              aria-hidden="false"
              aria-label="1 из 12"
            >
              <div
                class="t-width t-width_6 t-margin_auto"
                itemscope
                itemtype="http://schema.org/ImageObject"
              >
                <div
                  class="t-slds__wrapper t-align_center"
                  style="opacity: 1"
                >
                  <meta
                    itemprop="image"
                    content="/assets/images/tild3762-3338-4535-b030-313164386263__meetup_054_-_49448_1.png"
                  />
                  <meta itemprop="caption" content="php митап" />
                  <div class="t604__imgwrapper" bgimgfield="gi_img__0">
                    <div
                      class="t-slds__bgimg t-bgimg"
                      data-original="/assets/images/tild3762-3338-4535-b030-313164386263__meetup_054_-_49448_1.png"
                      style="
                        background-image: url(&quot;/assets/images/tild3762-3338-4535-b030-313164386263__-__resizeb__20x__meetup_054_-_49448_1.png&quot;);
                      "
                      role="img"
                      aria-label="php митап"
                    ></div>
                    <div
                      class="t604__separator"
                      data-slider-image-width="560"
                      data-slider-image-height="430px"
                    ></div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="t-slds__item"
              data-slide-index="2"
              role="group"
              aria-roledescription="slide"
              aria-hidden="false"
              aria-label="2 из 12"
            >
              <div
                class="t-width t-width_6 t-margin_auto"
                itemscope
                itemtype="http://schema.org/ImageObject"
              >
                <div
                  class="t-slds__wrapper t-align_center"
                  style="opacity: 1"
                >
                  <meta
                    itemprop="image"
                    content="/assets/images/tild3733-3836-4338-a131-323832313330__photo_2021-09-24_104.jpeg"
                  />
                  <meta
                    itemprop="caption"
                    content="ростов рнд тех конференция"
                  />
                  <div class="t604__imgwrapper" bgimgfield="gi_img__1">
                    <div
                      class="t-slds__bgimg t-bgimg"
                      data-original="/assets/images/tild3733-3836-4338-a131-323832313330__photo_2021-09-24_104.jpeg"
                      style="
                        background-image: url(&quot;/assets/images/tild3733-3836-4338-a131-323832313330__-__resizeb__20x__photo_2021-09-24_104.jpeg&quot;);
                      "
                      role="img"
                      aria-label="ростов рнд тех конференция"
                    ></div>
                    <div
                      class="t604__separator"
                      data-slider-image-width="560"
                      data-slider-image-height="430px"
                    ></div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="t-slds__item"
              data-slide-index="3"
              role="group"
              aria-roledescription="slide"
              aria-hidden="false"
              aria-label="3 из 12"
            >
              <div
                class="t-width t-width_6 t-margin_auto"
                itemscope
                itemtype="http://schema.org/ImageObject"
              >
                <div
                  class="t-slds__wrapper t-align_center"
                  style="opacity: 1"
                >
                  <meta
                    itemprop="image"
                    content="/assets/images/tild3732-3162-4937-a633-363065333033__abzofbl7ces_1.jpg"
                  />
                  <meta
                    itemprop="caption"
                    content="дгту хакатон весна 21"
                  />
                  <div class="t604__imgwrapper" bgimgfield="gi_img__2">
                    <div
                      class="t-slds__bgimg t-bgimg"
                      data-original="/assets/images/tild3732-3162-4937-a633-363065333033__abzofbl7ces_1.jpg"
                      style="
                        background-image: url(&quot;/assets/images/tild3732-3162-4937-a633-363065333033__-__resizeb__20x__abzofbl7ces_1.jpg&quot;);
                      "
                      role="img"
                      aria-label="дгту хакатон весна 21"
                    ></div>
                    <div
                      class="t604__separator"
                      data-slider-image-width="560"
                      data-slider-image-height="430px"
                    ></div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="t-slds__item"
              data-slide-index="4"
              role="group"
              aria-roledescription="slide"
              aria-hidden="false"
              aria-label="4 из 12"
            >
              <div
                class="t-width t-width_6 t-margin_auto"
                itemscope
                itemtype="http://schema.org/ImageObject"
              >
                <div
                  class="t-slds__wrapper t-align_center"
                  style="opacity: 1"
                >
                  <meta
                    itemprop="image"
                    content="/assets/images/tild3861-3230-4437-b837-623363326530__original_ph022.jpg"
                  />
                  <meta
                    itemprop="caption"
                    content="доклад по фронтенду"
                  />
                  <div class="t604__imgwrapper" bgimgfield="gi_img__3">
                    <div
                      class="t-slds__bgimg t-bgimg"
                      data-original="/assets/images/tild3861-3230-4437-b837-623363326530__original_ph022.jpg"
                      style="
                        background-image: url(&quot;/assets/images/tild3861-3230-4437-b837-623363326530__-__resizeb__20x__original_ph022.jpg&quot;);
                      "
                      role="img"
                      aria-label="доклад по фронтенду"
                    ></div>
                    <div
                      class="t604__separator"
                      data-slider-image-width="560"
                      data-slider-image-height="430px"
                    ></div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="t-slds__item"
              data-slide-index="5"
              role="group"
              aria-roledescription="slide"
              aria-hidden="false"
              aria-label="5 из 12"
            >
              <div
                class="t-width t-width_6 t-margin_auto"
                itemscope
                itemtype="http://schema.org/ImageObject"
              >
                <div
                  class="t-slds__wrapper t-align_center"
                  style="opacity: 1"
                >
                  <meta
                    itemprop="image"
                    content="/assets/images/tild3262-3733-4738-a266-613265616565__dim-00153.jpg"
                  />
                  <meta
                    itemprop="caption"
                    content="рнд техконференция 2021"
                  />
                  <div class="t604__imgwrapper" bgimgfield="gi_img__4">
                    <div
                      class="t-slds__bgimg t-bgimg"
                      data-original="/assets/images/tild3262-3733-4738-a266-613265616565__dim-00153.jpg"
                      style="
                        background-image: url(&quot;/assets/images/tild3262-3733-4738-a266-613265616565__-__resizeb__20x__dim-00153.jpg&quot;);
                      "
                      role="img"
                      aria-label="рнд техконференция 2021"
                    ></div>
                    <div
                      class="t604__separator"
                      data-slider-image-width="560"
                      data-slider-image-height="430px"
                    ></div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="t-slds__item"
              data-slide-index="6"
              role="group"
              aria-roledescription="slide"
              aria-hidden="false"
              aria-label="6 из 12"
            >
              <div
                class="t-width t-width_6 t-margin_auto"
                itemscope
                itemtype="http://schema.org/ImageObject"
              >
                <div
                  class="t-slds__wrapper t-align_center"
                  style="opacity: 1"
                >
                  <meta
                    itemprop="image"
                    content="/assets/images/tild3564-3835-4966-a662-663563613230__original_ph029.jpg"
                  />
                  <meta itemprop="caption" content="доклад по гиту" />
                  <div class="t604__imgwrapper" bgimgfield="gi_img__5">
                    <div
                      class="t-slds__bgimg t-bgimg"
                      data-original="/assets/images/tild3564-3835-4966-a662-663563613230__original_ph029.jpg"
                      style="
                        background-image: url(&quot;/assets/images/tild3564-3835-4966-a662-663563613230__-__resizeb__20x__original_ph029.jpg&quot;);
                      "
                      role="img"
                      aria-label="доклад по гиту"
                    ></div>
                    <div
                      class="t604__separator"
                      data-slider-image-width="560"
                      data-slider-image-height="430px"
                    ></div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="t-slds__item"
              data-slide-index="7"
              role="group"
              aria-roledescription="slide"
              aria-hidden="false"
              aria-label="7 из 12"
            >
              <div
                class="t-width t-width_6 t-margin_auto"
                itemscope
                itemtype="http://schema.org/ImageObject"
              >
                <div
                  class="t-slds__wrapper t-align_center"
                  style="opacity: 1"
                >
                  <meta
                    itemprop="image"
                    content="/assets/images/tild3239-3931-4163-a137-383363323561__photo_2021-09-24_105.jpeg"
                  />
                  <meta itemprop="caption" content="встреча команды" />
                  <div class="t604__imgwrapper" bgimgfield="gi_img__6">
                    <div
                      class="t-slds__bgimg t-bgimg"
                      data-original="/assets/images/tild3239-3931-4163-a137-383363323561__photo_2021-09-24_105.jpeg"
                      style="
                        background-image: url(&quot;/assets/images/tild3239-3931-4163-a137-383363323561__-__resizeb__20x__photo_2021-09-24_105.jpeg&quot;);
                      "
                      role="img"
                      aria-label="встреча команды"
                    ></div>
                    <div
                      class="t604__separator"
                      data-slider-image-width="560"
                      data-slider-image-height="430px"
                    ></div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="t-slds__item"
              data-slide-index="8"
              role="group"
              aria-roledescription="slide"
              aria-hidden="false"
              aria-label="8 из 12"
            >
              <div
                class="t-width t-width_6 t-margin_auto"
                itemscope
                itemtype="http://schema.org/ImageObject"
              >
                <div
                  class="t-slds__wrapper t-align_center"
                  style="opacity: 1"
                >
                  <meta
                    itemprop="image"
                    content="/assets/images/tild3832-6435-4234-b061-643366373065__photo_2021-09-24_104.jpeg"
                  />
                  <meta itemprop="caption" content="офис Оджетто" />
                  <div class="t604__imgwrapper" bgimgfield="gi_img__7">
                    <div
                      class="t-slds__bgimg t-bgimg"
                      data-original="/assets/images/tild3832-6435-4234-b061-643366373065__photo_2021-09-24_104.jpeg"
                      style="
                        background-image: url(&quot;/assets/images/tild3832-6435-4234-b061-643366373065__-__resizeb__20x__photo_2021-09-24_104.jpeg&quot;);
                      "
                      role="img"
                      aria-label="офис Оджетто"
                    ></div>
                    <div
                      class="t604__separator"
                      data-slider-image-width="560"
                      data-slider-image-height="430px"
                    ></div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="t-slds__item"
              data-slide-index="9"
              role="group"
              aria-roledescription="slide"
              aria-hidden="false"
              aria-label="9 из 12"
            >
              <div
                class="t-width t-width_6 t-margin_auto"
                itemscope
                itemtype="http://schema.org/ImageObject"
              >
                <div
                  class="t-slds__wrapper t-align_center"
                  style="opacity: 1"
                >
                  <meta
                    itemprop="image"
                    content="/assets/images/tild6664-6263-4238-a639-383536616364__photo_2021-09-24_103.jpeg"
                  />
                  <meta itemprop="caption" content="php митап" />
                  <div class="t604__imgwrapper" bgimgfield="gi_img__8">
                    <div
                      class="t-slds__bgimg t-bgimg"
                      data-original="/assets/images/tild6664-6263-4238-a639-383536616364__photo_2021-09-24_103.jpeg"
                      style="
                        background-image: url(&quot;/assets/images/tild6664-6263-4238-a639-383536616364__-__resizeb__20x__photo_2021-09-24_103.jpeg&quot;);
                      "
                      role="img"
                      aria-label="php митап"
                    ></div>
                    <div
                      class="t604__separator"
                      data-slider-image-width="560"
                      data-slider-image-height="430px"
                    ></div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="t-slds__item"
              data-slide-index="10"
              role="group"
              aria-roledescription="slide"
              aria-hidden="false"
              aria-label="10 из 12"
            >
              <div
                class="t-width t-width_6 t-margin_auto"
                itemscope
                itemtype="http://schema.org/ImageObject"
              >
                <div
                  class="t-slds__wrapper t-align_center"
                  style="opacity: 1"
                >
                  <meta
                    itemprop="image"
                    content="/assets/images/tild3833-6265-4235-a664-616231306633__photo_2021-09-24_162.jpeg"
                  />
                  <meta
                    itemprop="caption"
                    content="встреча в переговорной"
                  />
                  <div class="t604__imgwrapper" bgimgfield="gi_img__9">
                    <div
                      class="t-slds__bgimg t-bgimg"
                      data-original="/assets/images/tild3833-6265-4235-a664-616231306633__photo_2021-09-24_162.jpeg"
                      style="
                        background-image: url(&quot;/assets/images/tild3833-6265-4235-a664-616231306633__-__resizeb__20x__photo_2021-09-24_162.jpeg&quot;);
                      "
                      role="img"
                      aria-label="встреча в переговорной"
                    ></div>
                    <div
                      class="t604__separator"
                      data-slider-image-width="560"
                      data-slider-image-height="430px"
                    ></div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="t-slds__item"
              data-slide-index="11"
              role="group"
              aria-roledescription="slide"
              aria-hidden="false"
              aria-label="11 из 12"
            >
              <div
                class="t-width t-width_6 t-margin_auto"
                itemscope
                itemtype="http://schema.org/ImageObject"
              >
                <div
                  class="t-slds__wrapper t-align_center"
                  style="opacity: 1"
                >
                  <meta
                    itemprop="image"
                    content="/assets/images/tild3939-3131-4835-a335-366338653165__photo_2021-09-24_104.jpeg"
                  />
                  <meta
                    itemprop="caption"
                    content="доклад по техподдержке"
                  />
                  <div class="t604__imgwrapper" bgimgfield="gi_img__10">
                    <div
                      class="t-slds__bgimg t-bgimg"
                      data-original="/assets/images/tild3939-3131-4835-a335-366338653165__photo_2021-09-24_104.jpeg"
                      style="
                        background-image: url(&quot;/assets/images/tild3939-3131-4835-a335-366338653165__-__resizeb__20x__photo_2021-09-24_104.jpeg&quot;);
                      "
                      role="img"
                      aria-label="доклад по техподдержке"
                    ></div>
                    <div
                      class="t604__separator"
                      data-slider-image-width="560"
                      data-slider-image-height="430px"
                    ></div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="t-slds__item"
              data-slide-index="12"
              role="group"
              aria-roledescription="slide"
              aria-hidden="false"
              aria-label="12 из 12"
            >
              <div
                class="t-width t-width_6 t-margin_auto"
                itemscope
                itemtype="http://schema.org/ImageObject"
              >
                <div
                  class="t-slds__wrapper t-align_center"
                  style="opacity: 1"
                >
                  <meta
                    itemprop="image"
                    content="/assets/images/tild3631-6535-4239-a264-643437393731__photo_2021-09-24_103.jpeg"
                  />
                  <meta
                    itemprop="caption"
                    content="крутые разработчики"
                  />
                  <div class="t604__imgwrapper" bgimgfield="gi_img__11">
                    <div
                      class="t-slds__bgimg t-bgimg"
                      data-original="/assets/images/tild3631-6535-4239-a264-643437393731__photo_2021-09-24_103.jpeg"
                      style="
                        background-image: url(&quot;/assets/images/tild3631-6535-4239-a264-643437393731__-__resizeb__20x__photo_2021-09-24_103.jpeg&quot;);
                      "
                      role="img"
                      aria-label="крутые разработчики"
                    ></div>
                    <div
                      class="t604__separator"
                      data-slider-image-width="560"
                      data-slider-image-height="430px"
                    ></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <ul class="t-slds__bullet_wrapper">
            <li
              class="t-slds__bullet t-slds__bullet_active"
              data-slide-bullet-for="1"
            >
              <button
                type="button"
                class="t-slds__bullet_body"
                aria-label="Перейти к слайду 1"
                aria-current="true"
                style="background-color: #c7c7c7"
              ></button>
            </li>
            <li class="t-slds__bullet" data-slide-bullet-for="2">
              <button
                type="button"
                class="t-slds__bullet_body"
                aria-label="Перейти к слайду 2"
                style="background-color: #c7c7c7"
              ></button>
            </li>
            <li class="t-slds__bullet" data-slide-bullet-for="3">
              <button
                type="button"
                class="t-slds__bullet_body"
                aria-label="Перейти к слайду 3"
                style="background-color: #c7c7c7"
              ></button>
            </li>
            <li class="t-slds__bullet" data-slide-bullet-for="4">
              <button
                type="button"
                class="t-slds__bullet_body"
                aria-label="Перейти к слайду 4"
                style="background-color: #c7c7c7"
              ></button>
            </li>
            <li class="t-slds__bullet" data-slide-bullet-for="5">
              <button
                type="button"
                class="t-slds__bullet_body"
                aria-label="Перейти к слайду 5"
                style="background-color: #c7c7c7"
              ></button>
            </li>
            <li class="t-slds__bullet" data-slide-bullet-for="6">
              <button
                type="button"
                class="t-slds__bullet_body"
                aria-label="Перейти к слайду 6"
                style="background-color: #c7c7c7"
              ></button>
            </li>
            <li class="t-slds__bullet" data-slide-bullet-for="7">
              <button
                type="button"
                class="t-slds__bullet_body"
                aria-label="Перейти к слайду 7"
                style="background-color: #c7c7c7"
              ></button>
            </li>
            <li class="t-slds__bullet" data-slide-bullet-for="8">
              <button
                type="button"
                class="t-slds__bullet_body"
                aria-label="Перейти к слайду 8"
                style="background-color: #c7c7c7"
              ></button>
            </li>
            <li class="t-slds__bullet" data-slide-bullet-for="9">
              <button
                type="button"
                class="t-slds__bullet_body"
                aria-label="Перейти к слайду 9"
                style="background-color: #c7c7c7"
              ></button>
            </li>
            <li class="t-slds__bullet" data-slide-bullet-for="10">
              <button
                type="button"
                class="t-slds__bullet_body"
                aria-label="Перейти к слайду 10"
                style="background-color: #c7c7c7"
              ></button>
            </li>
            <li class="t-slds__bullet" data-slide-bullet-for="11">
              <button
                type="button"
                class="t-slds__bullet_body"
                aria-label="Перейти к слайду 11"
                style="background-color: #c7c7c7"
              ></button>
            </li>
            <li class="t-slds__bullet" data-slide-bullet-for="12">
              <button
                type="button"
                class="t-slds__bullet_body"
                aria-label="Перейти к слайду 12"
                style="background-color: #c7c7c7"
              ></button>
            </li>
          </ul>
        </div>
        <div class="t-slds__caption__container"></div>
      </div>
    </div>
  </div>
  
  
</div>
<div
  id="rec361948630"
  class="r t-rec"
  style=""
  data-animationappear="off"
  data-record-type="396"
>
  <!-- T396 -->
  
  <div class="t396">
    <div
      class="t396__artboard"
      data-artboard-recid="361948630"
      data-artboard-screens="320,480,640,960,1200"
      data-artboard-height="50"
      data-artboard-valign="center"
      data-artboard-upscale="grid"
      data-artboard-height-res-320="50"
      data-artboard-height-res-640="50"
      data-artboard-height-res-960="50"
    >
      <div class="t396__carrier" data-artboard-recid="361948630"></div>
      <div class="t396__filter" data-artboard-recid="361948630"></div>
      <div
        class="t396__elem tn-elem tn-elem__3619486301632992119362"
        data-elem-id="1632992119362"
        data-elem-type="text"
        data-field-top-value="186"
        data-field-left-value="527"
        data-field-width-value="209"
        data-field-axisy-value="top"
        data-field-axisx-value="left"
        data-field-container-value="grid"
        data-field-topunits-value="px"
        data-field-leftunits-value="px"
        data-field-heightunits-value=""
        data-field-widthunits-value="px"
        data-field-top-res-320-value="102"
        data-field-left-res-320-value="12"
        data-field-width-res-320-value="174"
        data-field-top-res-480-value="104"
        data-field-left-res-480-value="14"
        data-field-top-res-640-value="106"
        data-field-left-res-640-value="28"
        data-field-top-res-960-value="218"
        data-field-left-res-960-value="-32"
      >
        <div class="tn-atom" field="tn_text_1632992119362">
          Больше в нашем
        </div>
      </div>
      <div
        class="t396__elem tn-elem tn-elem__3619486301632992140001"
        data-elem-id="1632992140001"
        data-elem-type="text"
        data-field-top-value="215"
        data-field-left-value="527"
        data-field-width-value="172"
        data-field-axisy-value="top"
        data-field-axisx-value="left"
        data-field-container-value="grid"
        data-field-topunits-value="px"
        data-field-leftunits-value="px"
        data-field-heightunits-value=""
        data-field-widthunits-value="px"
        data-field-top-res-320-value="102"
        data-field-left-res-320-value="178"
        data-field-top-res-480-value="104"
        data-field-left-res-480-value="223"
        data-field-top-res-640-value="106"
        data-field-left-res-640-value="237"
        data-field-top-res-960-value="247"
        data-field-left-res-960-value="-32"
      >
        <div class="tn-atom">
          <a
            href="https://www.instagram.com/oggettolive/"
            target="_blank"
            style="color: inherit"
            >Instagram</a
          >
        </div>
      </div>
      <div
        class="t396__elem tn-elem tn-elem__3619486301632992221952"
        data-elem-id="1632992221952"
        data-elem-type="image"
        data-field-top-value="224"
        data-field-left-value="648"
        data-field-width-value="29"
        data-field-axisy-value="top"
        data-field-axisx-value="left"
        data-field-container-value="grid"
        data-field-topunits-value="px"
        data-field-leftunits-value="px"
        data-field-heightunits-value=""
        data-field-widthunits-value="px"
        data-field-filewidth-value="28"
        data-field-fileheight-value="23"
        data-field-top-res-320-value="107"
        data-field-left-res-320-value="278"
        data-field-width-res-320-value="27"
        data-field-top-res-480-value="114"
        data-field-left-res-480-value="347"
        data-field-top-res-640-value="116"
        data-field-left-res-640-value="361"
        data-field-top-res-960-value="256"
        data-field-left-res-960-value="89"
      >
        <div class="tn-atom">
          <img
            class="tn-atom__img t-img"
            data-original="/assets/images/tild6165-3136-4161-a364-393666333633__arrow_right_16px.png"
            src="/assets/images/tild6165-3136-4161-a364-393666333633__-__resize__20x__arrow_right_16px.png"
            alt=""
            imgfield="tn_img_1632992221952"
          />
        </div>
      </div>
    </div>
  </div>
  
  <!-- /T396 -->
</div>

{% js %}
{% include "internal-life/internal-life.js" %}
{% endjs %}
