#rec459326737 .t396__artboard {
  height: 96px;
  background-color: #ffffff;
}
#rec459326737 .t396__filter {
  height: 96px;
}
#rec459326737 .t396__carrier {
  height: 96px;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (max-width: 1199px) {
  #rec459326737 .t396__artboard,
  #rec459326737 .t396__filter,
  #rec459326737 .t396__carrier {
    height: 80px;
  }
  #rec459326737 .t396__filter {
  }
  #rec459326737 .t396__carrier {
    background-attachment: scroll;
  }
}
@media screen and (max-width: 959px) {
  #rec459326737 .t396__artboard,
  #rec459326737 .t396__filter,
  #rec459326737 .t396__carrier {
    height: 80px;
  }
  #rec459326737 .t396__artboard {
    background-color: #ffffff;
  }
  #rec459326737 .t396__filter {
  }
  #rec459326737 .t396__carrier {
    background-position: center center;
    background-attachment: scroll;
  }
}
@media screen and (max-width: 639px) {
  #rec459326737 .t396__artboard,
  #rec459326737 .t396__filter,
  #rec459326737 .t396__carrier {
    height: 80px;
  }
  #rec459326737 .t396__filter {
  }
  #rec459326737 .t396__carrier {
    background-attachment: scroll;
  }
}
@media screen and (max-width: 479px) {
  #rec459326737 .t396__artboard,
  #rec459326737 .t396__filter,
  #rec459326737 .t396__carrier {
    height: 80px;
  }
  #rec459326737 .t396__filter {
  }
  #rec459326737 .t396__carrier {
    background-attachment: scroll;
  }
}
#rec459326737 .tn-elem[data-elem-id="1632126151699"] {
  color: #000000;
  text-align: center;
  z-index: 13;
  top: -42px;
  left: 225px;
  width: 142px;
  height: auto;
}
#rec459326737 .tn-elem[data-elem-id="1632126151699"] .tn-atom {
  color: #000000;
  font-size: 16px;
  font-family: "Montserrat", Arial, sans-serif;
  line-height: 1.55;
  font-weight: 600;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}
@media screen and (max-width: 1199px) {
  #rec459326737 .tn-elem[data-elem-id="1632126151699"] {
    width: 122px;
    height: auto;
  }
  #rec459326737 .tn-elem[data-elem-id="1632126151699"] .tn-atom {
    font-size: 14px;
    background-size: cover;
  }
}
@media screen and (max-width: 959px) {
  #rec459326737 .tn-elem[data-elem-id="1632126151699"] {
    width: 118px;
    height: auto;
  }
  #rec459326737 .tn-elem[data-elem-id="1632126151699"] {
    text-align: left;
  }
  #rec459326737 .tn-elem[data-elem-id="1632126151699"] .tn-atom {
    font-size: 14px;
    background-size: cover;
    opacity: 0;
  }
}
@media screen and (max-width: 639px) {
  #rec459326737 .tn-elem[data-elem-id="1632126151699"] {
    width: 118px;
    height: auto;
  }
}
@media screen and (max-width: 479px) {
  #rec459326737 .tn-elem[data-elem-id="1632126151699"] {
    height: auto;
  }
}
#rec459326737 .tn-elem[data-elem-id="1632126277317"] {
  color: #000000;
  text-align: center;
  z-index: 14;
  top: -42px;
  left: 391px;
  width: 246px;
  height: auto;
}
#rec459326737 .tn-elem[data-elem-id="1632126277317"] .tn-atom {
  color: #000000;
  font-size: 16px;
  font-family: "Montserrat", Arial, sans-serif;
  line-height: 1.55;
  font-weight: 600;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}
@media screen and (max-width: 1199px) {
  #rec459326737 .tn-elem[data-elem-id="1632126277317"] {
    width: 214px;
    height: auto;
  }
  #rec459326737 .tn-elem[data-elem-id="1632126277317"] .tn-atom {
    font-size: 14px;
    background-size: cover;
  }
}
@media screen and (max-width: 959px) {
  #rec459326737 .tn-elem[data-elem-id="1632126277317"] {
    width: 127px;
    height: auto;
  }
  #rec459326737 .tn-elem[data-elem-id="1632126277317"] .tn-atom {
    font-size: 14px;
    line-height: 1.3;
    background-size: cover;
    opacity: 0;
  }
}
@media screen and (max-width: 639px) {
  #rec459326737 .tn-elem[data-elem-id="1632126277317"] {
    width: 208px;
    height: auto;
  }
}
@media screen and (max-width: 479px) {
  #rec459326737 .tn-elem[data-elem-id="1632126277317"] {
    width: 115px;
    height: auto;
  }
  #rec459326737 .tn-elem[data-elem-id="1632126277317"] .tn-atom {
    font-size: 11px;
    line-height: 1.3;
    background-size: cover;
  }
}
#rec459326737 .tn-elem[data-elem-id="1632126319029"] {
  color: #000000;
  text-align: center;
  z-index: 15;
  top: -42px;
  left: 661px;
  width: 47px;
  height: auto;
}
#rec459326737 .tn-elem[data-elem-id="1632126319029"] .tn-atom {
  color: #000000;
  font-size: 16px;
  font-family: "Montserrat", Arial, sans-serif;
  line-height: 1.55;
  font-weight: 600;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}
@media screen and (max-width: 1199px) {
  #rec459326737 .tn-elem[data-elem-id="1632126319029"] {
    width: 38px;
    height: auto;
  }
  #rec459326737 .tn-elem[data-elem-id="1632126319029"] .tn-atom {
    font-size: 14px;
    background-size: cover;
  }
}
@media screen and (max-width: 959px) {
  #rec459326737 .tn-elem[data-elem-id="1632126319029"] {
    width: 50px;
    height: auto;
  }
  #rec459326737 .tn-elem[data-elem-id="1632126319029"] .tn-atom {
    font-size: 14px;
    background-size: cover;
    opacity: 0;
  }
}
@media screen and (max-width: 639px) {
  #rec459326737 .tn-elem[data-elem-id="1632126319029"] {
    width: 47px;
    height: auto;
  }
}
@media screen and (max-width: 479px) {
  #rec459326737 .tn-elem[data-elem-id="1632126319029"] {
    height: auto;
  }
  #rec459326737 .tn-elem[data-elem-id="1632126319029"] .tn-atom {
    font-size: 11px;
    background-size: cover;
  }
}
#rec459326737 .tn-elem[data-elem-id="1632126329393"] {
  color: #000000;
  text-align: center;
  z-index: 16;
  top: -42px;
  left: 732px;
  width: 107px;
  height: auto;
}
#rec459326737 .tn-elem[data-elem-id="1632126329393"] .tn-atom {
  color: #000000;
  font-size: 16px;
  font-family: "Montserrat", Arial, sans-serif;
  line-height: 1.55;
  font-weight: 600;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}
@media screen and (max-width: 1199px) {
  #rec459326737 .tn-elem[data-elem-id="1632126329393"] {
    width: 85px;
    height: auto;
  }
  #rec459326737 .tn-elem[data-elem-id="1632126329393"] .tn-atom {
    font-size: 14px;
    background-size: cover;
  }
}
@media screen and (max-width: 959px) {
  #rec459326737 .tn-elem[data-elem-id="1632126329393"] {
    width: 93px;
    height: auto;
  }
  #rec459326737 .tn-elem[data-elem-id="1632126329393"] .tn-atom {
    font-size: 14px;
    background-size: cover;
    opacity: 0;
  }
}
@media screen and (max-width: 639px) {
  #rec459326737 .tn-elem[data-elem-id="1632126329393"] {
    width: 81px;
    height: auto;
  }
}
@media screen and (max-width: 479px) {
  #rec459326737 .tn-elem[data-elem-id="1632126329393"] {
    height: auto;
  }
  #rec459326737 .tn-elem[data-elem-id="1632126329393"] .tn-atom {
    font-size: 11px;
    background-size: cover;
  }
}
#rec459326737 .tn-elem[data-elem-id="1470210033144"] {
  z-index: 4;
  top: 8px;
  left: calc(50% - 600px + 20px);
  width: 127px;
  height: auto;
}
#rec459326737 .tn-elem[data-elem-id="1470210033144"] .tn-atom {
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}
#rec459326737 .tn-elem[data-elem-id="1470210033144"] .tn-atom__img {
}
@media screen and (max-width: 1199px) {
  #rec459326737 .tn-elem[data-elem-id="1470210033144"] {
    top: 8px;
    left: calc(50% - 480px + 10px);
    width: 102px;
    height: auto;
  }
}
@media screen and (max-width: 959px) {
  #rec459326737 .tn-elem[data-elem-id="1470210033144"] {
    top: 6px;
    left: calc(50% - 320px + 20px);
    width: 117px;
    height: auto;
  }
  #rec459326737 .tn-elem[data-elem-id="1470210033144"] .tn-atom {
    background-size: cover;
    opacity: 1;
  }
}
@media screen and (max-width: 639px) {
  #rec459326737 .tn-elem[data-elem-id="1470210033144"] {
    top: 6px;
    left: calc(50% - 240px + 20px);
    width: 115px;
    height: auto;
  }
}
@media screen and (max-width: 479px) {
  #rec459326737 .tn-elem[data-elem-id="1470210033144"] {
    top: 18px;
    left: calc(50% - 160px + 20px);
    width: 76px;
    height: auto;
  }
}
#rec459326737 .tn-elem[data-elem-id="1631780570314"] {
  color: #000000;
  text-align: center;
  z-index: 8;
  top: 20px;
  left: calc(50% - 600px + 960px);
  width: 220px;
  height: 56px;
}
#rec459326737 .tn-elem[data-elem-id="1631780570314"] .tn-atom {
  color: #000000;
  font-size: 16px;
  font-family: "Montserrat-ExtraBold", Arial, sans-serif;
  line-height: 1.6;
  font-weight: 700;
  text-transform: uppercase;
  border-width: 0px;
  border-radius: 4px;
  background-color: #ffdd00;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
  transition:
    background-color 0.2s ease-in-out,
    color 0.2s ease-in-out,
    border-color 0.2s ease-in-out;
}
@media screen and (max-width: 1199px) {
  #rec459326737 .tn-elem[data-elem-id="1631780570314"] {
    top: 16px;
    left: calc(50% - 480px + 790px);
    width: 160px;
    height: 48px;
  }
  #rec459326737 .tn-elem[data-elem-id="1631780570314"] .tn-atom {
    font-size: 12px;
    background-size: cover;
  }
}
@media screen and (max-width: 959px) {
  #rec459326737 .tn-elem[data-elem-id="1631780570314"] {
    top: 16px;
    left: calc(50% - 320px + 460px);
  }
}
@media screen and (max-width: 639px) {
  #rec459326737 .tn-elem[data-elem-id="1631780570314"] {
    top: 16px;
    left: calc(50% - 240px + 300px);
  }
}
@media screen and (max-width: 479px) {
  #rec459326737 .tn-elem[data-elem-id="1631780570314"] {
    top: 16px;
    left: calc(50% - 160px + 140px);
    width: 160px;
    height: 48px;
  }
  #rec459326737 .tn-elem[data-elem-id="1631780570314"] .tn-atom {
    font-size: 12px;
    background-size: cover;
  }
}
#rec459326737 .tn-elem[data-elem-id="1632126606278"] {
  z-index: 17;
  top: 263px;
  left: calc(50% - 600px + 284px);
  width: 3px;
  height: 10px;
}
#rec459326737 .tn-elem[data-elem-id="1632126606278"] .tn-atom {
  opacity: 0;
  background-color: #ffdd00;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}
@media screen and (max-width: 1199px) {
}
@media screen and (max-width: 959px) {
  #rec459326737 .tn-elem[data-elem-id="1632126606278"] {
    top: 263px;
    left: calc(50% - 320px + 284px);
  }
}
@media screen and (max-width: 639px) {
  #rec459326737 .tn-elem[data-elem-id="1632126606278"] {
    top: 163px;
    left: calc(50% - 240px + -156px);
    height: 14px;
  }
  #rec459326737 .tn-elem[data-elem-id="1632126606278"] .tn-atom {
    background-size: cover;
    opacity: 0;
  }
}
@media screen and (max-width: 479px) {
  #rec459326737 .tn-elem[data-elem-id="1632126606278"] {
    top: 94px;
    left: calc(50% - 160px + 154px);
    height: 20px;
  }
}
#rec459326737 .tn-elem[data-elem-id="1632126663214"] {
  z-index: 18;
  top: 273pxpx;
  left: calc(50% - 600px + 294pxpx);
  width: 3px;
  height: 10px;
}
#rec459326737 .tn-elem[data-elem-id="1632126663214"] .tn-atom {
  opacity: 0;
  background-color: #ffdd00;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}
@media screen and (max-width: 1199px) {
}
@media screen and (max-width: 959px) {
  #rec459326737 .tn-elem[data-elem-id="1632126663214"] {
    top: 273pxpx;
    left: calc(50% - 320px + 294pxpx);
  }
}
@media screen and (max-width: 639px) {
  #rec459326737 .tn-elem[data-elem-id="1632126663214"] {
    top: 209px;
    left: calc(50% - 240px + -123px);
    height: 14px;
  }
  #rec459326737 .tn-elem[data-elem-id="1632126663214"] .tn-atom {
    background-size: cover;
    opacity: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@media screen and (max-width: 479px) {
  #rec459326737 .tn-elem[data-elem-id="1632126663214"] {
    top: 210px;
    left: calc(50% - 160px + 161px);
  }
}
#rec459326737 .tn-elem[data-elem-id="1632126686886"] {
  z-index: 19;
  top: 283pxpx;
  left: calc(50% - 600px + 304pxpx);
  width: 3px;
  height: 10px;
}
#rec459326737 .tn-elem[data-elem-id="1632126686886"] .tn-atom {
  opacity: 0;
  background-color: #ffdd00;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}
@media screen and (max-width: 1199px) {
}
@media screen and (max-width: 959px) {
  #rec459326737 .tn-elem[data-elem-id="1632126686886"] {
    top: 283pxpx;
    left: calc(50% - 320px + 304pxpx);
  }
}
@media screen and (max-width: 639px) {
  #rec459326737 .tn-elem[data-elem-id="1632126686886"] {
    top: 209px;
    left: calc(50% - 240px + -65px);
    height: 14px;
  }
  #rec459326737 .tn-elem[data-elem-id="1632126686886"] .tn-atom {
    background-size: cover;
    opacity: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@media screen and (max-width: 479px) {
  #rec459326737 .tn-elem[data-elem-id="1632126686886"] {
    top: 135px;
    left: calc(50% - 160px + 154px);
    height: 20px;
  }
}

#rec459305258 .t396__artboard {
  height: 64px;
  background-color: #ffffff;
  overflow: auto;
}
#rec459305258 .t396__filter {
  height: 64px;
}
#rec459305258 .t396__carrier {
  height: 64px;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (max-width: 1199px) {
  #rec459305258 .t396__artboard,
  #rec459305258 .t396__filter,
  #rec459305258 .t396__carrier {
    height: 64px;
  }
  #rec459305258 .t396__artboard {
    background-color: #ffffff;
  }
  #rec459305258 .t396__filter {
  }
  #rec459305258 .t396__carrier {
    background-position: center center;
    background-attachment: scroll;
  }
}
@media screen and (max-width: 959px) {
  #rec459305258 .t396__artboard,
  #rec459305258 .t396__filter,
  #rec459305258 .t396__carrier {
    height: 64px;
  }
  #rec459305258 .t396__filter {
  }
  #rec459305258 .t396__carrier {
    background-attachment: scroll;
  }
}
@media screen and (max-width: 639px) {
  #rec459305258 .t396__artboard,
  #rec459305258 .t396__filter,
  #rec459305258 .t396__carrier {
    height: 64px;
  }
  #rec459305258 .t396__filter {
  }
  #rec459305258 .t396__carrier {
    background-attachment: scroll;
  }
}
@media screen and (max-width: 479px) {
  #rec459305258 .t396__artboard,
  #rec459305258 .t396__filter,
  #rec459305258 .t396__carrier {
    height: 64px;
  }
  #rec459305258 .t396__filter {
  }
  #rec459305258 .t396__carrier {
    background-attachment: scroll;
  }
}
#rec459305258 .tn-elem[data-elem-id="1649846162388"] {
  color: #000000;
  text-align: center;
  z-index: 10;
  top: 0px;
  left: 202px;
  width: 160px;
  height: 48px;
}
#rec459305258 .tn-elem[data-elem-id="1649846162388"] .tn-atom {
  color: #000000;
  font-size: 14px;
  font-family: "Montserrat", Arial, sans-serif;
  line-height: 1.55;
  font-weight: 600;
  border-width: 1px;
  border-radius: 24px;
  background-color: #ffffff;
  background-position: center center;
  border-color: #000000;
  border-style: solid;
  transition:
    background-color 0.2s ease-in-out,
    color 0.2s ease-in-out,
    border-color 0.2s ease-in-out;
}
@media (hover), (min-width: 0\0) {
  #rec459305258 .tn-elem[data-elem-id="1649846162388"] .tn-atom:hover {
    background-color: #ffdd00;
    background-image: none;
  }
}
@media screen and (max-width: 1199px) {
  #rec459305258 .tn-elem[data-elem-id="1649846162388"] {
    width: 140px;
    height: 48px;
  }
  #rec459305258 .tn-elem[data-elem-id="1649846162388"] .tn-atom {
    font-size: 12px;
    background-size: cover;
  }
}
@media screen and (max-width: 959px) {
  #rec459305258 .tn-elem[data-elem-id="1649846162388"] {
    width: 140px;
    height: 48px;
  }
}
@media screen and (max-width: 639px) {
  #rec459305258 .tn-elem[data-elem-id="1649846162388"] {
  }
}
@media screen and (max-width: 479px) {
  #rec459305258 .tn-elem[data-elem-id="1649846162388"] {
    height: 48px;
  }
}
#rec459305258 .tn-elem[data-elem-id="1649846177921"] {
  color: #000000;
  text-align: center;
  z-index: 11;
  top: 0px;
  left: 394px;
  width: 260px;
  height: 48px;
}
#rec459305258 .tn-elem[data-elem-id="1649846177921"] .tn-atom {
  color: #000000;
  font-size: 14px;
  font-family: "Montserrat", Arial, sans-serif;
  line-height: 1.55;
  font-weight: 600;
  border-width: 1px;
  border-radius: 24px;
  background-color: #ffffff;
  background-position: center center;
  border-color: #000000;
  border-style: solid;
  transition:
    background-color 0.2s ease-in-out,
    color 0.2s ease-in-out,
    border-color 0.2s ease-in-out;
}
@media (hover), (min-width: 0\0) {
  #rec459305258 .tn-elem[data-elem-id="1649846177921"] .tn-atom:hover {
    background-color: #ffdd00;
    background-image: none;
  }
}
@media screen and (max-width: 1199px) {
  #rec459305258 .tn-elem[data-elem-id="1649846177921"] {
    width: 224px;
    height: 48px;
  }
  #rec459305258 .tn-elem[data-elem-id="1649846177921"] .tn-atom {
    font-size: 12px;
    background-size: cover;
  }
}
@media screen and (max-width: 959px) {
  #rec459305258 .tn-elem[data-elem-id="1649846177921"] {
    width: 224px;
    height: 48px;
  }
}
@media screen and (max-width: 639px) {
  #rec459305258 .tn-elem[data-elem-id="1649846177921"] {
  }
}
@media screen and (max-width: 479px) {
  #rec459305258 .tn-elem[data-elem-id="1649846177921"] {
    height: 48px;
  }
}
#rec459305258 .tn-elem[data-elem-id="1649846178555"] {
  color: #000000;
  text-align: center;
  z-index: 12;
  top: 0px;
  left: 686px;
  width: 120px;
  height: 48px;
}
#rec459305258 .tn-elem[data-elem-id="1649846178555"] .tn-atom {
  color: #000000;
  font-size: 14px;
  font-family: "Montserrat", Arial, sans-serif;
  line-height: 1.55;
  font-weight: 600;
  border-width: 1px;
  border-radius: 24px;
  background-color: #ffffff;
  background-position: center center;
  border-color: #000000;
  border-style: solid;
  transition:
    background-color 0.2s ease-in-out,
    color 0.2s ease-in-out,
    border-color 0.2s ease-in-out;
}
@media (hover), (min-width: 0\0) {
  #rec459305258 .tn-elem[data-elem-id="1649846178555"] .tn-atom:hover {
    background-color: #ffdd00;
    background-image: none;
  }
}
@media screen and (max-width: 1199px) {
  #rec459305258 .tn-elem[data-elem-id="1649846178555"] {
    width: 120px;
    height: 48px;
  }
  #rec459305258 .tn-elem[data-elem-id="1649846178555"] .tn-atom {
    font-size: 12px;
    background-size: cover;
  }
}
@media screen and (max-width: 959px) {
  #rec459305258 .tn-elem[data-elem-id="1649846178555"] {
    width: 100px;
    height: 48px;
  }
}
@media screen and (max-width: 639px) {
  #rec459305258 .tn-elem[data-elem-id="1649846178555"] {
  }
}
@media screen and (max-width: 479px) {
  #rec459305258 .tn-elem[data-elem-id="1649846178555"] {
    height: 48px;
  }
}
#rec459305258 .tn-elem[data-elem-id="1649846182361"] {
  color: #000000;
  text-align: center;
  z-index: 13;
  top: 0px;
  left: 838px;
  width: 120px;
  height: 48px;
}
#rec459305258 .tn-elem[data-elem-id="1649846182361"] .tn-atom {
  color: #000000;
  font-size: 14px;
  font-family: "Montserrat", Arial, sans-serif;
  line-height: 1.55;
  font-weight: 600;
  border-width: 1px;
  border-radius: 24px;
  background-color: #ffffff;
  background-position: center center;
  border-color: #000000;
  border-style: solid;
  transition:
    background-color 0.2s ease-in-out,
    color 0.2s ease-in-out,
    border-color 0.2s ease-in-out;
}
@media (hover), (min-width: 0\0) {
  #rec459305258 .tn-elem[data-elem-id="1649846182361"] .tn-atom:hover {
    background-color: #ffdd00;
    background-image: none;
  }
}
@media screen and (max-width: 1199px) {
  #rec459305258 .tn-elem[data-elem-id="1649846182361"] {
    width: 120px;
    height: 48px;
  }
  #rec459305258 .tn-elem[data-elem-id="1649846182361"] .tn-atom {
    font-size: 12px;
    background-size: cover;
  }
}
@media screen and (max-width: 959px) {
  #rec459305258 .tn-elem[data-elem-id="1649846182361"] {
    width: 120px;
    height: 48px;
  }
}
@media screen and (max-width: 639px) {
  #rec459305258 .tn-elem[data-elem-id="1649846182361"] {
  }
}
@media screen and (max-width: 479px) {
  #rec459305258 .tn-elem[data-elem-id="1649846182361"] {
    height: 48px;
  }
}

.t-menuburger {
  position: relative;
  flex-shrink: 0;
  width: 28px;
  height: 20px;
  padding: 0;
  border: none;
  background-color: transparent;
  outline: none;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
  z-index: 999;
}
.t-menuburger span {
  display: block;
  position: absolute;
  width: 100%;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
  height: 3px;
  background-color: #000;
}
.t-menuburger span:nth-child(1) {
  top: 0px;
}
.t-menuburger span:nth-child(2),
.t-menuburger span:nth-child(3) {
  top: 8px;
}
.t-menuburger span:nth-child(4) {
  top: 16px;
}
.t-menuburger__big {
  width: 42px;
  height: 32px;
}
.t-menuburger__big span {
  height: 5px;
}
.t-menuburger__big span:nth-child(2),
.t-menuburger__big span:nth-child(3) {
  top: 13px;
}
.t-menuburger__big span:nth-child(4) {
  top: 26px;
}
.t-menuburger__small {
  width: 22px;
  height: 14px;
}
.t-menuburger__small span {
  height: 2px;
}
.t-menuburger__small span:nth-child(2),
.t-menuburger__small span:nth-child(3) {
  top: 6px;
}
.t-menuburger__small span:nth-child(4) {
  top: 12px;
}
.t-menuburger-opened span:nth-child(1) {
  top: 8px;
  width: 0%;
  left: 50%;
}
.t-menuburger-opened span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.t-menuburger-opened span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.t-menuburger-opened span:nth-child(4) {
  top: 8px;
  width: 0%;
  left: 50%;
}
.t-menuburger-opened.t-menuburger__big span:nth-child(1) {
  top: 6px;
}
.t-menuburger-opened.t-menuburger__big span:nth-child(4) {
  top: 18px;
}
.t-menuburger-opened.t-menuburger__small span:nth-child(1),
.t-menuburger-opened.t-menuburger__small span:nth-child(4) {
  top: 6px;
}
@media (hover), (min-width: 0\0) {
  .t-menuburger_first:hover span:nth-child(1) {
    transform: translateY(1px);
  }
  .t-menuburger_first:hover span:nth-child(4) {
    transform: translateY(-1px);
  }
  .t-menuburger_first.t-menuburger__big:hover span:nth-child(1) {
    transform: translateY(3px);
  }
  .t-menuburger_first.t-menuburger__big:hover span:nth-child(4) {
    transform: translateY(-3px);
  }
}
.t-menuburger_second span:nth-child(2),
.t-menuburger_second span:nth-child(3) {
  width: 80%;
  left: 20%;
  right: 0;
}
@media (hover), (min-width: 0\0) {
  .t-menuburger_second.t-menuburger-hovered span:nth-child(2),
  .t-menuburger_second.t-menuburger-hovered span:nth-child(3) {
    animation: t-menuburger-anim 0.3s ease-out normal forwards;
  }
  .t-menuburger_second.t-menuburger-unhovered span:nth-child(2),
  .t-menuburger_second.t-menuburger-unhovered span:nth-child(3) {
    animation: t-menuburger-anim2 0.3s ease-out normal forwards;
  }
}
.t-menuburger_second.t-menuburger-opened span:nth-child(2),
.t-menuburger_second.t-menuburger-opened span:nth-child(3) {
  left: 0;
  right: 0;
  width: 100% !important;
}
.t-menuburger_third span:nth-child(4) {
  width: 70%;
  left: unset;
  right: 0;
}
@media (hover), (min-width: 0\0) {
  .t-menuburger_third:not(.t-menuburger-opened):hover span:nth-child(4) {
    width: 100%;
  }
}
.t-menuburger_third.t-menuburger-opened span:nth-child(4) {
  width: 0 !important;
  right: 50%;
}
.t-menuburger_fourth {
  height: 12px;
}
.t-menuburger_fourth.t-menuburger__small {
  height: 8px;
}
.t-menuburger_fourth.t-menuburger__big {
  height: 18px;
}
.t-menuburger_fourth span:nth-child(2),
.t-menuburger_fourth span:nth-child(3) {
  top: 4px;
  opacity: 0;
}
.t-menuburger_fourth span:nth-child(4) {
  top: 8px;
}
.t-menuburger_fourth.t-menuburger__small span:nth-child(2),
.t-menuburger_fourth.t-menuburger__small span:nth-child(3) {
  top: 3px;
}
.t-menuburger_fourth.t-menuburger__small span:nth-child(4) {
  top: 6px;
}
.t-menuburger_fourth.t-menuburger__small span:nth-child(2),
.t-menuburger_fourth.t-menuburger__small span:nth-child(3) {
  top: 3px;
}
.t-menuburger_fourth.t-menuburger__small span:nth-child(4) {
  top: 6px;
}
.t-menuburger_fourth.t-menuburger__big span:nth-child(2),
.t-menuburger_fourth.t-menuburger__big span:nth-child(3) {
  top: 6px;
}
.t-menuburger_fourth.t-menuburger__big span:nth-child(4) {
  top: 12px;
}
@media (hover), (min-width: 0\0) {
  .t-menuburger_fourth:not(.t-menuburger-opened):hover span:nth-child(1) {
    transform: translateY(1px);
  }
  .t-menuburger_fourth:not(.t-menuburger-opened):hover span:nth-child(4) {
    transform: translateY(-1px);
  }
  .t-menuburger_fourth.t-menuburger__big:not(.t-menuburger-opened):hover
    span:nth-child(1) {
    transform: translateY(3px);
  }
  .t-menuburger_fourth.t-menuburger__big:not(.t-menuburger-opened):hover
    span:nth-child(4) {
    transform: translateY(-3px);
  }
}
.t-menuburger_fourth.t-menuburger-opened span:nth-child(1),
.t-menuburger_fourth.t-menuburger-opened span:nth-child(4) {
  top: 4px;
}
.t-menuburger_fourth.t-menuburger-opened span:nth-child(2),
.t-menuburger_fourth.t-menuburger-opened span:nth-child(3) {
  opacity: 1;
}
@keyframes t-menuburger-anim {
  0% {
    width: 80%;
    left: 20%;
    right: 0;
  }
  50% {
    width: 100%;
    left: 0;
    right: 0;
  }
  100% {
    width: 80%;
    left: 0;
    right: 20%;
  }
}
@keyframes t-menuburger-anim2 {
  0% {
    width: 80%;
    left: 0;
  }
  50% {
    width: 100%;
    right: 0;
    left: 0;
  }
  100% {
    width: 80%;
    left: 20%;
    right: 0;
  }
}

.t-menuburger {
  position: relative;
  flex-shrink: 0;
  width: 28px;
  height: 20px;
  padding: 0;
  border: none;
  background-color: transparent;
  outline: none;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
  z-index: 999;
}
.t-menuburger span {
  display: block;
  position: absolute;
  width: 100%;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
  height: 3px;
  background-color: #000;
}
.t-menuburger span:nth-child(1) {
  top: 0px;
}
.t-menuburger span:nth-child(2),
.t-menuburger span:nth-child(3) {
  top: 8px;
}
.t-menuburger span:nth-child(4) {
  top: 16px;
}
.t-menuburger__big {
  width: 42px;
  height: 32px;
}
.t-menuburger__big span {
  height: 5px;
}
.t-menuburger__big span:nth-child(2),
.t-menuburger__big span:nth-child(3) {
  top: 13px;
}
.t-menuburger__big span:nth-child(4) {
  top: 26px;
}
.t-menuburger__small {
  width: 22px;
  height: 14px;
}
.t-menuburger__small span {
  height: 2px;
}
.t-menuburger__small span:nth-child(2),
.t-menuburger__small span:nth-child(3) {
  top: 6px;
}
.t-menuburger__small span:nth-child(4) {
  top: 12px;
}
.t-menuburger-opened span:nth-child(1) {
  top: 8px;
  width: 0%;
  left: 50%;
}
.t-menuburger-opened span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.t-menuburger-opened span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.t-menuburger-opened span:nth-child(4) {
  top: 8px;
  width: 0%;
  left: 50%;
}
.t-menuburger-opened.t-menuburger__big span:nth-child(1) {
  top: 6px;
}
.t-menuburger-opened.t-menuburger__big span:nth-child(4) {
  top: 18px;
}
.t-menuburger-opened.t-menuburger__small span:nth-child(1),
.t-menuburger-opened.t-menuburger__small span:nth-child(4) {
  top: 6px;
}
@media (hover), (min-width: 0\0) {
  .t-menuburger_first:hover span:nth-child(1) {
    transform: translateY(1px);
  }
  .t-menuburger_first:hover span:nth-child(4) {
    transform: translateY(-1px);
  }
  .t-menuburger_first.t-menuburger__big:hover span:nth-child(1) {
    transform: translateY(3px);
  }
  .t-menuburger_first.t-menuburger__big:hover span:nth-child(4) {
    transform: translateY(-3px);
  }
}
.t-menuburger_second span:nth-child(2),
.t-menuburger_second span:nth-child(3) {
  width: 80%;
  left: 20%;
  right: 0;
}
@media (hover), (min-width: 0\0) {
  .t-menuburger_second.t-menuburger-hovered span:nth-child(2),
  .t-menuburger_second.t-menuburger-hovered span:nth-child(3) {
    animation: t-menuburger-anim 0.3s ease-out normal forwards;
  }
  .t-menuburger_second.t-menuburger-unhovered span:nth-child(2),
  .t-menuburger_second.t-menuburger-unhovered span:nth-child(3) {
    animation: t-menuburger-anim2 0.3s ease-out normal forwards;
  }
}
.t-menuburger_second.t-menuburger-opened span:nth-child(2),
.t-menuburger_second.t-menuburger-opened span:nth-child(3) {
  left: 0;
  right: 0;
  width: 100% !important;
}
.t-menuburger_third span:nth-child(4) {
  width: 70%;
  left: unset;
  right: 0;
}
@media (hover), (min-width: 0\0) {
  .t-menuburger_third:not(.t-menuburger-opened):hover span:nth-child(4) {
    width: 100%;
  }
}
.t-menuburger_third.t-menuburger-opened span:nth-child(4) {
  width: 0 !important;
  right: 50%;
}
.t-menuburger_fourth {
  height: 12px;
}
.t-menuburger_fourth.t-menuburger__small {
  height: 8px;
}
.t-menuburger_fourth.t-menuburger__big {
  height: 18px;
}
.t-menuburger_fourth span:nth-child(2),
.t-menuburger_fourth span:nth-child(3) {
  top: 4px;
  opacity: 0;
}
.t-menuburger_fourth span:nth-child(4) {
  top: 8px;
}
.t-menuburger_fourth.t-menuburger__small span:nth-child(2),
.t-menuburger_fourth.t-menuburger__small span:nth-child(3) {
  top: 3px;
}
.t-menuburger_fourth.t-menuburger__small span:nth-child(4) {
  top: 6px;
}
.t-menuburger_fourth.t-menuburger__small span:nth-child(2),
.t-menuburger_fourth.t-menuburger__small span:nth-child(3) {
  top: 3px;
}
.t-menuburger_fourth.t-menuburger__small span:nth-child(4) {
  top: 6px;
}
.t-menuburger_fourth.t-menuburger__big span:nth-child(2),
.t-menuburger_fourth.t-menuburger__big span:nth-child(3) {
  top: 6px;
}
.t-menuburger_fourth.t-menuburger__big span:nth-child(4) {
  top: 12px;
}
@media (hover), (min-width: 0\0) {
  .t-menuburger_fourth:not(.t-menuburger-opened):hover span:nth-child(1) {
    transform: translateY(1px);
  }
  .t-menuburger_fourth:not(.t-menuburger-opened):hover span:nth-child(4) {
    transform: translateY(-1px);
  }
  .t-menuburger_fourth.t-menuburger__big:not(.t-menuburger-opened):hover
    span:nth-child(1) {
    transform: translateY(3px);
  }
  .t-menuburger_fourth.t-menuburger__big:not(.t-menuburger-opened):hover
    span:nth-child(4) {
    transform: translateY(-3px);
  }
}
.t-menuburger_fourth.t-menuburger-opened span:nth-child(1),
.t-menuburger_fourth.t-menuburger-opened span:nth-child(4) {
  top: 4px;
}
.t-menuburger_fourth.t-menuburger-opened span:nth-child(2),
.t-menuburger_fourth.t-menuburger-opened span:nth-child(3) {
  opacity: 1;
}
@keyframes t-menuburger-anim {
  0% {
    width: 80%;
    left: 20%;
    right: 0;
  }
  50% {
    width: 100%;
    left: 0;
    right: 0;
  }
  100% {
    width: 80%;
    left: 0;
    right: 20%;
  }
}
@keyframes t-menuburger-anim2 {
  0% {
    width: 80%;
    left: 0;
  }
  50% {
    width: 100%;
    right: 0;
    left: 0;
  }
  100% {
    width: 80%;
    left: 20%;
    right: 0;
  }
}

#rec459113917 .t-menu__link-item {
  -webkit-transition:
    color 0.3s ease-in-out,
    opacity 0.3s ease-in-out;
  transition:
    color 0.3s ease-in-out,
    opacity 0.3s ease-in-out;
}
#rec459113917 .t-menu__link-item.t-active:not(.t978__menu-link) {
  font-weight: 700 !important;
}
@supports (overflow: -webkit-marquee) and (justify-content: inherit) {
  #rec459113917 .t-menu__link-item,
  #rec459113917 .t-menu__link-item.t-active {
    opacity: 1 !important;
  }
}

#rec459113917 a.t-menu__link-item {
  font-size: 20px;
  color: #000000;
  font-weight: 500;
  font-family: "Montserrat";
  text-transform: uppercase;
}
