{% css %}
{% include "header/header.css" %}
{% endcss %}

<header
  id="t-header"
  class="t-records"
  data-hook="blocks-collection-content-node"
  data-tilda-project-id="4474231"
  data-tilda-page-id="28392221"
  data-tilda-formskey="ae3c80402d5bca38225eafac5ea07763"
  data-tilda-stat-scroll="yes"
  data-tilda-lazy="yes"
  data-tilda-project-lang="RU"
  data-tilda-root-zone="com"
  data-tilda-project-headcode="yes"
>
  <div
    id="rec459326737"
    class="r t-rec"
    style=""
    data-animationappear="off"
    data-record-type="396"
  >
    <!-- T396 -->
    
    <div class="t396">
      <div
        class="t396__artboard"
        data-artboard-recid="459326737"
        data-artboard-screens="320,480,640,960,1200"
        data-artboard-height="96"
        data-artboard-valign="center"
        data-artboard-upscale="grid"
        data-artboard-height-res-320="80"
        data-artboard-height-res-480="80"
        data-artboard-height-res-640="80"
        data-artboard-upscale-res-640="grid"
        data-artboard-height-res-960="80"
      >
        <div class="t396__carrier" data-artboard-recid="459326737"></div>
        <div class="t396__filter" data-artboard-recid="459326737"></div>
        <div
          class="t396__elem tn-elem tn-elem__4593267371632126151699"
          data-elem-id="1632126151699"
          data-elem-type="text"
          data-field-top-value="36"
          data-field-left-value="245"
          data-field-width-value="142"
          data-field-axisy-value="top"
          data-field-axisx-value="left"
          data-field-container-value="grid"
          data-field-topunits-value="px"
          data-field-leftunits-value="px"
          data-field-heightunits-value=""
          data-field-widthunits-value="px"
          data-field-top-res-320-value="95"
          data-field-left-res-320-value="20"
          data-field-top-res-480-value="88"
          data-field-left-res-480-value="20"
          data-field-width-res-480-value="118"
          data-field-top-res-640-value="86"
          data-field-left-res-640-value="20"
          data-field-width-res-640-value="118"
          data-field-top-res-960-value="30"
          data-field-left-res-960-value="168"
          data-field-width-res-960-value="122"
        >
          <div class="tn-atom">
            <a
              href="https://oggetto.academy/#academy"
              style="color: inherit"
              >ОБ АКАДЕМИИ</a
            >
          </div>
        </div>
        <div
          class="t396__elem tn-elem tn-elem__4593267371632126277317"
          data-elem-id="1632126277317"
          data-elem-type="text"
          data-field-top-value="36"
          data-field-left-value="411"
          data-field-width-value="246"
          data-field-axisy-value="top"
          data-field-axisx-value="left"
          data-field-container-value="grid"
          data-field-topunits-value="px"
          data-field-leftunits-value="px"
          data-field-heightunits-value=""
          data-field-widthunits-value="px"
          data-field-top-res-320-value="90"
          data-field-left-res-320-value="170"
          data-field-width-res-320-value="115"
          data-field-top-res-480-value="90"
          data-field-left-res-480-value="170"
          data-field-width-res-480-value="208"
          data-field-top-res-640-value="78"
          data-field-left-res-640-value="170"
          data-field-width-res-640-value="127"
          data-field-top-res-960-value="30"
          data-field-left-res-960-value="314"
          data-field-width-res-960-value="214"
        >
          <div class="tn-atom">
            <a
              href="https://oggetto.academy/#courses"
              style="color: inherit"
              >НАПРАВЛЕНИЯ ОБУЧЕНИЯ</a
            >
          </div>
        </div>
        <div
          class="t396__elem tn-elem tn-elem__4593267371632126319029"
          data-elem-id="1632126319029"
          data-elem-type="text"
          data-field-top-value="36"
          data-field-left-value="681"
          data-field-width-value="47"
          data-field-axisy-value="top"
          data-field-axisx-value="left"
          data-field-container-value="grid"
          data-field-topunits-value="px"
          data-field-leftunits-value="px"
          data-field-heightunits-value=""
          data-field-widthunits-value="px"
          data-field-top-res-320-value="140"
          data-field-left-res-320-value="190"
          data-field-top-res-480-value="125"
          data-field-left-res-480-value="130"
          data-field-width-res-480-value="47"
          data-field-top-res-640-value="86"
          data-field-left-res-640-value="445"
          data-field-width-res-640-value="50"
          data-field-top-res-960-value="30"
          data-field-left-res-960-value="552"
          data-field-width-res-960-value="38"
        >
          <div class="tn-atom">
            <a href="https://oggetto.academy/#faq" style="color: inherit"
              >FAQ</a
            >
          </div>
        </div>
        <div
          class="t396__elem tn-elem tn-elem__4593267371632126329393"
          data-elem-id="1632126329393"
          data-elem-type="text"
          data-field-top-value="36"
          data-field-left-value="752"
          data-field-width-value="107"
          data-field-axisy-value="top"
          data-field-axisx-value="left"
          data-field-container-value="grid"
          data-field-topunits-value="px"
          data-field-leftunits-value="px"
          data-field-heightunits-value=""
          data-field-widthunits-value="px"
          data-field-top-res-320-value="135"
          data-field-left-res-320-value="30"
          data-field-top-res-480-value="120"
          data-field-left-res-480-value="240"
          data-field-width-res-480-value="81"
          data-field-top-res-640-value="86"
          data-field-left-res-640-value="527"
          data-field-width-res-640-value="93"
          data-field-top-res-960-value="30"
          data-field-left-res-960-value="614"
          data-field-width-res-960-value="85"
        >
          <div class="tn-atom">
            <a
              href="https://oggetto.academy/#contacts"
              style="color: inherit"
              >КОНТАКТЫ</a
            >
          </div>
        </div>
        <div
          class="t396__elem tn-elem tn-elem__4593267371470210033144"
          data-elem-id="1470210033144"
          data-elem-type="image"
          data-field-top-value="8"
          data-field-left-value="20"
          data-field-width-value="127"
          data-field-axisy-value="top"
          data-field-axisx-value="left"
          data-field-container-value="grid"
          data-field-topunits-value="px"
          data-field-leftunits-value="px"
          data-field-heightunits-value=""
          data-field-widthunits-value="px"
          data-field-filewidth-value="298"
          data-field-fileheight-value="187"
          data-field-top-res-320-value="18"
          data-field-left-res-320-value="20"
          data-field-width-res-320-value="76"
          data-field-top-res-480-value="6"
          data-field-left-res-480-value="20"
          data-field-width-res-480-value="115"
          data-field-top-res-640-value="6"
          data-field-left-res-640-value="20"
          data-field-width-res-640-value="117"
          data-field-top-res-960-value="8"
          data-field-left-res-960-value="10"
          data-field-width-res-960-value="102"
        >
          <div class="tn-atom">
            <img
              class="tn-atom__img t-img"
              data-original="/assets/images/oggetto-icon.png"
              src="/assets/images/oggetto-icon.png"
              alt=""
              imgfield="tn_img_1470210033144"
            />
          </div>
        </div>
        <div
          class="t396__elem tn-elem tn-elem__4593267371631780570314"
          data-elem-id="1631780570314"
          data-elem-type="button"
          data-field-top-value="20"
          data-field-left-value="960"
          data-field-height-value="56"
          data-field-width-value="220"
          data-field-axisy-value="top"
          data-field-axisx-value="left"
          data-field-container-value="grid"
          data-field-topunits-value="px"
          data-field-leftunits-value="px"
          data-field-heightunits-value=""
          data-field-widthunits-value=""
          data-field-top-res-320-value="16"
          data-field-left-res-320-value="140"
          data-field-height-res-320-value="48"
          data-field-width-res-320-value="160"
          data-field-top-res-480-value="16"
          data-field-left-res-480-value="300"
          data-field-top-res-640-value="16"
          data-field-left-res-640-value="460"
          data-field-top-res-960-value="16"
          data-field-left-res-960-value="790"
          data-field-height-res-960-value="48"
          data-field-width-res-960-value="160"
        >
          <a
            class="tn-atom js-click-zero-stat"
            href="#courses"
            target="_blank"
            data-tilda-event-name="/tilda/click/rec459326737/button1631780570314"
            >ХОЧУ УЧИТЬСЯ</a
          >
        </div>
        <div
          class="t396__elem tn-elem tn-elem__4593267371632126606278"
          data-elem-id="1632126606278"
          data-elem-type="shape"
          data-field-top-value="263"
          data-field-left-value="284"
          data-field-height-value="10"
          data-field-width-value="3"
          data-field-axisy-value="top"
          data-field-axisx-value="left"
          data-field-container-value="grid"
          data-field-topunits-value="px"
          data-field-leftunits-value="px"
          data-field-heightunits-value="px"
          data-field-widthunits-value="px"
          data-field-top-res-320-value="94"
          data-field-left-res-320-value="154"
          data-field-height-res-320-value="20"
          data-field-top-res-480-value="163"
          data-field-left-res-480-value="-156"
          data-field-height-res-480-value="14"
          data-field-top-res-640-value="263"
          data-field-left-res-640-value="284"
        >
          <div class="tn-atom"></div>
        </div>
        <div
          class="t396__elem tn-elem tn-elem__4593267371632126663214"
          data-elem-id="1632126663214"
          data-elem-type="shape"
          data-field-top-value="273px"
          data-field-left-value="294px"
          data-field-height-value="10"
          data-field-width-value="3"
          data-field-axisy-value="top"
          data-field-axisx-value="left"
          data-field-container-value="grid"
          data-field-topunits-value="px"
          data-field-leftunits-value="px"
          data-field-heightunits-value="px"
          data-field-widthunits-value="px"
          data-field-top-res-320-value="210"
          data-field-left-res-320-value="161"
          data-field-top-res-480-value="209"
          data-field-left-res-480-value="-123"
          data-field-height-res-480-value="14"
          data-field-top-res-640-value="273px"
          data-field-left-res-640-value="294px"
        >
          <div class="tn-atom"></div>
        </div>
        <div
          class="t396__elem tn-elem tn-elem__4593267371632126686886"
          data-elem-id="1632126686886"
          data-elem-type="shape"
          data-field-top-value="283px"
          data-field-left-value="304px"
          data-field-height-value="10"
          data-field-width-value="3"
          data-field-axisy-value="top"
          data-field-axisx-value="left"
          data-field-container-value="grid"
          data-field-topunits-value="px"
          data-field-leftunits-value="px"
          data-field-heightunits-value="px"
          data-field-widthunits-value="px"
          data-field-top-res-320-value="135"
          data-field-left-res-320-value="154"
          data-field-height-res-320-value="20"
          data-field-top-res-480-value="209"
          data-field-left-res-480-value="-65"
          data-field-height-res-480-value="14"
          data-field-top-res-640-value="283px"
          data-field-left-res-640-value="304px"
        >
          <div class="tn-atom"></div>
        </div>
      </div>
    </div>
    
    <!-- /T396 -->
  </div>
  <div
    id="rec459305258"
    class="r t-rec t-rec_pt-res-480_0 t-rec_pb_15 t-rec_pb-res-480_15 t-screenmax-980px"
    style="padding-bottom: 15px"
    data-record-type="396"
    data-screen-max="980px"
  >
    <!-- T396 -->
    
    <div class="t396">
      <div
        class="t396__artboard"
        data-artboard-recid="459305258"
        data-artboard-screens="320,480,640,960,1200"
        data-artboard-height="64"
        data-artboard-valign="center"
        data-artboard-upscale="grid"
        data-artboard-ovrflw="auto"
        data-artboard-height-res-320="64"
        data-artboard-height-res-480="64"
        data-artboard-height-res-640="64"
        data-artboard-height-res-960="64"
        data-artboard-upscale-res-960="grid"
      >
        <div class="t396__carrier" data-artboard-recid="459305258"></div>
        <div class="t396__filter" data-artboard-recid="459305258"></div>
        <div
          class="t396__elem tn-elem tn-elem__4593052581649846162388"
          data-elem-id="1649846162388"
          data-elem-type="button"
          data-field-top-value="4"
          data-field-left-value="222"
          data-field-height-value="48"
          data-field-width-value="160"
          data-field-axisy-value="top"
          data-field-axisx-value="left"
          data-field-container-value="grid"
          data-field-topunits-value="px"
          data-field-leftunits-value="px"
          data-field-heightunits-value=""
          data-field-widthunits-value=""
          data-field-top-res-320-value="4"
          data-field-left-res-320-value="20"
          data-field-height-res-320-value="48"
          data-field-top-res-480-value="4"
          data-field-left-res-480-value="20"
          data-field-top-res-640-value="4"
          data-field-left-res-640-value="20"
          data-field-height-res-640-value="48"
          data-field-width-res-640-value="140"
          data-field-top-res-960-value="4"
          data-field-left-res-960-value="130"
          data-field-height-res-960-value="48"
          data-field-width-res-960-value="140"
        >
          <a class="tn-atom" href="https://oggetto.academy/#courses"
            >ОБ АКАДЕМИИ</a
          >
        </div>
        <div
          class="t396__elem tn-elem tn-elem__4593052581649846177921"
          data-elem-id="1649846177921"
          data-elem-type="button"
          data-field-top-value="4"
          data-field-left-value="414"
          data-field-height-value="48"
          data-field-width-value="260"
          data-field-axisy-value="top"
          data-field-axisx-value="left"
          data-field-container-value="grid"
          data-field-topunits-value="px"
          data-field-leftunits-value="px"
          data-field-heightunits-value=""
          data-field-widthunits-value=""
          data-field-top-res-320-value="4"
          data-field-left-res-320-value="176"
          data-field-height-res-320-value="48"
          data-field-top-res-480-value="4"
          data-field-left-res-480-value="176"
          data-field-top-res-640-value="4"
          data-field-left-res-640-value="180"
          data-field-height-res-640-value="48"
          data-field-width-res-640-value="224"
          data-field-top-res-960-value="4"
          data-field-left-res-960-value="302"
          data-field-height-res-960-value="48"
          data-field-width-res-960-value="224"
        >
          <a class="tn-atom" href="https://oggetto.academy/#courses"
            >НАПРАВЛЕНИЯ ОБУЧЕНИЯ</a
          >
        </div>
        <div
          class="t396__elem tn-elem tn-elem__4593052581649846178555"
          data-elem-id="1649846178555"
          data-elem-type="button"
          data-field-top-value="4"
          data-field-left-value="706"
          data-field-height-value="48"
          data-field-width-value="120"
          data-field-axisy-value="top"
          data-field-axisx-value="left"
          data-field-container-value="grid"
          data-field-topunits-value="px"
          data-field-leftunits-value="px"
          data-field-heightunits-value=""
          data-field-widthunits-value=""
          data-field-top-res-320-value="4"
          data-field-left-res-320-value="416"
          data-field-height-res-320-value="48"
          data-field-top-res-480-value="4"
          data-field-left-res-480-value="416"
          data-field-top-res-640-value="4"
          data-field-left-res-640-value="424"
          data-field-height-res-640-value="48"
          data-field-width-res-640-value="100"
          data-field-top-res-960-value="4"
          data-field-left-res-960-value="558"
          data-field-height-res-960-value="48"
          data-field-width-res-960-value="120"
        >
          <a class="tn-atom" href="https://oggetto.academy/#faq">FAQ</a>
        </div>
        <div
          class="t396__elem tn-elem tn-elem__4593052581649846182361"
          data-elem-id="1649846182361"
          data-elem-type="button"
          data-field-top-value="4"
          data-field-left-value="858"
          data-field-height-value="48"
          data-field-width-value="120"
          data-field-axisy-value="top"
          data-field-axisx-value="left"
          data-field-container-value="grid"
          data-field-topunits-value="px"
          data-field-leftunits-value="px"
          data-field-heightunits-value=""
          data-field-widthunits-value=""
          data-field-top-res-320-value="4"
          data-field-left-res-320-value="532"
          data-field-height-res-320-value="48"
          data-field-top-res-480-value="4"
          data-field-left-res-480-value="532"
          data-field-top-res-640-value="4"
          data-field-left-res-640-value="544"
          data-field-height-res-640-value="48"
          data-field-width-res-640-value="120"
          data-field-top-res-960-value="4"
          data-field-left-res-960-value="710"
          data-field-height-res-960-value="48"
          data-field-width-res-960-value="120"
        >
          <a class="tn-atom" href="https://oggetto.academy/#contacts"
            >КОНТАКТЫ</a
          >
        </div>
      </div>
    </div>
    
    <!-- /T396 -->
  </div>
  <div
    id="rec459113917"
    class="r t-rec t-rec_pt_0 t-rec_pb_0 t-screenmax-980px"
    style="padding-top: 0px; padding-bottom: 0px"
    data-animationappear="off"
    data-record-type="451"
    data-screen-max="980px"
  >
    <!-- T451 -->
    <div id="nav459113917marker"></div>
    <div id="nav459113917" class="t451" data-menu="yes">
      <div
        class="t451__container t451__positionfixed t451__panel t451__beforeready"
        data-appearoffset="120px"
        style="height: 60px"
      >
        <div
          class="t451__container__bg"
          style="background-color: rgba(255, 255, 255, 1)"
          data-bgcolor-hex="#ffffff"
          data-bgcolor-rgba="rgba(255,255,255,1)"
          data-navmarker="nav459113917marker"
          data-appearoffset="120px"
          data-bgopacity="1"
          data-menushadow=""
          data-menushadow-css=""
        ></div>
        <div class="t451__menu__content t451__col-12">
          <div class="t451__burger-wrapper__mobile">
            <button
              type="button"
              class="t-menuburger t-menuburger_first"
              aria-label="Навигационное меню"
              aria-expanded="false"
            >
              <span style="background-color: #000"></span>
              <span style="background-color: #000"></span>
              <span style="background-color: #000"></span>
              <span style="background-color: #000"></span>
            </button>
            
            
          </div>
          <div class="t451__leftside t451__side t451__side_burger">
            <button
              type="button"
              class="t-menuburger t-menuburger_first"
              aria-label="Навигационное меню"
              aria-expanded="false"
            >
              <span style="background-color: #000"></span>
              <span style="background-color: #000"></span>
              <span style="background-color: #000"></span>
              <span style="background-color: #000"></span>
            </button>
            
            
          </div>
          <div class="t451__centerside t451__side">
            <div
              class="t451__logo__container t451__textlogo__container"
            ></div>
          </div>
          <div
            class="t451__rightside t451__side t451__side_socials"
          ></div>
        </div>
      </div>
    </div>
    <div class="t451m__overlay">
      <div class="t451m__overlay_bg" style=""></div>
    </div>
    <div
      class="t451 t451m t451m__left"
      data-tooltip-hook=""
      style="background-color: #ffffff"
    >
      <button
        type="button"
        class="t451m__close-button t451m__close t451m_opened"
        style="background-color: #ffffff"
        aria-label="Закрыть меню"
      >
        <div class="t451m__close_icon">
          <span style="background-color: #000000"></span>
          <span style="background-color: #000000"></span>
          <span style="background-color: #000000"></span>
          <span style="background-color: #000000"></span>
        </div>
      </button>
      <div class="t451m__container t-align_left">
        <div class="t451m__top">
          <nav class="t451m__menu">
            <ul role="list" class="t451m__list t-menu__list">
              <li class="t451m__list_item">
                <a
                  class="t-menu__link-item"
                  href="https://oggetto.academy/#academy"
                  target="_blank"
                  data-menu-submenu-hook=""
                  data-menu-item-number="1"
                >
                  ОБ АКАДЕМИИ
                </a>
              </li>
              <li class="t451m__list_item">
                <a
                  class="t-menu__link-item"
                  href="https://oggetto.academy/#courses"
                  target="_blank"
                  data-menu-submenu-hook=""
                  data-menu-item-number="2"
                >
                  НАПРАВЛЕНИЯ ОБУЧЕНИЯ
                </a>
              </li>
              <li class="t451m__list_item">
                <a
                  class="t-menu__link-item"
                  href="https://oggetto.academy/#faq"
                  target="_blank"
                  data-menu-submenu-hook=""
                  data-menu-item-number="3"
                >
                  FAQ
                </a>
              </li>
              <li class="t451m__list_item">
                <a
                  class="t-menu__link-item"
                  href="https://oggetto.academy/#contacts"
                  target="_blank"
                  data-menu-submenu-hook=""
                  data-menu-item-number="4"
                >
                  КОНТАКТЫ
                </a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="t451m__rightside">
          <div class="t451m__rightcontainer">
            <div
              class="t451m__right_descr t-descr t-descr_xs"
              field="descr"
            >
              Просто учим сложному
            </div>
          </div>
        </div>
      </div>
    </div>
    
    
    
    
  </div>
</header>

{% js %}
{% include "header/header.js" %}
{% endjs %}
