<div
  id="rec440514869"
  class="r t-rec t-rec_pt_105"
  style="padding-top: 105px"
  data-animationappear="off"
  data-record-type="396"
>
  <!-- T396 -->
  <style>
    #rec440514869 .t396__artboard {
      height: 301px;
      background-color: #ffffff;
    }
    #rec440514869 .t396__filter {
      height: 301px;
    }
    #rec440514869 .t396__carrier {
      height: 301px;
      background-position: center center;
      background-attachment: scroll;
      background-size: cover;
      background-repeat: no-repeat;
    }
    @media screen and (max-width: 1199px) {
      #rec440514869 .t396__artboard,
      #rec440514869 .t396__filter,
      #rec440514869 .t396__carrier {
      }
      #rec440514869 .t396__filter {
      }
      #rec440514869 .t396__carrier {
        background-attachment: scroll;
      }
    }
    @media screen and (max-width: 959px) {
      #rec440514869 .t396__artboard,
      #rec440514869 .t396__filter,
      #rec440514869 .t396__carrier {
      }
      #rec440514869 .t396__filter {
      }
      #rec440514869 .t396__carrier {
        background-attachment: scroll;
      }
    }
    @media screen and (max-width: 639px) {
      #rec440514869 .t396__artboard,
      #rec440514869 .t396__filter,
      #rec440514869 .t396__carrier {
      }
      #rec440514869 .t396__filter {
      }
      #rec440514869 .t396__carrier {
        background-attachment: scroll;
      }
    }
    @media screen and (max-width: 479px) {
      #rec440514869 .t396__artboard,
      #rec440514869 .t396__filter,
      #rec440514869 .t396__carrier {
      }
      #rec440514869 .t396__filter {
      }
      #rec440514869 .t396__carrier {
        background-attachment: scroll;
      }
    }
    #rec440514869 .tn-elem[data-elem-id="1650966930879"] {
      color: #000000;
      text-align: LEFT;
      z-index: 1;
      top: 23px;
      left: calc(50% - 600px + 2px);
      width: 711px;
      height: auto;
    }
    #rec440514869 .tn-elem[data-elem-id="1650966930879"] .tn-atom {
      color: #000000;
      font-size: 36px;
      font-family: "Montserrat", Arial, sans-serif;
      line-height: 1.3;
      font-weight: 800;
      background-position: center center;
      border-color: transparent;
      border-style: solid;
    }
    @media screen and (max-width: 1199px) {
    }
    @media screen and (max-width: 959px) {
      #rec440514869 .tn-elem[data-elem-id="1650966930879"] {
        top: 23px;
        left: calc(50% - 320px + 27px);
        width: 630px;
        height: auto;
      }
    }
    @media screen and (max-width: 639px) {
      #rec440514869 .tn-elem[data-elem-id="1650966930879"] {
        top: 23px;
        left: calc(50% - 240px + 31px);
        height: auto;
      }
    }
    @media screen and (max-width: 479px) {
      #rec440514869 .tn-elem[data-elem-id="1650966930879"] {
        top: 5px;
        left: calc(50% - 160px + 6px);
        width: 200px;
        height: auto;
      }
      #rec440514869 .tn-elem[data-elem-id="1650966930879"] {
        text-align: center;
      }
      #rec440514869 .tn-elem[data-elem-id="1650966930879"] .tn-atom {
        font-size: 34px;
        background-size: cover;
        opacity: 1;
      }
    }
    #rec440514869 .tn-elem[data-elem-id="1651832596899"] {
      z-index: 3;
      top: 2px;
      left: calc(50% - 600px + 417px);
      width: 764px;
      height: auto;
      pointer-events: none;
    }
    #rec440514869 .tn-elem[data-elem-id="1651832596899"] .tn-atom {
      background-position: center center;
      border-color: transparent;
      border-style: solid;
    }
    #rec440514869 .tn-elem[data-elem-id="1651832596899"] .tn-atom__img {
    }
    @media screen and (max-width: 1199px) {
      #rec440514869 .tn-elem[data-elem-id="1651832596899"] {
        top: 54px;
        left: calc(50% - 480px + 392px);
        width: 568px;
        height: auto;
      }
    }
    @media screen and (max-width: 959px) {
      #rec440514869 .tn-elem[data-elem-id="1651832596899"] {
        top: 130px;
        left: calc(50% - 320px + 260px);
        width: 363px;
        height: auto;
      }
    }
    @media screen and (max-width: 639px) {
      #rec440514869 .tn-elem[data-elem-id="1651832596899"] {
        top: 169px;
        left: calc(50% - 240px + 184px);
        width: 296px;
        height: auto;
      }
    }
    @media screen and (max-width: 479px) {
      #rec440514869 .tn-elem[data-elem-id="1651832596899"] {
        top: 180px;
        left: calc(50% - 160px + 34px);
        width: 286px;
        height: auto;
      }
    }
    #rec440514869 .tn-elem[data-elem-id="1650966930893"] {
      color: #000000;
      text-align: center;
      z-index: 4;
      top: 415px;
      left: calc(50% - 600px + 0px);
      width: 286px;
      height: 64px;
    }
    #rec440514869 .tn-elem[data-elem-id="1650966930893"] .tn-atom {
      color: #000000;
      font-size: 18px;
      font-family: "Montserrat", Arial, sans-serif;
      line-height: 1.3;
      font-weight: 700;
      text-transform: uppercase;
      border-radius: 4px;
      background-color: #ffdd00;
      background-position: center center;
      border-color: transparent;
      border-style: solid;
      transition:
        background-color 0.2s ease-in-out,
        color 0.2s ease-in-out,
        border-color 0.2s ease-in-out;
    }
    @media screen and (max-width: 1199px) {
    }
    @media screen and (max-width: 959px) {
      #rec440514869 .tn-elem[data-elem-id="1650966930893"] {
        top: 385px;
        left: calc(50% - 320px + 30px);
      }
    }
    @media screen and (max-width: 639px) {
      #rec440514869 .tn-elem[data-elem-id="1650966930893"] {
        top: 355px;
        left: calc(50% - 240px + 30px);
      }
    }
    @media screen and (max-width: 479px) {
      #rec440514869 .tn-elem[data-elem-id="1650966930893"] {
        top: 190px;
        left: calc(50% - 160px + -320px);
      }
    }
    #rec440514869 .tn-elem[data-elem-id="1678103180274"] {
      color: #000000;
      text-align: LEFT;
      z-index: 5;
      top: 101px;
      left: calc(50% - 600px + 0px);
      width: 711px;
      height: auto;
    }
    #rec440514869 .tn-elem[data-elem-id="1678103180274"] .tn-atom {
      color: #000000;
      font-size: 34px;
      font-family: "Montserrat", Arial, sans-serif;
      line-height: 1.3;
      font-weight: 800;
      background-position: center center;
      border-color: transparent;
      border-style: solid;
    }
    @media screen and (max-width: 1199px) {
      #rec440514869 .tn-elem[data-elem-id="1678103180274"] {
        top: 101px;
        left: calc(50% - 480px + 0px);
        height: auto;
      }
      #rec440514869 .tn-elem[data-elem-id="1678103180274"] .tn-atom {
        font-size: 30px;
        background-size: cover;
      }
    }
    @media screen and (max-width: 959px) {
      #rec440514869 .tn-elem[data-elem-id="1678103180274"] {
        top: 80px;
        left: calc(50% - 320px + 27px);
        width: 630px;
        height: auto;
      }
      #rec440514869 .tn-elem[data-elem-id="1678103180274"] .tn-atom {
        font-size: 24px;
        background-size: cover;
      }
    }
    @media screen and (max-width: 639px) {
      #rec440514869 .tn-elem[data-elem-id="1678103180274"] {
        top: 85px;
        left: calc(50% - 240px + 30px);
        width: 392px;
        height: auto;
      }
    }
    @media screen and (max-width: 479px) {
      #rec440514869 .tn-elem[data-elem-id="1678103180274"] {
        top: 101px;
        left: calc(50% - 160px + 35px);
        width: 200px;
        height: auto;
      }
      #rec440514869 .tn-elem[data-elem-id="1678103180274"] {
        text-align: left;
      }
      #rec440514869 .tn-elem[data-elem-id="1678103180274"] .tn-atom {
        font-size: 17px;
        background-size: cover;
        opacity: 1;
      }
    }
  </style>
  <div class="t396">
    <div
      class="t396__artboard"
      data-artboard-recid="440514869"
      data-artboard-screens="320,480,640,960,1200"
      data-artboard-height="301"
      data-artboard-valign="center"
      data-artboard-upscale="grid"
    >
      <div class="t396__carrier" data-artboard-recid="440514869"></div>
      <div class="t396__filter" data-artboard-recid="440514869"></div>
      <div
        class="t396__elem tn-elem tn-elem__4405148691650966930879"
        data-elem-id="1650966930879"
        data-elem-type="text"
        data-field-top-value="23"
        data-field-left-value="2"
        data-field-width-value="711"
        data-field-axisy-value="top"
        data-field-axisx-value="left"
        data-field-container-value="grid"
        data-field-topunits-value="px"
        data-field-leftunits-value="px"
        data-field-heightunits-value=""
        data-field-widthunits-value="px"
        data-field-top-res-320-value="5"
        data-field-left-res-320-value="6"
        data-field-width-res-320-value="200"
        data-field-top-res-480-value="23"
        data-field-left-res-480-value="31"
        data-field-top-res-640-value="23"
        data-field-left-res-640-value="27"
        data-field-width-res-640-value="630"
      >
        <div class="tn-atom" field="tn_text_1650966930879">
          Хочешь так же?
        </div>
      </div>
      <div
        class="t396__elem tn-elem tn-elem__4405148691651832596899"
        data-elem-id="1651832596899"
        data-elem-type="image"
        data-field-top-value="2"
        data-field-left-value="417"
        data-field-width-value="764"
        data-field-axisy-value="top"
        data-field-axisx-value="left"
        data-field-container-value="grid"
        data-field-topunits-value="px"
        data-field-leftunits-value="px"
        data-field-heightunits-value=""
        data-field-widthunits-value="px"
        data-field-filewidth-value="3492"
        data-field-fileheight-value="1362"
        data-field-top-res-320-value="180"
        data-field-left-res-320-value="34"
        data-field-width-res-320-value="286"
        data-field-top-res-480-value="169"
        data-field-left-res-480-value="184"
        data-field-width-res-480-value="296"
        data-field-top-res-640-value="130"
        data-field-left-res-640-value="260"
        data-field-width-res-640-value="363"
        data-field-top-res-960-value="54"
        data-field-left-res-960-value="392"
        data-field-width-res-960-value="568"
      >
        <div class="tn-atom">
          <img
            class="tn-atom__img t-img"
            data-original="/assets/images/tild3734-6265-4431-b434-386236346436__4a32a3346552b1a9c207.svg"
            src="/assets/images/tild3734-6265-4431-b434-386236346436__4a32a3346552b1a9c207.svg"
            alt="хочешь так же? присоединяйся"
            imgfield="tn_img_1651832596899"
          />
        </div>
      </div>
      <div
        class="t396__elem tn-elem tn-elem__4405148691650966930893"
        data-elem-id="1650966930893"
        data-elem-type="button"
        data-field-top-value="415"
        data-field-left-value="0"
        data-field-height-value="64"
        data-field-width-value="286"
        data-field-axisy-value="top"
        data-field-axisx-value="left"
        data-field-container-value="grid"
        data-field-topunits-value="px"
        data-field-leftunits-value="px"
        data-field-heightunits-value=""
        data-field-widthunits-value=""
        data-field-top-res-320-value="190"
        data-field-left-res-320-value="-320"
        data-field-top-res-480-value="355"
        data-field-left-res-480-value="30"
        data-field-top-res-640-value="385"
        data-field-left-res-640-value="30"
      >
        <a class="tn-atom" href="#rec360788021">Оставить заявку</a>
      </div>
      <div
        class="t396__elem tn-elem tn-elem__4405148691678103180274"
        data-elem-id="1678103180274"
        data-elem-type="text"
        data-field-top-value="101"
        data-field-left-value="0"
        data-field-width-value="711"
        data-field-axisy-value="top"
        data-field-axisx-value="left"
        data-field-container-value="grid"
        data-field-topunits-value="px"
        data-field-leftunits-value="px"
        data-field-heightunits-value=""
        data-field-widthunits-value="px"
        data-field-top-res-320-value="101"
        data-field-left-res-320-value="35"
        data-field-width-res-320-value="200"
        data-field-top-res-480-value="85"
        data-field-left-res-480-value="30"
        data-field-width-res-480-value="392"
        data-field-top-res-640-value="80"
        data-field-left-res-640-value="27"
        data-field-width-res-640-value="630"
        data-field-top-res-960-value="101"
        data-field-left-res-960-value="0"
      >
        <div class="tn-atom">
          <a href="mailto:academy@oggettoweb.com" style="color: inherit"
            >Пиши нам<br />academy@oggettoweb.com</a
          >
        </div>
      </div>
    </div>
  </div>
  <script>
    t_onReady(function () {
      t_onFuncLoad("t396_init", function () {
        t396_init("440514869");
      });
    });
  </script>
  <!-- /T396 -->
</div>