<header
  id="t-header"
  class="t-records"
  data-hook="blocks-collection-content-node"
  data-tilda-project-id="4474231"
  data-tilda-page-id="28392221"
  data-tilda-formskey="ae3c80402d5bca38225eafac5ea07763"
  data-tilda-stat-scroll="yes"
  data-tilda-lazy="yes"
  data-tilda-project-lang="RU"
  data-tilda-root-zone="com"
  data-tilda-project-headcode="yes"
>
  <div
    id="rec459326737"
    class="r t-rec"
    style=""
    data-animationappear="off"
    data-record-type="396"
  >
    <!-- T396 -->
    <style>
      #rec459326737 .t396__artboard {
        height: 96px;
        background-color: #ffffff;
      }
      #rec459326737 .t396__filter {
        height: 96px;
      }
      #rec459326737 .t396__carrier {
        height: 96px;
        background-position: center center;
        background-attachment: scroll;
        background-size: cover;
        background-repeat: no-repeat;
      }
      @media screen and (max-width: 1199px) {
        #rec459326737 .t396__artboard,
        #rec459326737 .t396__filter,
        #rec459326737 .t396__carrier {
          height: 80px;
        }
        #rec459326737 .t396__filter {
        }
        #rec459326737 .t396__carrier {
          background-attachment: scroll;
        }
      }
      @media screen and (max-width: 959px) {
        #rec459326737 .t396__artboard,
        #rec459326737 .t396__filter,
        #rec459326737 .t396__carrier {
          height: 80px;
        }
        #rec459326737 .t396__artboard {
          background-color: #ffffff;
        }
        #rec459326737 .t396__filter {
        }
        #rec459326737 .t396__carrier {
          background-position: center center;
          background-attachment: scroll;
        }
      }
      @media screen and (max-width: 639px) {
        #rec459326737 .t396__artboard,
        #rec459326737 .t396__filter,
        #rec459326737 .t396__carrier {
          height: 80px;
        }
        #rec459326737 .t396__filter {
        }
        #rec459326737 .t396__carrier {
          background-attachment: scroll;
        }
      }
      @media screen and (max-width: 479px) {
        #rec459326737 .t396__artboard,
        #rec459326737 .t396__filter,
        #rec459326737 .t396__carrier {
          height: 80px;
        }
        #rec459326737 .t396__filter {
        }
        #rec459326737 .t396__carrier {
          background-attachment: scroll;
        }
      }
      #rec459326737 .tn-elem[data-elem-id="1632126151699"] {
        color: #000000;
        text-align: center;
        z-index: 13;
        top: -42px;
        left: 225px;
        width: 142px;
        height: auto;
      }
      #rec459326737 .tn-elem[data-elem-id="1632126151699"] .tn-atom {
        color: #000000;
        font-size: 16px;
        font-family: "Montserrat", Arial, sans-serif;
        line-height: 1.55;
        font-weight: 600;
        background-position: center center;
        border-color: transparent;
        border-style: solid;
      }
      @media screen and (max-width: 1199px) {
        #rec459326737 .tn-elem[data-elem-id="1632126151699"] {
          width: 122px;
          height: auto;
        }
        #rec459326737 .tn-elem[data-elem-id="1632126151699"] .tn-atom {
          font-size: 14px;
          background-size: cover;
        }
      }
      @media screen and (max-width: 959px) {
        #rec459326737 .tn-elem[data-elem-id="1632126151699"] {
          width: 118px;
          height: auto;
        }
        #rec459326737 .tn-elem[data-elem-id="1632126151699"] {
          text-align: left;
        }
        #rec459326737 .tn-elem[data-elem-id="1632126151699"] .tn-atom {
          font-size: 14px;
          background-size: cover;
          opacity: 0;
        }
      }
      @media screen and (max-width: 639px) {
        #rec459326737 .tn-elem[data-elem-id="1632126151699"] {
          width: 118px;
          height: auto;
        }
      }
      @media screen and (max-width: 479px) {
        #rec459326737 .tn-elem[data-elem-id="1632126151699"] {
          height: auto;
        }
      }
      #rec459326737 .tn-elem[data-elem-id="1632126277317"] {
        color: #000000;
        text-align: center;
        z-index: 14;
        top: -42px;
        left: 391px;
        width: 246px;
        height: auto;
      }
      #rec459326737 .tn-elem[data-elem-id="1632126277317"] .tn-atom {
        color: #000000;
        font-size: 16px;
        font-family: "Montserrat", Arial, sans-serif;
        line-height: 1.55;
        font-weight: 600;
        background-position: center center;
        border-color: transparent;
        border-style: solid;
      }
      @media screen and (max-width: 1199px) {
        #rec459326737 .tn-elem[data-elem-id="1632126277317"] {
          width: 214px;
          height: auto;
        }
        #rec459326737 .tn-elem[data-elem-id="1632126277317"] .tn-atom {
          font-size: 14px;
          background-size: cover;
        }
      }
      @media screen and (max-width: 959px) {
        #rec459326737 .tn-elem[data-elem-id="1632126277317"] {
          width: 127px;
          height: auto;
        }
        #rec459326737 .tn-elem[data-elem-id="1632126277317"] .tn-atom {
          font-size: 14px;
          line-height: 1.3;
          background-size: cover;
          opacity: 0;
        }
      }
      @media screen and (max-width: 639px) {
        #rec459326737 .tn-elem[data-elem-id="1632126277317"] {
          width: 208px;
          height: auto;
        }
      }
      @media screen and (max-width: 479px) {
        #rec459326737 .tn-elem[data-elem-id="1632126277317"] {
          width: 115px;
          height: auto;
        }
        #rec459326737 .tn-elem[data-elem-id="1632126277317"] .tn-atom {
          font-size: 11px;
          line-height: 1.3;
          background-size: cover;
        }
      }
      #rec459326737 .tn-elem[data-elem-id="1632126319029"] {
        color: #000000;
        text-align: center;
        z-index: 15;
        top: -42px;
        left: 661px;
        width: 47px;
        height: auto;
      }
      #rec459326737 .tn-elem[data-elem-id="1632126319029"] .tn-atom {
        color: #000000;
        font-size: 16px;
        font-family: "Montserrat", Arial, sans-serif;
        line-height: 1.55;
        font-weight: 600;
        background-position: center center;
        border-color: transparent;
        border-style: solid;
      }
      @media screen and (max-width: 1199px) {
        #rec459326737 .tn-elem[data-elem-id="1632126319029"] {
          width: 38px;
          height: auto;
        }
        #rec459326737 .tn-elem[data-elem-id="1632126319029"] .tn-atom {
          font-size: 14px;
          background-size: cover;
        }
      }
      @media screen and (max-width: 959px) {
        #rec459326737 .tn-elem[data-elem-id="1632126319029"] {
          width: 50px;
          height: auto;
        }
        #rec459326737 .tn-elem[data-elem-id="1632126319029"] .tn-atom {
          font-size: 14px;
          background-size: cover;
          opacity: 0;
        }
      }
      @media screen and (max-width: 639px) {
        #rec459326737 .tn-elem[data-elem-id="1632126319029"] {
          width: 47px;
          height: auto;
        }
      }
      @media screen and (max-width: 479px) {
        #rec459326737 .tn-elem[data-elem-id="1632126319029"] {
          height: auto;
        }
        #rec459326737 .tn-elem[data-elem-id="1632126319029"] .tn-atom {
          font-size: 11px;
          background-size: cover;
        }
      }
      #rec459326737 .tn-elem[data-elem-id="1632126329393"] {
        color: #000000;
        text-align: center;
        z-index: 16;
        top: -42px;
        left: 732px;
        width: 107px;
        height: auto;
      }
      #rec459326737 .tn-elem[data-elem-id="1632126329393"] .tn-atom {
        color: #000000;
        font-size: 16px;
        font-family: "Montserrat", Arial, sans-serif;
        line-height: 1.55;
        font-weight: 600;
        background-position: center center;
        border-color: transparent;
        border-style: solid;
      }
      @media screen and (max-width: 1199px) {
        #rec459326737 .tn-elem[data-elem-id="1632126329393"] {
          width: 85px;
          height: auto;
        }
        #rec459326737 .tn-elem[data-elem-id="1632126329393"] .tn-atom {
          font-size: 14px;
          background-size: cover;
        }
      }
      @media screen and (max-width: 959px) {
        #rec459326737 .tn-elem[data-elem-id="1632126329393"] {
          width: 93px;
          height: auto;
        }
        #rec459326737 .tn-elem[data-elem-id="1632126329393"] .tn-atom {
          font-size: 14px;
          background-size: cover;
          opacity: 0;
        }
      }
      @media screen and (max-width: 639px) {
        #rec459326737 .tn-elem[data-elem-id="1632126329393"] {
          width: 81px;
          height: auto;
        }
      }
      @media screen and (max-width: 479px) {
        #rec459326737 .tn-elem[data-elem-id="1632126329393"] {
          height: auto;
        }
        #rec459326737 .tn-elem[data-elem-id="1632126329393"] .tn-atom {
          font-size: 11px;
          background-size: cover;
        }
      }
      #rec459326737 .tn-elem[data-elem-id="1470210033144"] {
        z-index: 4;
        top: 8px;
        left: calc(50% - 600px + 20px);
        width: 127px;
        height: auto;
      }
      #rec459326737 .tn-elem[data-elem-id="1470210033144"] .tn-atom {
        background-position: center center;
        border-color: transparent;
        border-style: solid;
      }
      #rec459326737 .tn-elem[data-elem-id="1470210033144"] .tn-atom__img {
      }
      @media screen and (max-width: 1199px) {
        #rec459326737 .tn-elem[data-elem-id="1470210033144"] {
          top: 8px;
          left: calc(50% - 480px + 10px);
          width: 102px;
          height: auto;
        }
      }
      @media screen and (max-width: 959px) {
        #rec459326737 .tn-elem[data-elem-id="1470210033144"] {
          top: 6px;
          left: calc(50% - 320px + 20px);
          width: 117px;
          height: auto;
        }
        #rec459326737 .tn-elem[data-elem-id="1470210033144"] .tn-atom {
          background-size: cover;
          opacity: 1;
        }
      }
      @media screen and (max-width: 639px) {
        #rec459326737 .tn-elem[data-elem-id="1470210033144"] {
          top: 6px;
          left: calc(50% - 240px + 20px);
          width: 115px;
          height: auto;
        }
      }
      @media screen and (max-width: 479px) {
        #rec459326737 .tn-elem[data-elem-id="1470210033144"] {
          top: 18px;
          left: calc(50% - 160px + 20px);
          width: 76px;
          height: auto;
        }
      }
      #rec459326737 .tn-elem[data-elem-id="1631780570314"] {
        color: #000000;
        text-align: center;
        z-index: 8;
        top: 20px;
        left: calc(50% - 600px + 960px);
        width: 220px;
        height: 56px;
      }
      #rec459326737 .tn-elem[data-elem-id="1631780570314"] .tn-atom {
        color: #000000;
        font-size: 16px;
        font-family: "Montserrat-ExtraBold", Arial, sans-serif;
        line-height: 1.6;
        font-weight: 700;
        text-transform: uppercase;
        border-width: 0px;
        border-radius: 4px;
        background-color: #ffdd00;
        background-position: center center;
        border-color: transparent;
        border-style: solid;
        transition:
          background-color 0.2s ease-in-out,
          color 0.2s ease-in-out,
          border-color 0.2s ease-in-out;
      }
      @media screen and (max-width: 1199px) {
        #rec459326737 .tn-elem[data-elem-id="1631780570314"] {
          top: 16px;
          left: calc(50% - 480px + 790px);
          width: 160px;
          height: 48px;
        }
        #rec459326737 .tn-elem[data-elem-id="1631780570314"] .tn-atom {
          font-size: 12px;
          background-size: cover;
        }
      }
      @media screen and (max-width: 959px) {
        #rec459326737 .tn-elem[data-elem-id="1631780570314"] {
          top: 16px;
          left: calc(50% - 320px + 460px);
        }
      }
      @media screen and (max-width: 639px) {
        #rec459326737 .tn-elem[data-elem-id="1631780570314"] {
          top: 16px;
          left: calc(50% - 240px + 300px);
        }
      }
      @media screen and (max-width: 479px) {
        #rec459326737 .tn-elem[data-elem-id="1631780570314"] {
          top: 16px;
          left: calc(50% - 160px + 140px);
          width: 160px;
          height: 48px;
        }
        #rec459326737 .tn-elem[data-elem-id="1631780570314"] .tn-atom {
          font-size: 12px;
          background-size: cover;
        }
      }
      #rec459326737 .tn-elem[data-elem-id="1632126606278"] {
        z-index: 17;
        top: 263px;
        left: calc(50% - 600px + 284px);
        width: 3px;
        height: 10px;
      }
      #rec459326737 .tn-elem[data-elem-id="1632126606278"] .tn-atom {
        opacity: 0;
        background-color: #ffdd00;
        background-position: center center;
        border-color: transparent;
        border-style: solid;
      }
      @media screen and (max-width: 1199px) {
      }
      @media screen and (max-width: 959px) {
        #rec459326737 .tn-elem[data-elem-id="1632126606278"] {
          top: 263px;
          left: calc(50% - 320px + 284px);
        }
      }
      @media screen and (max-width: 639px) {
        #rec459326737 .tn-elem[data-elem-id="1632126606278"] {
          top: 163px;
          left: calc(50% - 240px + -156px);
          height: 14px;
        }
        #rec459326737 .tn-elem[data-elem-id="1632126606278"] .tn-atom {
          background-size: cover;
          opacity: 0;
        }
      }
      @media screen and (max-width: 479px) {
        #rec459326737 .tn-elem[data-elem-id="1632126606278"] {
          top: 94px;
          left: calc(50% - 160px + 154px);
          height: 20px;
        }
      }
      #rec459326737 .tn-elem[data-elem-id="1632126663214"] {
        z-index: 18;
        top: 273pxpx;
        left: calc(50% - 600px + 294pxpx);
        width: 3px;
        height: 10px;
      }
      #rec459326737 .tn-elem[data-elem-id="1632126663214"] .tn-atom {
        opacity: 0;
        background-color: #ffdd00;
        background-position: center center;
        border-color: transparent;
        border-style: solid;
      }
      @media screen and (max-width: 1199px) {
      }
      @media screen and (max-width: 959px) {
        #rec459326737 .tn-elem[data-elem-id="1632126663214"] {
          top: 273pxpx;
          left: calc(50% - 320px + 294pxpx);
        }
      }
      @media screen and (max-width: 639px) {
        #rec459326737 .tn-elem[data-elem-id="1632126663214"] {
          top: 209px;
          left: calc(50% - 240px + -123px);
          height: 14px;
        }
        #rec459326737 .tn-elem[data-elem-id="1632126663214"] .tn-atom {
          background-size: cover;
          opacity: 0;
          -webkit-transform: rotate(0deg);
          -moz-transform: rotate(0deg);
          transform: rotate(0deg);
        }
      }
      @media screen and (max-width: 479px) {
        #rec459326737 .tn-elem[data-elem-id="1632126663214"] {
          top: 210px;
          left: calc(50% - 160px + 161px);
        }
      }
      #rec459326737 .tn-elem[data-elem-id="1632126686886"] {
        z-index: 19;
        top: 283pxpx;
        left: calc(50% - 600px + 304pxpx);
        width: 3px;
        height: 10px;
      }
      #rec459326737 .tn-elem[data-elem-id="1632126686886"] .tn-atom {
        opacity: 0;
        background-color: #ffdd00;
        background-position: center center;
        border-color: transparent;
        border-style: solid;
      }
      @media screen and (max-width: 1199px) {
      }
      @media screen and (max-width: 959px) {
        #rec459326737 .tn-elem[data-elem-id="1632126686886"] {
          top: 283pxpx;
          left: calc(50% - 320px + 304pxpx);
        }
      }
      @media screen and (max-width: 639px) {
        #rec459326737 .tn-elem[data-elem-id="1632126686886"] {
          top: 209px;
          left: calc(50% - 240px + -65px);
          height: 14px;
        }
        #rec459326737 .tn-elem[data-elem-id="1632126686886"] .tn-atom {
          background-size: cover;
          opacity: 0;
          -webkit-transform: rotate(0deg);
          -moz-transform: rotate(0deg);
          transform: rotate(0deg);
        }
      }
      @media screen and (max-width: 479px) {
        #rec459326737 .tn-elem[data-elem-id="1632126686886"] {
          top: 135px;
          left: calc(50% - 160px + 154px);
          height: 20px;
        }
      }
    </style>
    <div class="t396">
      <div
        class="t396__artboard"
        data-artboard-recid="459326737"
        data-artboard-screens="320,480,640,960,1200"
        data-artboard-height="96"
        data-artboard-valign="center"
        data-artboard-upscale="grid"
        data-artboard-height-res-320="80"
        data-artboard-height-res-480="80"
        data-artboard-height-res-640="80"
        data-artboard-upscale-res-640="grid"
        data-artboard-height-res-960="80"
      >
        <div class="t396__carrier" data-artboard-recid="459326737"></div>
        <div class="t396__filter" data-artboard-recid="459326737"></div>
        <div
          class="t396__elem tn-elem tn-elem__4593267371632126151699"
          data-elem-id="1632126151699"
          data-elem-type="text"
          data-field-top-value="36"
          data-field-left-value="245"
          data-field-width-value="142"
          data-field-axisy-value="top"
          data-field-axisx-value="left"
          data-field-container-value="grid"
          data-field-topunits-value="px"
          data-field-leftunits-value="px"
          data-field-heightunits-value=""
          data-field-widthunits-value="px"
          data-field-top-res-320-value="95"
          data-field-left-res-320-value="20"
          data-field-top-res-480-value="88"
          data-field-left-res-480-value="20"
          data-field-width-res-480-value="118"
          data-field-top-res-640-value="86"
          data-field-left-res-640-value="20"
          data-field-width-res-640-value="118"
          data-field-top-res-960-value="30"
          data-field-left-res-960-value="168"
          data-field-width-res-960-value="122"
        >
          <div class="tn-atom">
            <a
              href="https://oggetto.academy/#academy"
              style="color: inherit"
              >ОБ АКАДЕМИИ</a
            >
          </div>
        </div>
        <div
          class="t396__elem tn-elem tn-elem__4593267371632126277317"
          data-elem-id="1632126277317"
          data-elem-type="text"
          data-field-top-value="36"
          data-field-left-value="411"
          data-field-width-value="246"
          data-field-axisy-value="top"
          data-field-axisx-value="left"
          data-field-container-value="grid"
          data-field-topunits-value="px"
          data-field-leftunits-value="px"
          data-field-heightunits-value=""
          data-field-widthunits-value="px"
          data-field-top-res-320-value="90"
          data-field-left-res-320-value="170"
          data-field-width-res-320-value="115"
          data-field-top-res-480-value="90"
          data-field-left-res-480-value="170"
          data-field-width-res-480-value="208"
          data-field-top-res-640-value="78"
          data-field-left-res-640-value="170"
          data-field-width-res-640-value="127"
          data-field-top-res-960-value="30"
          data-field-left-res-960-value="314"
          data-field-width-res-960-value="214"
        >
          <div class="tn-atom">
            <a
              href="https://oggetto.academy/#courses"
              style="color: inherit"
              >НАПРАВЛЕНИЯ ОБУЧЕНИЯ</a
            >
          </div>
        </div>
        <div
          class="t396__elem tn-elem tn-elem__4593267371632126319029"
          data-elem-id="1632126319029"
          data-elem-type="text"
          data-field-top-value="36"
          data-field-left-value="681"
          data-field-width-value="47"
          data-field-axisy-value="top"
          data-field-axisx-value="left"
          data-field-container-value="grid"
          data-field-topunits-value="px"
          data-field-leftunits-value="px"
          data-field-heightunits-value=""
          data-field-widthunits-value="px"
          data-field-top-res-320-value="140"
          data-field-left-res-320-value="190"
          data-field-top-res-480-value="125"
          data-field-left-res-480-value="130"
          data-field-width-res-480-value="47"
          data-field-top-res-640-value="86"
          data-field-left-res-640-value="445"
          data-field-width-res-640-value="50"
          data-field-top-res-960-value="30"
          data-field-left-res-960-value="552"
          data-field-width-res-960-value="38"
        >
          <div class="tn-atom">
            <a href="https://oggetto.academy/#faq" style="color: inherit"
              >FAQ</a
            >
          </div>
        </div>
        <div
          class="t396__elem tn-elem tn-elem__4593267371632126329393"
          data-elem-id="1632126329393"
          data-elem-type="text"
          data-field-top-value="36"
          data-field-left-value="752"
          data-field-width-value="107"
          data-field-axisy-value="top"
          data-field-axisx-value="left"
          data-field-container-value="grid"
          data-field-topunits-value="px"
          data-field-leftunits-value="px"
          data-field-heightunits-value=""
          data-field-widthunits-value="px"
          data-field-top-res-320-value="135"
          data-field-left-res-320-value="30"
          data-field-top-res-480-value="120"
          data-field-left-res-480-value="240"
          data-field-width-res-480-value="81"
          data-field-top-res-640-value="86"
          data-field-left-res-640-value="527"
          data-field-width-res-640-value="93"
          data-field-top-res-960-value="30"
          data-field-left-res-960-value="614"
          data-field-width-res-960-value="85"
        >
          <div class="tn-atom">
            <a
              href="https://oggetto.academy/#contacts"
              style="color: inherit"
              >КОНТАКТЫ</a
            >
          </div>
        </div>
        <div
          class="t396__elem tn-elem tn-elem__4593267371470210033144"
          data-elem-id="1470210033144"
          data-elem-type="image"
          data-field-top-value="8"
          data-field-left-value="20"
          data-field-width-value="127"
          data-field-axisy-value="top"
          data-field-axisx-value="left"
          data-field-container-value="grid"
          data-field-topunits-value="px"
          data-field-leftunits-value="px"
          data-field-heightunits-value=""
          data-field-widthunits-value="px"
          data-field-filewidth-value="298"
          data-field-fileheight-value="187"
          data-field-top-res-320-value="18"
          data-field-left-res-320-value="20"
          data-field-width-res-320-value="76"
          data-field-top-res-480-value="6"
          data-field-left-res-480-value="20"
          data-field-width-res-480-value="115"
          data-field-top-res-640-value="6"
          data-field-left-res-640-value="20"
          data-field-width-res-640-value="117"
          data-field-top-res-960-value="8"
          data-field-left-res-960-value="10"
          data-field-width-res-960-value="102"
        >
          <div class="tn-atom">
            <img
              class="tn-atom__img t-img"
              data-original="/assets/images/oggetto-icon.png"
              src="/assets/images/oggetto-icon.png"
              alt=""
              imgfield="tn_img_1470210033144"
            />
          </div>
        </div>
        <div
          class="t396__elem tn-elem tn-elem__4593267371631780570314"
          data-elem-id="1631780570314"
          data-elem-type="button"
          data-field-top-value="20"
          data-field-left-value="960"
          data-field-height-value="56"
          data-field-width-value="220"
          data-field-axisy-value="top"
          data-field-axisx-value="left"
          data-field-container-value="grid"
          data-field-topunits-value="px"
          data-field-leftunits-value="px"
          data-field-heightunits-value=""
          data-field-widthunits-value=""
          data-field-top-res-320-value="16"
          data-field-left-res-320-value="140"
          data-field-height-res-320-value="48"
          data-field-width-res-320-value="160"
          data-field-top-res-480-value="16"
          data-field-left-res-480-value="300"
          data-field-top-res-640-value="16"
          data-field-left-res-640-value="460"
          data-field-top-res-960-value="16"
          data-field-left-res-960-value="790"
          data-field-height-res-960-value="48"
          data-field-width-res-960-value="160"
        >
          <a
            class="tn-atom js-click-zero-stat"
            href="#courses"
            target="_blank"
            data-tilda-event-name="/tilda/click/rec459326737/button1631780570314"
            >ХОЧУ УЧИТЬСЯ</a
          >
        </div>
        <div
          class="t396__elem tn-elem tn-elem__4593267371632126606278"
          data-elem-id="1632126606278"
          data-elem-type="shape"
          data-field-top-value="263"
          data-field-left-value="284"
          data-field-height-value="10"
          data-field-width-value="3"
          data-field-axisy-value="top"
          data-field-axisx-value="left"
          data-field-container-value="grid"
          data-field-topunits-value="px"
          data-field-leftunits-value="px"
          data-field-heightunits-value="px"
          data-field-widthunits-value="px"
          data-field-top-res-320-value="94"
          data-field-left-res-320-value="154"
          data-field-height-res-320-value="20"
          data-field-top-res-480-value="163"
          data-field-left-res-480-value="-156"
          data-field-height-res-480-value="14"
          data-field-top-res-640-value="263"
          data-field-left-res-640-value="284"
        >
          <div class="tn-atom"></div>
        </div>
        <div
          class="t396__elem tn-elem tn-elem__4593267371632126663214"
          data-elem-id="1632126663214"
          data-elem-type="shape"
          data-field-top-value="273px"
          data-field-left-value="294px"
          data-field-height-value="10"
          data-field-width-value="3"
          data-field-axisy-value="top"
          data-field-axisx-value="left"
          data-field-container-value="grid"
          data-field-topunits-value="px"
          data-field-leftunits-value="px"
          data-field-heightunits-value="px"
          data-field-widthunits-value="px"
          data-field-top-res-320-value="210"
          data-field-left-res-320-value="161"
          data-field-top-res-480-value="209"
          data-field-left-res-480-value="-123"
          data-field-height-res-480-value="14"
          data-field-top-res-640-value="273px"
          data-field-left-res-640-value="294px"
        >
          <div class="tn-atom"></div>
        </div>
        <div
          class="t396__elem tn-elem tn-elem__4593267371632126686886"
          data-elem-id="1632126686886"
          data-elem-type="shape"
          data-field-top-value="283px"
          data-field-left-value="304px"
          data-field-height-value="10"
          data-field-width-value="3"
          data-field-axisy-value="top"
          data-field-axisx-value="left"
          data-field-container-value="grid"
          data-field-topunits-value="px"
          data-field-leftunits-value="px"
          data-field-heightunits-value="px"
          data-field-widthunits-value="px"
          data-field-top-res-320-value="135"
          data-field-left-res-320-value="154"
          data-field-height-res-320-value="20"
          data-field-top-res-480-value="209"
          data-field-left-res-480-value="-65"
          data-field-height-res-480-value="14"
          data-field-top-res-640-value="283px"
          data-field-left-res-640-value="304px"
        >
          <div class="tn-atom"></div>
        </div>
      </div>
    </div>
    <script>
      t_onReady(function () {
        t_onFuncLoad("t396_init", function () {
          t396_init("459326737");
        });
      });
    </script>
    <!-- /T396 -->
  </div>
  <div
    id="rec459305258"
    class="r t-rec t-rec_pt-res-480_0 t-rec_pb_15 t-rec_pb-res-480_15 t-screenmax-980px"
    style="padding-bottom: 15px"
    data-record-type="396"
    data-screen-max="980px"
  >
    <!-- T396 -->
    <style>
      #rec459305258 .t396__artboard {
        height: 64px;
        background-color: #ffffff;
        overflow: auto;
      }
      #rec459305258 .t396__filter {
        height: 64px;
      }
      #rec459305258 .t396__carrier {
        height: 64px;
        background-position: center center;
        background-attachment: scroll;
        background-size: cover;
        background-repeat: no-repeat;
      }
      @media screen and (max-width: 1199px) {
        #rec459305258 .t396__artboard,
        #rec459305258 .t396__filter,
        #rec459305258 .t396__carrier {
          height: 64px;
        }
        #rec459305258 .t396__artboard {
          background-color: #ffffff;
        }
        #rec459305258 .t396__filter {
        }
        #rec459305258 .t396__carrier {
          background-position: center center;
          background-attachment: scroll;
        }
      }
      @media screen and (max-width: 959px) {
        #rec459305258 .t396__artboard,
        #rec459305258 .t396__filter,
        #rec459305258 .t396__carrier {
          height: 64px;
        }
        #rec459305258 .t396__filter {
        }
        #rec459305258 .t396__carrier {
          background-attachment: scroll;
        }
      }
      @media screen and (max-width: 639px) {
        #rec459305258 .t396__artboard,
        #rec459305258 .t396__filter,
        #rec459305258 .t396__carrier {
          height: 64px;
        }
        #rec459305258 .t396__filter {
        }
        #rec459305258 .t396__carrier {
          background-attachment: scroll;
        }
      }
      @media screen and (max-width: 479px) {
        #rec459305258 .t396__artboard,
        #rec459305258 .t396__filter,
        #rec459305258 .t396__carrier {
          height: 64px;
        }
        #rec459305258 .t396__filter {
        }
        #rec459305258 .t396__carrier {
          background-attachment: scroll;
        }
      }
      #rec459305258 .tn-elem[data-elem-id="1649846162388"] {
        color: #000000;
        text-align: center;
        z-index: 10;
        top: 0px;
        left: 202px;
        width: 160px;
        height: 48px;
      }
      #rec459305258 .tn-elem[data-elem-id="1649846162388"] .tn-atom {
        color: #000000;
        font-size: 14px;
        font-family: "Montserrat", Arial, sans-serif;
        line-height: 1.55;
        font-weight: 600;
        border-width: 1px;
        border-radius: 24px;
        background-color: #ffffff;
        background-position: center center;
        border-color: #000000;
        border-style: solid;
        transition:
          background-color 0.2s ease-in-out,
          color 0.2s ease-in-out,
          border-color 0.2s ease-in-out;
      }
      @media (hover), (min-width: 0\0) {
        #rec459305258
          .tn-elem[data-elem-id="1649846162388"]
          .tn-atom:hover {
          background-color: #ffdd00;
          background-image: none;
        }
      }
      @media screen and (max-width: 1199px) {
        #rec459305258 .tn-elem[data-elem-id="1649846162388"] {
          width: 140px;
          height: 48px;
        }
        #rec459305258 .tn-elem[data-elem-id="1649846162388"] .tn-atom {
          font-size: 12px;
          background-size: cover;
        }
      }
      @media screen and (max-width: 959px) {
        #rec459305258 .tn-elem[data-elem-id="1649846162388"] {
          width: 140px;
          height: 48px;
        }
      }
      @media screen and (max-width: 639px) {
        #rec459305258 .tn-elem[data-elem-id="1649846162388"] {
        }
      }
      @media screen and (max-width: 479px) {
        #rec459305258 .tn-elem[data-elem-id="1649846162388"] {
          height: 48px;
        }
      }
      #rec459305258 .tn-elem[data-elem-id="1649846177921"] {
        color: #000000;
        text-align: center;
        z-index: 11;
        top: 0px;
        left: 394px;
        width: 260px;
        height: 48px;
      }
      #rec459305258 .tn-elem[data-elem-id="1649846177921"] .tn-atom {
        color: #000000;
        font-size: 14px;
        font-family: "Montserrat", Arial, sans-serif;
        line-height: 1.55;
        font-weight: 600;
        border-width: 1px;
        border-radius: 24px;
        background-color: #ffffff;
        background-position: center center;
        border-color: #000000;
        border-style: solid;
        transition:
          background-color 0.2s ease-in-out,
          color 0.2s ease-in-out,
          border-color 0.2s ease-in-out;
      }
      @media (hover), (min-width: 0\0) {
        #rec459305258
          .tn-elem[data-elem-id="1649846177921"]
          .tn-atom:hover {
          background-color: #ffdd00;
          background-image: none;
        }
      }
      @media screen and (max-width: 1199px) {
        #rec459305258 .tn-elem[data-elem-id="1649846177921"] {
          width: 224px;
          height: 48px;
        }
        #rec459305258 .tn-elem[data-elem-id="1649846177921"] .tn-atom {
          font-size: 12px;
          background-size: cover;
        }
      }
      @media screen and (max-width: 959px) {
        #rec459305258 .tn-elem[data-elem-id="1649846177921"] {
          width: 224px;
          height: 48px;
        }
      }
      @media screen and (max-width: 639px) {
        #rec459305258 .tn-elem[data-elem-id="1649846177921"] {
        }
      }
      @media screen and (max-width: 479px) {
        #rec459305258 .tn-elem[data-elem-id="1649846177921"] {
          height: 48px;
        }
      }
      #rec459305258 .tn-elem[data-elem-id="1649846178555"] {
        color: #000000;
        text-align: center;
        z-index: 12;
        top: 0px;
        left: 686px;
        width: 120px;
        height: 48px;
      }
      #rec459305258 .tn-elem[data-elem-id="1649846178555"] .tn-atom {
        color: #000000;
        font-size: 14px;
        font-family: "Montserrat", Arial, sans-serif;
        line-height: 1.55;
        font-weight: 600;
        border-width: 1px;
        border-radius: 24px;
        background-color: #ffffff;
        background-position: center center;
        border-color: #000000;
        border-style: solid;
        transition:
          background-color 0.2s ease-in-out,
          color 0.2s ease-in-out,
          border-color 0.2s ease-in-out;
      }
      @media (hover), (min-width: 0\0) {
        #rec459305258
          .tn-elem[data-elem-id="1649846178555"]
          .tn-atom:hover {
          background-color: #ffdd00;
          background-image: none;
        }
      }
      @media screen and (max-width: 1199px) {
        #rec459305258 .tn-elem[data-elem-id="1649846178555"] {
          width: 120px;
          height: 48px;
        }
        #rec459305258 .tn-elem[data-elem-id="1649846178555"] .tn-atom {
          font-size: 12px;
          background-size: cover;
        }
      }
      @media screen and (max-width: 959px) {
        #rec459305258 .tn-elem[data-elem-id="1649846178555"] {
          width: 100px;
          height: 48px;
        }
      }
      @media screen and (max-width: 639px) {
        #rec459305258 .tn-elem[data-elem-id="1649846178555"] {
        }
      }
      @media screen and (max-width: 479px) {
        #rec459305258 .tn-elem[data-elem-id="1649846178555"] {
          height: 48px;
        }
      }
      #rec459305258 .tn-elem[data-elem-id="1649846182361"] {
        color: #000000;
        text-align: center;
        z-index: 13;
        top: 0px;
        left: 838px;
        width: 120px;
        height: 48px;
      }
      #rec459305258 .tn-elem[data-elem-id="1649846182361"] .tn-atom {
        color: #000000;
        font-size: 14px;
        font-family: "Montserrat", Arial, sans-serif;
        line-height: 1.55;
        font-weight: 600;
        border-width: 1px;
        border-radius: 24px;
        background-color: #ffffff;
        background-position: center center;
        border-color: #000000;
        border-style: solid;
        transition:
          background-color 0.2s ease-in-out,
          color 0.2s ease-in-out,
          border-color 0.2s ease-in-out;
      }
      @media (hover), (min-width: 0\0) {
        #rec459305258
          .tn-elem[data-elem-id="1649846182361"]
          .tn-atom:hover {
          background-color: #ffdd00;
          background-image: none;
        }
      }
      @media screen and (max-width: 1199px) {
        #rec459305258 .tn-elem[data-elem-id="1649846182361"] {
          width: 120px;
          height: 48px;
        }
        #rec459305258 .tn-elem[data-elem-id="1649846182361"] .tn-atom {
          font-size: 12px;
          background-size: cover;
        }
      }
      @media screen and (max-width: 959px) {
        #rec459305258 .tn-elem[data-elem-id="1649846182361"] {
          width: 120px;
          height: 48px;
        }
      }
      @media screen and (max-width: 639px) {
        #rec459305258 .tn-elem[data-elem-id="1649846182361"] {
        }
      }
      @media screen and (max-width: 479px) {
        #rec459305258 .tn-elem[data-elem-id="1649846182361"] {
          height: 48px;
        }
      }
    </style>
    <div class="t396">
      <div
        class="t396__artboard"
        data-artboard-recid="459305258"
        data-artboard-screens="320,480,640,960,1200"
        data-artboard-height="64"
        data-artboard-valign="center"
        data-artboard-upscale="grid"
        data-artboard-ovrflw="auto"
        data-artboard-height-res-320="64"
        data-artboard-height-res-480="64"
        data-artboard-height-res-640="64"
        data-artboard-height-res-960="64"
        data-artboard-upscale-res-960="grid"
      >
        <div class="t396__carrier" data-artboard-recid="459305258"></div>
        <div class="t396__filter" data-artboard-recid="459305258"></div>
        <div
          class="t396__elem tn-elem tn-elem__4593052581649846162388"
          data-elem-id="1649846162388"
          data-elem-type="button"
          data-field-top-value="4"
          data-field-left-value="222"
          data-field-height-value="48"
          data-field-width-value="160"
          data-field-axisy-value="top"
          data-field-axisx-value="left"
          data-field-container-value="grid"
          data-field-topunits-value="px"
          data-field-leftunits-value="px"
          data-field-heightunits-value=""
          data-field-widthunits-value=""
          data-field-top-res-320-value="4"
          data-field-left-res-320-value="20"
          data-field-height-res-320-value="48"
          data-field-top-res-480-value="4"
          data-field-left-res-480-value="20"
          data-field-top-res-640-value="4"
          data-field-left-res-640-value="20"
          data-field-height-res-640-value="48"
          data-field-width-res-640-value="140"
          data-field-top-res-960-value="4"
          data-field-left-res-960-value="130"
          data-field-height-res-960-value="48"
          data-field-width-res-960-value="140"
        >
          <a class="tn-atom" href="https://oggetto.academy/#courses"
            >ОБ АКАДЕМИИ</a
          >
        </div>
        <div
          class="t396__elem tn-elem tn-elem__4593052581649846177921"
          data-elem-id="1649846177921"
          data-elem-type="button"
          data-field-top-value="4"
          data-field-left-value="414"
          data-field-height-value="48"
          data-field-width-value="260"
          data-field-axisy-value="top"
          data-field-axisx-value="left"
          data-field-container-value="grid"
          data-field-topunits-value="px"
          data-field-leftunits-value="px"
          data-field-heightunits-value=""
          data-field-widthunits-value=""
          data-field-top-res-320-value="4"
          data-field-left-res-320-value="176"
          data-field-height-res-320-value="48"
          data-field-top-res-480-value="4"
          data-field-left-res-480-value="176"
          data-field-top-res-640-value="4"
          data-field-left-res-640-value="180"
          data-field-height-res-640-value="48"
          data-field-width-res-640-value="224"
          data-field-top-res-960-value="4"
          data-field-left-res-960-value="302"
          data-field-height-res-960-value="48"
          data-field-width-res-960-value="224"
        >
          <a class="tn-atom" href="https://oggetto.academy/#courses"
            >НАПРАВЛЕНИЯ ОБУЧЕНИЯ</a
          >
        </div>
        <div
          class="t396__elem tn-elem tn-elem__4593052581649846178555"
          data-elem-id="1649846178555"
          data-elem-type="button"
          data-field-top-value="4"
          data-field-left-value="706"
          data-field-height-value="48"
          data-field-width-value="120"
          data-field-axisy-value="top"
          data-field-axisx-value="left"
          data-field-container-value="grid"
          data-field-topunits-value="px"
          data-field-leftunits-value="px"
          data-field-heightunits-value=""
          data-field-widthunits-value=""
          data-field-top-res-320-value="4"
          data-field-left-res-320-value="416"
          data-field-height-res-320-value="48"
          data-field-top-res-480-value="4"
          data-field-left-res-480-value="416"
          data-field-top-res-640-value="4"
          data-field-left-res-640-value="424"
          data-field-height-res-640-value="48"
          data-field-width-res-640-value="100"
          data-field-top-res-960-value="4"
          data-field-left-res-960-value="558"
          data-field-height-res-960-value="48"
          data-field-width-res-960-value="120"
        >
          <a class="tn-atom" href="https://oggetto.academy/#faq">FAQ</a>
        </div>
        <div
          class="t396__elem tn-elem tn-elem__4593052581649846182361"
          data-elem-id="1649846182361"
          data-elem-type="button"
          data-field-top-value="4"
          data-field-left-value="858"
          data-field-height-value="48"
          data-field-width-value="120"
          data-field-axisy-value="top"
          data-field-axisx-value="left"
          data-field-container-value="grid"
          data-field-topunits-value="px"
          data-field-leftunits-value="px"
          data-field-heightunits-value=""
          data-field-widthunits-value=""
          data-field-top-res-320-value="4"
          data-field-left-res-320-value="532"
          data-field-height-res-320-value="48"
          data-field-top-res-480-value="4"
          data-field-left-res-480-value="532"
          data-field-top-res-640-value="4"
          data-field-left-res-640-value="544"
          data-field-height-res-640-value="48"
          data-field-width-res-640-value="120"
          data-field-top-res-960-value="4"
          data-field-left-res-960-value="710"
          data-field-height-res-960-value="48"
          data-field-width-res-960-value="120"
        >
          <a class="tn-atom" href="https://oggetto.academy/#contacts"
            >КОНТАКТЫ</a
          >
        </div>
      </div>
    </div>
    <script>
      t_onReady(function () {
        t_onFuncLoad("t396_init", function () {
          t396_init("459305258");
        });
      });
    </script>
    <!-- /T396 -->
  </div>
  <div
    id="rec459113917"
    class="r t-rec t-rec_pt_0 t-rec_pb_0 t-screenmax-980px"
    style="padding-top: 0px; padding-bottom: 0px"
    data-animationappear="off"
    data-record-type="451"
    data-screen-max="980px"
  >
    <!-- T451 -->
    <div id="nav459113917marker"></div>
    <div id="nav459113917" class="t451" data-menu="yes">
      <div
        class="t451__container t451__positionfixed t451__panel t451__beforeready"
        data-appearoffset="120px"
        style="height: 60px"
      >
        <div
          class="t451__container__bg"
          style="background-color: rgba(255, 255, 255, 1)"
          data-bgcolor-hex="#ffffff"
          data-bgcolor-rgba="rgba(255,255,255,1)"
          data-navmarker="nav459113917marker"
          data-appearoffset="120px"
          data-bgopacity="1"
          data-menushadow=""
          data-menushadow-css=""
        ></div>
        <div class="t451__menu__content t451__col-12">
          <div class="t451__burger-wrapper__mobile">
            <button
              type="button"
              class="t-menuburger t-menuburger_first"
              aria-label="Навигационное меню"
              aria-expanded="false"
            >
              <span style="background-color: #000"></span>
              <span style="background-color: #000"></span>
              <span style="background-color: #000"></span>
              <span style="background-color: #000"></span>
            </button>
            <script>
              function t_menuburger_init(recid) {
                var rec = document.querySelector("#rec" + recid);
                if (!rec) return;
                var burger = rec.querySelector(".t-menuburger");
                if (!burger) return;
                var isSecondStyle = burger.classList.contains(
                  "t-menuburger_second",
                );
                if (
                  isSecondStyle &&
                  !window.isMobile &&
                  !("ontouchend" in document)
                ) {
                  burger.addEventListener("mouseenter", function () {
                    if (burger.classList.contains("t-menuburger-opened"))
                      return;
                    burger.classList.remove("t-menuburger-unhovered");
                    burger.classList.add("t-menuburger-hovered");
                  });
                  burger.addEventListener("mouseleave", function () {
                    if (burger.classList.contains("t-menuburger-opened"))
                      return;
                    burger.classList.remove("t-menuburger-hovered");
                    burger.classList.add("t-menuburger-unhovered");
                    setTimeout(function () {
                      burger.classList.remove("t-menuburger-unhovered");
                    }, 300);
                  });
                }
                burger.addEventListener("click", function () {
                  if (
                    !burger.closest(".tmenu-mobile") &&
                    !burger.closest(".t450__burger_container") &&
                    !burger.closest(".t466__container") &&
                    !burger.closest(".t204__burger") &&
                    !burger.closest(".t199__js__menu-toggler")
                  ) {
                    burger.classList.toggle("t-menuburger-opened");
                    burger.classList.remove("t-menuburger-unhovered");
                  }
                });
                var menu = rec.querySelector('[data-menu="yes"]');
                if (!menu) return;
                var menuLinks =
                  menu.querySelectorAll(".t-menu__link-item");
                var submenuClassList = [
                  "t978__menu-link_hook",
                  "t978__tm-link",
                  "t966__tm-link",
                  "t794__tm-link",
                  "t-menusub__target-link",
                ];
                Array.prototype.forEach.call(menuLinks, function (link) {
                  link.addEventListener("click", function () {
                    var isSubmenuHook = submenuClassList.some(
                      function (submenuClass) {
                        return link.classList.contains(submenuClass);
                      },
                    );
                    if (isSubmenuHook) return;
                    burger.classList.remove("t-menuburger-opened");
                  });
                });
                menu.addEventListener(
                  "clickedAnchorInTooltipMenu",
                  function () {
                    burger.classList.remove("t-menuburger-opened");
                  },
                );
              }
              t_onReady(function () {
                t_onFuncLoad("t_menuburger_init", function () {
                  t_menuburger_init("459113917");
                });
              });
            </script>
            <style>
              .t-menuburger {
                position: relative;
                flex-shrink: 0;
                width: 28px;
                height: 20px;
                padding: 0;
                border: none;
                background-color: transparent;
                outline: none;
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
                transition: transform 0.5s ease-in-out;
                cursor: pointer;
                z-index: 999;
              }
              .t-menuburger span {
                display: block;
                position: absolute;
                width: 100%;
                opacity: 1;
                left: 0;
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
                transition: 0.25s ease-in-out;
                height: 3px;
                background-color: #000;
              }
              .t-menuburger span:nth-child(1) {
                top: 0px;
              }
              .t-menuburger span:nth-child(2),
              .t-menuburger span:nth-child(3) {
                top: 8px;
              }
              .t-menuburger span:nth-child(4) {
                top: 16px;
              }
              .t-menuburger__big {
                width: 42px;
                height: 32px;
              }
              .t-menuburger__big span {
                height: 5px;
              }
              .t-menuburger__big span:nth-child(2),
              .t-menuburger__big span:nth-child(3) {
                top: 13px;
              }
              .t-menuburger__big span:nth-child(4) {
                top: 26px;
              }
              .t-menuburger__small {
                width: 22px;
                height: 14px;
              }
              .t-menuburger__small span {
                height: 2px;
              }
              .t-menuburger__small span:nth-child(2),
              .t-menuburger__small span:nth-child(3) {
                top: 6px;
              }
              .t-menuburger__small span:nth-child(4) {
                top: 12px;
              }
              .t-menuburger-opened span:nth-child(1) {
                top: 8px;
                width: 0%;
                left: 50%;
              }
              .t-menuburger-opened span:nth-child(2) {
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
              }
              .t-menuburger-opened span:nth-child(3) {
                -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
              }
              .t-menuburger-opened span:nth-child(4) {
                top: 8px;
                width: 0%;
                left: 50%;
              }
              .t-menuburger-opened.t-menuburger__big span:nth-child(1) {
                top: 6px;
              }
              .t-menuburger-opened.t-menuburger__big span:nth-child(4) {
                top: 18px;
              }
              .t-menuburger-opened.t-menuburger__small span:nth-child(1),
              .t-menuburger-opened.t-menuburger__small span:nth-child(4) {
                top: 6px;
              }
              @media (hover), (min-width: 0\0) {
                .t-menuburger_first:hover span:nth-child(1) {
                  transform: translateY(1px);
                }
                .t-menuburger_first:hover span:nth-child(4) {
                  transform: translateY(-1px);
                }
                .t-menuburger_first.t-menuburger__big:hover
                  span:nth-child(1) {
                  transform: translateY(3px);
                }
                .t-menuburger_first.t-menuburger__big:hover
                  span:nth-child(4) {
                  transform: translateY(-3px);
                }
              }
              .t-menuburger_second span:nth-child(2),
              .t-menuburger_second span:nth-child(3) {
                width: 80%;
                left: 20%;
                right: 0;
              }
              @media (hover), (min-width: 0\0) {
                .t-menuburger_second.t-menuburger-hovered
                  span:nth-child(2),
                .t-menuburger_second.t-menuburger-hovered
                  span:nth-child(3) {
                  animation: t-menuburger-anim 0.3s ease-out normal
                    forwards;
                }
                .t-menuburger_second.t-menuburger-unhovered
                  span:nth-child(2),
                .t-menuburger_second.t-menuburger-unhovered
                  span:nth-child(3) {
                  animation: t-menuburger-anim2 0.3s ease-out normal
                    forwards;
                }
              }
              .t-menuburger_second.t-menuburger-opened span:nth-child(2),
              .t-menuburger_second.t-menuburger-opened span:nth-child(3) {
                left: 0;
                right: 0;
                width: 100% !important;
              }
              .t-menuburger_third span:nth-child(4) {
                width: 70%;
                left: unset;
                right: 0;
              }
              @media (hover), (min-width: 0\0) {
                .t-menuburger_third:not(.t-menuburger-opened):hover
                  span:nth-child(4) {
                  width: 100%;
                }
              }
              .t-menuburger_third.t-menuburger-opened span:nth-child(4) {
                width: 0 !important;
                right: 50%;
              }
              .t-menuburger_fourth {
                height: 12px;
              }
              .t-menuburger_fourth.t-menuburger__small {
                height: 8px;
              }
              .t-menuburger_fourth.t-menuburger__big {
                height: 18px;
              }
              .t-menuburger_fourth span:nth-child(2),
              .t-menuburger_fourth span:nth-child(3) {
                top: 4px;
                opacity: 0;
              }
              .t-menuburger_fourth span:nth-child(4) {
                top: 8px;
              }
              .t-menuburger_fourth.t-menuburger__small span:nth-child(2),
              .t-menuburger_fourth.t-menuburger__small span:nth-child(3) {
                top: 3px;
              }
              .t-menuburger_fourth.t-menuburger__small span:nth-child(4) {
                top: 6px;
              }
              .t-menuburger_fourth.t-menuburger__small span:nth-child(2),
              .t-menuburger_fourth.t-menuburger__small span:nth-child(3) {
                top: 3px;
              }
              .t-menuburger_fourth.t-menuburger__small span:nth-child(4) {
                top: 6px;
              }
              .t-menuburger_fourth.t-menuburger__big span:nth-child(2),
              .t-menuburger_fourth.t-menuburger__big span:nth-child(3) {
                top: 6px;
              }
              .t-menuburger_fourth.t-menuburger__big span:nth-child(4) {
                top: 12px;
              }
              @media (hover), (min-width: 0\0) {
                .t-menuburger_fourth:not(.t-menuburger-opened):hover
                  span:nth-child(1) {
                  transform: translateY(1px);
                }
                .t-menuburger_fourth:not(.t-menuburger-opened):hover
                  span:nth-child(4) {
                  transform: translateY(-1px);
                }
                .t-menuburger_fourth.t-menuburger__big:not(
                    .t-menuburger-opened
                  ):hover
                  span:nth-child(1) {
                  transform: translateY(3px);
                }
                .t-menuburger_fourth.t-menuburger__big:not(
                    .t-menuburger-opened
                  ):hover
                  span:nth-child(4) {
                  transform: translateY(-3px);
                }
              }
              .t-menuburger_fourth.t-menuburger-opened span:nth-child(1),
              .t-menuburger_fourth.t-menuburger-opened span:nth-child(4) {
                top: 4px;
              }
              .t-menuburger_fourth.t-menuburger-opened span:nth-child(2),
              .t-menuburger_fourth.t-menuburger-opened span:nth-child(3) {
                opacity: 1;
              }
              @keyframes t-menuburger-anim {
                0% {
                  width: 80%;
                  left: 20%;
                  right: 0;
                }
                50% {
                  width: 100%;
                  left: 0;
                  right: 0;
                }
                100% {
                  width: 80%;
                  left: 0;
                  right: 20%;
                }
              }
              @keyframes t-menuburger-anim2 {
                0% {
                  width: 80%;
                  left: 0;
                }
                50% {
                  width: 100%;
                  right: 0;
                  left: 0;
                }
                100% {
                  width: 80%;
                  left: 20%;
                  right: 0;
                }
              }
            </style>
          </div>
          <div class="t451__leftside t451__side t451__side_burger">
            <button
              type="button"
              class="t-menuburger t-menuburger_first"
              aria-label="Навигационное меню"
              aria-expanded="false"
            >
              <span style="background-color: #000"></span>
              <span style="background-color: #000"></span>
              <span style="background-color: #000"></span>
              <span style="background-color: #000"></span>
            </button>
            <script>
              function t_menuburger_init(recid) {
                var rec = document.querySelector("#rec" + recid);
                if (!rec) return;
                var burger = rec.querySelector(".t-menuburger");
                if (!burger) return;
                var isSecondStyle = burger.classList.contains(
                  "t-menuburger_second",
                );
                if (
                  isSecondStyle &&
                  !window.isMobile &&
                  !("ontouchend" in document)
                ) {
                  burger.addEventListener("mouseenter", function () {
                    if (burger.classList.contains("t-menuburger-opened"))
                      return;
                    burger.classList.remove("t-menuburger-unhovered");
                    burger.classList.add("t-menuburger-hovered");
                  });
                  burger.addEventListener("mouseleave", function () {
                    if (burger.classList.contains("t-menuburger-opened"))
                      return;
                    burger.classList.remove("t-menuburger-hovered");
                    burger.classList.add("t-menuburger-unhovered");
                    setTimeout(function () {
                      burger.classList.remove("t-menuburger-unhovered");
                    }, 300);
                  });
                }
                burger.addEventListener("click", function () {
                  if (
                    !burger.closest(".tmenu-mobile") &&
                    !burger.closest(".t450__burger_container") &&
                    !burger.closest(".t466__container") &&
                    !burger.closest(".t204__burger") &&
                    !burger.closest(".t199__js__menu-toggler")
                  ) {
                    burger.classList.toggle("t-menuburger-opened");
                    burger.classList.remove("t-menuburger-unhovered");
                  }
                });
                var menu = rec.querySelector('[data-menu="yes"]');
                if (!menu) return;
                var menuLinks =
                  menu.querySelectorAll(".t-menu__link-item");
                var submenuClassList = [
                  "t978__menu-link_hook",
                  "t978__tm-link",
                  "t966__tm-link",
                  "t794__tm-link",
                  "t-menusub__target-link",
                ];
                Array.prototype.forEach.call(menuLinks, function (link) {
                  link.addEventListener("click", function () {
                    var isSubmenuHook = submenuClassList.some(
                      function (submenuClass) {
                        return link.classList.contains(submenuClass);
                      },
                    );
                    if (isSubmenuHook) return;
                    burger.classList.remove("t-menuburger-opened");
                  });
                });
                menu.addEventListener(
                  "clickedAnchorInTooltipMenu",
                  function () {
                    burger.classList.remove("t-menuburger-opened");
                  },
                );
              }
              t_onReady(function () {
                t_onFuncLoad("t_menuburger_init", function () {
                  t_menuburger_init("459113917");
                });
              });
            </script>
            <style>
              .t-menuburger {
                position: relative;
                flex-shrink: 0;
                width: 28px;
                height: 20px;
                padding: 0;
                border: none;
                background-color: transparent;
                outline: none;
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
                transition: transform 0.5s ease-in-out;
                cursor: pointer;
                z-index: 999;
              }
              .t-menuburger span {
                display: block;
                position: absolute;
                width: 100%;
                opacity: 1;
                left: 0;
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
                transition: 0.25s ease-in-out;
                height: 3px;
                background-color: #000;
              }
              .t-menuburger span:nth-child(1) {
                top: 0px;
              }
              .t-menuburger span:nth-child(2),
              .t-menuburger span:nth-child(3) {
                top: 8px;
              }
              .t-menuburger span:nth-child(4) {
                top: 16px;
              }
              .t-menuburger__big {
                width: 42px;
                height: 32px;
              }
              .t-menuburger__big span {
                height: 5px;
              }
              .t-menuburger__big span:nth-child(2),
              .t-menuburger__big span:nth-child(3) {
                top: 13px;
              }
              .t-menuburger__big span:nth-child(4) {
                top: 26px;
              }
              .t-menuburger__small {
                width: 22px;
                height: 14px;
              }
              .t-menuburger__small span {
                height: 2px;
              }
              .t-menuburger__small span:nth-child(2),
              .t-menuburger__small span:nth-child(3) {
                top: 6px;
              }
              .t-menuburger__small span:nth-child(4) {
                top: 12px;
              }
              .t-menuburger-opened span:nth-child(1) {
                top: 8px;
                width: 0%;
                left: 50%;
              }
              .t-menuburger-opened span:nth-child(2) {
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
              }
              .t-menuburger-opened span:nth-child(3) {
                -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
              }
              .t-menuburger-opened span:nth-child(4) {
                top: 8px;
                width: 0%;
                left: 50%;
              }
              .t-menuburger-opened.t-menuburger__big span:nth-child(1) {
                top: 6px;
              }
              .t-menuburger-opened.t-menuburger__big span:nth-child(4) {
                top: 18px;
              }
              .t-menuburger-opened.t-menuburger__small span:nth-child(1),
              .t-menuburger-opened.t-menuburger__small span:nth-child(4) {
                top: 6px;
              }
              @media (hover), (min-width: 0\0) {
                .t-menuburger_first:hover span:nth-child(1) {
                  transform: translateY(1px);
                }
                .t-menuburger_first:hover span:nth-child(4) {
                  transform: translateY(-1px);
                }
                .t-menuburger_first.t-menuburger__big:hover
                  span:nth-child(1) {
                  transform: translateY(3px);
                }
                .t-menuburger_first.t-menuburger__big:hover
                  span:nth-child(4) {
                  transform: translateY(-3px);
                }
              }
              .t-menuburger_second span:nth-child(2),
              .t-menuburger_second span:nth-child(3) {
                width: 80%;
                left: 20%;
                right: 0;
              }
              @media (hover), (min-width: 0\0) {
                .t-menuburger_second.t-menuburger-hovered
                  span:nth-child(2),
                .t-menuburger_second.t-menuburger-hovered
                  span:nth-child(3) {
                  animation: t-menuburger-anim 0.3s ease-out normal
                    forwards;
                }
                .t-menuburger_second.t-menuburger-unhovered
                  span:nth-child(2),
                .t-menuburger_second.t-menuburger-unhovered
                  span:nth-child(3) {
                  animation: t-menuburger-anim2 0.3s ease-out normal
                    forwards;
                }
              }
              .t-menuburger_second.t-menuburger-opened span:nth-child(2),
              .t-menuburger_second.t-menuburger-opened span:nth-child(3) {
                left: 0;
                right: 0;
                width: 100% !important;
              }
              .t-menuburger_third span:nth-child(4) {
                width: 70%;
                left: unset;
                right: 0;
              }
              @media (hover), (min-width: 0\0) {
                .t-menuburger_third:not(.t-menuburger-opened):hover
                  span:nth-child(4) {
                  width: 100%;
                }
              }
              .t-menuburger_third.t-menuburger-opened span:nth-child(4) {
                width: 0 !important;
                right: 50%;
              }
              .t-menuburger_fourth {
                height: 12px;
              }
              .t-menuburger_fourth.t-menuburger__small {
                height: 8px;
              }
              .t-menuburger_fourth.t-menuburger__big {
                height: 18px;
              }
              .t-menuburger_fourth span:nth-child(2),
              .t-menuburger_fourth span:nth-child(3) {
                top: 4px;
                opacity: 0;
              }
              .t-menuburger_fourth span:nth-child(4) {
                top: 8px;
              }
              .t-menuburger_fourth.t-menuburger__small span:nth-child(2),
              .t-menuburger_fourth.t-menuburger__small span:nth-child(3) {
                top: 3px;
              }
              .t-menuburger_fourth.t-menuburger__small span:nth-child(4) {
                top: 6px;
              }
              .t-menuburger_fourth.t-menuburger__small span:nth-child(2),
              .t-menuburger_fourth.t-menuburger__small span:nth-child(3) {
                top: 3px;
              }
              .t-menuburger_fourth.t-menuburger__small span:nth-child(4) {
                top: 6px;
              }
              .t-menuburger_fourth.t-menuburger__big span:nth-child(2),
              .t-menuburger_fourth.t-menuburger__big span:nth-child(3) {
                top: 6px;
              }
              .t-menuburger_fourth.t-menuburger__big span:nth-child(4) {
                top: 12px;
              }
              @media (hover), (min-width: 0\0) {
                .t-menuburger_fourth:not(.t-menuburger-opened):hover
                  span:nth-child(1) {
                  transform: translateY(1px);
                }
                .t-menuburger_fourth:not(.t-menuburger-opened):hover
                  span:nth-child(4) {
                  transform: translateY(-1px);
                }
                .t-menuburger_fourth.t-menuburger__big:not(
                    .t-menuburger-opened
                  ):hover
                  span:nth-child(1) {
                  transform: translateY(3px);
                }
                .t-menuburger_fourth.t-menuburger__big:not(
                    .t-menuburger-opened
                  ):hover
                  span:nth-child(4) {
                  transform: translateY(-3px);
                }
              }
              .t-menuburger_fourth.t-menuburger-opened span:nth-child(1),
              .t-menuburger_fourth.t-menuburger-opened span:nth-child(4) {
                top: 4px;
              }
              .t-menuburger_fourth.t-menuburger-opened span:nth-child(2),
              .t-menuburger_fourth.t-menuburger-opened span:nth-child(3) {
                opacity: 1;
              }
              @keyframes t-menuburger-anim {
                0% {
                  width: 80%;
                  left: 20%;
                  right: 0;
                }
                50% {
                  width: 100%;
                  left: 0;
                  right: 0;
                }
                100% {
                  width: 80%;
                  left: 0;
                  right: 20%;
                }
              }
              @keyframes t-menuburger-anim2 {
                0% {
                  width: 80%;
                  left: 0;
                }
                50% {
                  width: 100%;
                  right: 0;
                  left: 0;
                }
                100% {
                  width: 80%;
                  left: 20%;
                  right: 0;
                }
              }
            </style>
          </div>
          <div class="t451__centerside t451__side">
            <div
              class="t451__logo__container t451__textlogo__container"
            ></div>
          </div>
          <div
            class="t451__rightside t451__side t451__side_socials"
          ></div>
        </div>
      </div>
    </div>
    <div class="t451m__overlay">
      <div class="t451m__overlay_bg" style=""></div>
    </div>
    <div
      class="t451 t451m t451m__left"
      data-tooltip-hook=""
      style="background-color: #ffffff"
    >
      <button
        type="button"
        class="t451m__close-button t451m__close t451m_opened"
        style="background-color: #ffffff"
        aria-label="Закрыть меню"
      >
        <div class="t451m__close_icon">
          <span style="background-color: #000000"></span>
          <span style="background-color: #000000"></span>
          <span style="background-color: #000000"></span>
          <span style="background-color: #000000"></span>
        </div>
      </button>
      <div class="t451m__container t-align_left">
        <div class="t451m__top">
          <nav class="t451m__menu">
            <ul role="list" class="t451m__list t-menu__list">
              <li class="t451m__list_item">
                <a
                  class="t-menu__link-item"
                  href="https://oggetto.academy/#academy"
                  target="_blank"
                  data-menu-submenu-hook=""
                  data-menu-item-number="1"
                >
                  ОБ АКАДЕМИИ
                </a>
              </li>
              <li class="t451m__list_item">
                <a
                  class="t-menu__link-item"
                  href="https://oggetto.academy/#courses"
                  target="_blank"
                  data-menu-submenu-hook=""
                  data-menu-item-number="2"
                >
                  НАПРАВЛЕНИЯ ОБУЧЕНИЯ
                </a>
              </li>
              <li class="t451m__list_item">
                <a
                  class="t-menu__link-item"
                  href="https://oggetto.academy/#faq"
                  target="_blank"
                  data-menu-submenu-hook=""
                  data-menu-item-number="3"
                >
                  FAQ
                </a>
              </li>
              <li class="t451m__list_item">
                <a
                  class="t-menu__link-item"
                  href="https://oggetto.academy/#contacts"
                  target="_blank"
                  data-menu-submenu-hook=""
                  data-menu-item-number="4"
                >
                  КОНТАКТЫ
                </a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="t451m__rightside">
          <div class="t451m__rightcontainer">
            <div
              class="t451m__right_descr t-descr t-descr_xs"
              field="descr"
            >
              Просто учим сложному
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      t_onReady(function () {
        var rec = document.querySelector("#rec459113917");
        if (!rec) return;
        rec.setAttribute("data-animationappear", "off");
        rec.style.opacity = 1;
        t_onFuncLoad("t451_initMenu", function () {
          t451_initMenu("459113917");
        });
        t_onFuncLoad("t_menu__interactFromKeyboard", function () {
          t_menu__interactFromKeyboard("459113917");
        });
      });
    </script>
    <script>
      t_onReady(function () {
        t_onFuncLoad("t451_appearMenu", function () {
          t451_appearMenu("459113917");
          window.addEventListener(
            "scroll",
            t_throttle(function () {
              t451_appearMenu("459113917");
            }),
          );
        });
      });
    </script>
    <style>
      #rec459113917 .t-menu__link-item {
        -webkit-transition:
          color 0.3s ease-in-out,
          opacity 0.3s ease-in-out;
        transition:
          color 0.3s ease-in-out,
          opacity 0.3s ease-in-out;
      }
      #rec459113917 .t-menu__link-item.t-active:not(.t978__menu-link) {
        font-weight: 700 !important;
      }
      @supports (overflow: -webkit-marquee) and (justify-content: inherit) {
        #rec459113917 .t-menu__link-item,
        #rec459113917 .t-menu__link-item.t-active {
          opacity: 1 !important;
        }
      }
    </style>
    <style>
      #rec459113917 a.t-menu__link-item {
        font-size: 20px;
        color: #000000;
        font-weight: 500;
        font-family: "Montserrat";
        text-transform: uppercase;
      }
    </style>
  </div>
</header>