<div
  id="rec356941018"
  class="r t-rec"
  style=""
  data-animationappear="off"
  data-record-type="396"
>
  <!-- T396 -->
  <style>
    #rec356941018 .t396__artboard {
      height: 600px;
      background-color: #ffdd00;
    }
    #rec356941018 .t396__filter {
      height: 600px;
    }
    #rec356941018 .t396__carrier {
      height: 600px;
      background-position: center center;
      background-attachment: scroll;
      background-size: cover;
      background-repeat: no-repeat;
    }
    @media screen and (max-width: 1199px) {
      #rec356941018 .t396__artboard,
      #rec356941018 .t396__filter,
      #rec356941018 .t396__carrier {
        height: 530px;
      }
      #rec356941018 .t396__filter {
      }
      #rec356941018 .t396__carrier {
        background-attachment: scroll;
      }
    }
    @media screen and (max-width: 959px) {
      #rec356941018 .t396__artboard,
      #rec356941018 .t396__filter,
      #rec356941018 .t396__carrier {
        height: 550px;
      }
      #rec356941018 .t396__filter {
      }
      #rec356941018 .t396__carrier {
        background-attachment: scroll;
      }
    }
    @media screen and (max-width: 639px) {
      #rec356941018 .t396__artboard,
      #rec356941018 .t396__filter,
      #rec356941018 .t396__carrier {
        height: 620px;
      }
      #rec356941018 .t396__filter {
      }
      #rec356941018 .t396__carrier {
        background-attachment: scroll;
      }
    }
    @media screen and (max-width: 479px) {
      #rec356941018 .t396__artboard,
      #rec356941018 .t396__filter,
      #rec356941018 .t396__carrier {
        height: 600px;
      }
      #rec356941018 .t396__artboard {
        background-color: #ffdd00;
      }
      #rec356941018 .t396__filter {
      }
      #rec356941018 .t396__carrier {
        background-attachment: scroll;
      }
    }
    #rec356941018 .tn-elem[data-elem-id="1470210011265"] {
      color: #000000;
      z-index: 2;
      top: 80px;
      left: calc(50% - 600px + 422px);
      width: 778px;
      height: auto;
    }
    #rec356941018 .tn-elem[data-elem-id="1470210011265"] .tn-atom {
      color: #000000;
      font-size: 20px;
      font-family: "Montserrat", Arial, sans-serif;
      line-height: 1.4;
      font-weight: 400;
      background-position: center center;
      border-color: transparent;
      border-style: solid;
    }
    @media screen and (max-width: 1199px) {
      #rec356941018 .tn-elem[data-elem-id="1470210011265"] {
        top: 71px;
        left: calc(50% - 480px + 470px);
        width: 480px;
        height: auto;
      }
      #rec356941018 .tn-elem[data-elem-id="1470210011265"] .tn-atom {
        font-size: 16px;
        background-size: cover;
      }
    }
    @media screen and (max-width: 959px) {
      #rec356941018 .tn-elem[data-elem-id="1470210011265"] {
        top: 90px;
        left: calc(50% - 320px + 38px);
        width: 570px;
        height: auto;
      }
    }
    @media screen and (max-width: 639px) {
      #rec356941018 .tn-elem[data-elem-id="1470210011265"] {
        top: 85px;
        left: calc(50% - 240px + 30px);
        width: 413px;
        height: auto;
      }
    }
    @media screen and (max-width: 479px) {
      #rec356941018 .tn-elem[data-elem-id="1470210011265"] {
        top: 47px;
        left: calc(50% - 160px + 10px);
        width: 291px;
        height: auto;
      }
      #rec356941018 .tn-elem[data-elem-id="1470210011265"] .tn-atom {
        font-size: 16px;
        background-size: cover;
      }
    }
    #rec356941018 .tn-elem[data-elem-id="1631781664655"] {
      color: #000000;
      z-index: 3;
      top: 25px;
      left: calc(50% - 600px + 422px);
      width: 714px;
      height: auto;
    }
    #rec356941018 .tn-elem[data-elem-id="1631781664655"] .tn-atom {
      color: #000000;
      font-size: 24px;
      font-family: "Montserrat-ExtraBold", Arial, sans-serif;
      line-height: 1.15;
      font-weight: 700;
      background-position: center center;
      border-color: transparent;
      border-style: solid;
    }
    @media screen and (max-width: 1199px) {
      #rec356941018 .tn-elem[data-elem-id="1631781664655"] {
        top: 16px;
        left: calc(50% - 480px + 470px);
        height: auto;
      }
    }
    @media screen and (max-width: 959px) {
      #rec356941018 .tn-elem[data-elem-id="1631781664655"] {
        top: 35px;
        left: calc(50% - 320px + 38px);
        width: 427px;
        height: auto;
      }
    }
    @media screen and (max-width: 639px) {
      #rec356941018 .tn-elem[data-elem-id="1631781664655"] {
        top: 30px;
        left: calc(50% - 240px + 30px);
        width: 373px;
        height: auto;
      }
    }
    @media screen and (max-width: 479px) {
      #rec356941018 .tn-elem[data-elem-id="1631781664655"] {
        top: 20px;
        left: calc(50% - 160px + 10px);
        height: auto;
      }
    }
    #rec356941018 .tn-elem[data-elem-id="1631781911280"] {
      color: #000000;
      z-index: 4;
      top: 400px;
      left: calc(50% - 600px + 422px);
      width: 778px;
      height: auto;
    }
    #rec356941018 .tn-elem[data-elem-id="1631781911280"] .tn-atom {
      color: #000000;
      font-size: 32px;
      font-family: "Montserrat-ExtraBold", Arial, sans-serif;
      line-height: 1.15;
      font-weight: 700;
      text-transform: uppercase;
      background-position: center center;
      border-color: transparent;
      border-style: solid;
    }
    @media screen and (max-width: 1199px) {
      #rec356941018 .tn-elem[data-elem-id="1631781911280"] {
        top: 365px;
        left: calc(50% - 480px + 470px);
        width: 481px;
        height: auto;
      }
      #rec356941018 .tn-elem[data-elem-id="1631781911280"] .tn-atom {
        font-size: 26px;
        background-size: cover;
      }
    }
    @media screen and (max-width: 959px) {
      #rec356941018 .tn-elem[data-elem-id="1631781911280"] {
        top: 372px;
        left: calc(50% - 320px + 38px);
        width: 574px;
        height: auto;
      }
    }
    @media screen and (max-width: 639px) {
      #rec356941018 .tn-elem[data-elem-id="1631781911280"] {
        top: 438px;
        left: calc(50% - 240px + 30px);
        width: 408px;
        height: auto;
      }
    }
    @media screen and (max-width: 479px) {
      #rec356941018 .tn-elem[data-elem-id="1631781911280"] {
        top: 485px;
        left: calc(50% - 160px + 10px);
        width: 305px;
        height: auto;
      }
      #rec356941018 .tn-elem[data-elem-id="1631781911280"] .tn-atom {
        font-size: 18px;
        background-size: cover;
      }
    }
    #rec356941018 .tn-elem[data-elem-id="1693832784137"] {
      z-index: 5;
      top: 35px;
      left: calc(50% - 600px + 6px);
      width: 334px;
      height: auto;
    }
    #rec356941018 .tn-elem[data-elem-id="1693832784137"] .tn-atom {
      background-position: center center;
      border-color: transparent;
      border-style: solid;
    }
    #rec356941018 .tn-elem[data-elem-id="1693832784137"] .tn-atom__img {
    }
    @media screen and (max-width: 1199px) {
      #rec356941018 .tn-elem[data-elem-id="1693832784137"] {
        top: 27px;
        left: calc(50% - 480px + 66px);
        width: 322px;
        height: auto;
      }
    }
    @media screen and (max-width: 959px) {
      #rec356941018 .tn-elem[data-elem-id="1693832784137"] {
        top: 117px;
        left: calc(50% - 320px + -466px);
        height: auto;
      }
    }
    @media screen and (max-width: 639px) {
    }
    @media screen and (max-width: 479px) {
      #rec356941018 .tn-elem[data-elem-id="1693832784137"] {
        top: 658px;
        left: calc(50% - 160px + -207px);
        width: 157px;
        height: auto;
      }
    }
  </style>
  <div class="t396">
    <div
      class="t396__artboard"
      data-artboard-recid="356941018"
      data-artboard-screens="320,480,640,960,1200"
      data-artboard-height="600"
      data-artboard-valign="center"
      data-artboard-upscale="grid"
      data-artboard-height-res-320="600"
      data-artboard-height-res-480="620"
      data-artboard-height-res-640="550"
      data-artboard-height-res-960="530"
    >
      <div class="t396__carrier" data-artboard-recid="356941018"></div>
      <div class="t396__filter" data-artboard-recid="356941018"></div>
      <div
        class="t396__elem tn-elem tn-elem__3569410181470210011265"
        data-elem-id="1470210011265"
        data-elem-type="text"
        data-field-top-value="80"
        data-field-left-value="422"
        data-field-width-value="778"
        data-field-axisy-value="top"
        data-field-axisx-value="left"
        data-field-container-value="grid"
        data-field-topunits-value="px"
        data-field-leftunits-value="px"
        data-field-heightunits-value=""
        data-field-widthunits-value="px"
        data-field-top-res-320-value="47"
        data-field-left-res-320-value="10"
        data-field-width-res-320-value="291"
        data-field-top-res-480-value="85"
        data-field-left-res-480-value="30"
        data-field-width-res-480-value="413"
        data-field-top-res-640-value="90"
        data-field-left-res-640-value="38"
        data-field-width-res-640-value="570"
        data-field-top-res-960-value="71"
        data-field-left-res-960-value="470"
        data-field-width-res-960-value="480"
      >
        <div class="tn-atom" field="tn_text_1470210011265">
          <br />Команда Oggetto — один из лидеров разработки систем
          электронной коммерции в России. В нашей компании уже больше 100
          классных профессионалов, но нам всегда нужны молодые,
          талантливые сотрудники.<br /><br />С 2018 года Академия обучает
          разработчиков, тестировщиков и системных аналитиков работе с
          платформой Magento. Делимся знаниями со студентами, даем
          необходимый для старта карьеры практический опыт и помогаем
          адаптироваться в командах разработки.
        </div>
      </div>
      <div
        class="t396__elem tn-elem tn-elem__3569410181631781664655"
        data-elem-id="1631781664655"
        data-elem-type="text"
        data-field-top-value="25"
        data-field-left-value="422"
        data-field-width-value="714"
        data-field-axisy-value="top"
        data-field-axisx-value="left"
        data-field-container-value="grid"
        data-field-topunits-value="px"
        data-field-leftunits-value="px"
        data-field-heightunits-value=""
        data-field-widthunits-value="px"
        data-field-top-res-320-value="20"
        data-field-left-res-320-value="10"
        data-field-top-res-480-value="30"
        data-field-left-res-480-value="30"
        data-field-width-res-480-value="373"
        data-field-top-res-640-value="35"
        data-field-left-res-640-value="38"
        data-field-width-res-640-value="427"
        data-field-top-res-960-value="16"
        data-field-left-res-960-value="470"
      >
        <div class="tn-atom" field="tn_text_1631781664655">Привет!</div>
      </div>
      <div
        class="t396__elem tn-elem tn-elem__3569410181631781911280"
        data-elem-id="1631781911280"
        data-elem-type="text"
        data-field-top-value="400"
        data-field-left-value="422"
        data-field-width-value="778"
        data-field-axisy-value="top"
        data-field-axisx-value="left"
        data-field-container-value="grid"
        data-field-topunits-value="px"
        data-field-leftunits-value="px"
        data-field-heightunits-value=""
        data-field-widthunits-value="px"
        data-field-top-res-320-value="485"
        data-field-left-res-320-value="10"
        data-field-width-res-320-value="305"
        data-field-top-res-480-value="438"
        data-field-left-res-480-value="30"
        data-field-width-res-480-value="408"
        data-field-top-res-640-value="372"
        data-field-left-res-640-value="38"
        data-field-width-res-640-value="574"
        data-field-top-res-960-value="365"
        data-field-left-res-960-value="470"
        data-field-width-res-960-value="481"
      >
        <div class="tn-atom" field="tn_text_1631781911280">
          если ты чувствуешь <br />в себе силы и желание <br />учить
          новое, то наши <br />двери открыты для тебя!
        </div>
      </div>
      <div
        class="t396__elem tn-elem tn-elem__3569410181693832784137"
        data-elem-id="1693832784137"
        data-elem-type="image"
        data-field-top-value="35"
        data-field-left-value="6"
        data-field-width-value="334"
        data-field-axisy-value="top"
        data-field-axisx-value="left"
        data-field-container-value="grid"
        data-field-topunits-value="px"
        data-field-leftunits-value="px"
        data-field-heightunits-value=""
        data-field-widthunits-value="px"
        data-field-filewidth-value="335"
        data-field-fileheight-value="477"
        data-field-top-res-320-value="658"
        data-field-left-res-320-value="-207"
        data-field-width-res-320-value="157"
        data-field-top-res-640-value="117"
        data-field-left-res-640-value="-466"
        data-field-top-res-960-value="27"
        data-field-left-res-960-value="66"
        data-field-width-res-960-value="322"
      >
        <div class="tn-atom">
          <img
            class="tn-atom__img t-img"
            data-original="/assets/images/tild6164-3438-4764-b536-333435323138__selfie.svg"
            src="/assets/images/tild6164-3438-4764-b536-333435323138__selfie.svg"
            alt=""
            imgfield="tn_img_1693832784137"
          />
        </div>
      </div>
    </div>
  </div>
  <script>
    t_onReady(function () {
      t_onFuncLoad("t396_init", function () {
        t396_init("356941018");
      });
    });
  </script>
  <!-- /T396 -->
</div>