<div
  id="rec357069065"
  class="r t-rec t-rec_pt_30"
  style="padding-top: 30px"
  data-animationappear="off"
  data-record-type="396"
>
  <!-- T396 -->
  <style>
    #rec357069065 .t396__artboard {
      height: 1260px;
      background-color: #ffffff;
    }
    #rec357069065 .t396__filter {
      height: 1260px;
    }
    #rec357069065 .t396__carrier {
      height: 1260px;
      background-position: center center;
      background-attachment: scroll;
      background-size: cover;
      background-repeat: no-repeat;
    }
    @media screen and (max-width: 1199px) {
      #rec357069065 .t396__artboard,
      #rec357069065 .t396__filter,
      #rec357069065 .t396__carrier {
        height: 1320px;
      }
      #rec357069065 .t396__filter {
      }
      #rec357069065 .t396__carrier {
        background-attachment: scroll;
      }
    }
    @media screen and (max-width: 959px) {
      #rec357069065 .t396__artboard,
      #rec357069065 .t396__filter,
      #rec357069065 .t396__carrier {
        height: 1720px;
      }
      #rec357069065 .t396__artboard {
        background-color: #ffffff;
      }
      #rec357069065 .t396__filter {
      }
      #rec357069065 .t396__carrier {
        background-position: center center;
        background-attachment: scroll;
      }
    }
    @media screen and (max-width: 639px) {
      #rec357069065 .t396__artboard,
      #rec357069065 .t396__filter,
      #rec357069065 .t396__carrier {
        height: 2540px;
      }
      #rec357069065 .t396__filter {
      }
      #rec357069065 .t396__carrier {
        background-attachment: scroll;
      }
    }
    @media screen and (max-width: 479px) {
      #rec357069065 .t396__artboard,
      #rec357069065 .t396__filter,
      #rec357069065 .t396__carrier {
        height: 2580px;
      }
      #rec357069065 .t396__filter {
      }
      #rec357069065 .t396__carrier {
        background-attachment: scroll;
      }
    }
    #rec357069065 .tn-elem[data-elem-id="1632477881646"] {
      color: #000000;
      z-index: 8;
      top: -1348px;
      left: 811px;
      width: 256px;
      height: auto;
    }
    #rec357069065 .tn-elem[data-elem-id="1632477881646"] .tn-atom {
      color: #000000;
      font-size: 20px;
      font-family: "Montserrat-ExtraBold", Arial, sans-serif;
      line-height: 1.55;
      font-weight: 700;
      background-position: center center;
      border-color: transparent;
      border-style: solid;
    }
    @media screen and (max-width: 1199px) {
      #rec357069065 .tn-elem[data-elem-id="1632477881646"] {
        width: 290px;
        height: auto;
      }
      #rec357069065 .tn-elem[data-elem-id="1632477881646"] .tn-atom {
        font-size: 25px;
        background-size: cover;
      }
    }
    @media screen and (max-width: 959px) {
      #rec357069065 .tn-elem[data-elem-id="1632477881646"] {
        width: 263px;
        height: auto;
      }
      #rec357069065 .tn-elem[data-elem-id="1632477881646"] .tn-atom {
        font-size: 20px;
        background-size: cover;
      }
    }
    @media screen and (max-width: 639px) {
      #rec357069065 .tn-elem[data-elem-id="1632477881646"] {
        height: auto;
      }
    }
    @media screen and (max-width: 479px) {
      #rec357069065 .tn-elem[data-elem-id="1632477881646"] {
        width: 261px;
        height: auto;
      }
    }
    #rec357069065 .tn-elem[data-elem-id="1632477881654"] {
      color: #000000;
      z-index: 9;
      top: -1308px;
      left: 811px;
      width: 340px;
      height: auto;
    }
    #rec357069065 .tn-elem[data-elem-id="1632477881654"] .tn-atom {
      color: #000000;
      font-size: 20px;
      font-family: "Montserrat", Arial, sans-serif;
      line-height: 1.1;
      font-weight: 400;
      background-position: center center;
      border-color: transparent;
      border-style: solid;
    }
    @media screen and (max-width: 1199px) {
      #rec357069065 .tn-elem[data-elem-id="1632477881654"] {
        width: 290px;
        height: auto;
      }
      #rec357069065 .tn-elem[data-elem-id="1632477881654"] .tn-atom {
        font-size: 18px;
        background-size: cover;
      }
    }
    @media screen and (max-width: 959px) {
      #rec357069065 .tn-elem[data-elem-id="1632477881654"] {
        width: 280px;
        height: auto;
      }
      #rec357069065 .tn-elem[data-elem-id="1632477881654"] .tn-atom {
        font-size: 18px;
        background-size: cover;
      }
    }
    @media screen and (max-width: 639px) {
      #rec357069065 .tn-elem[data-elem-id="1632477881654"] {
        width: 460px;
        height: auto;
      }
      #rec357069065 .tn-elem[data-elem-id="1632477881654"] .tn-atom {
        font-size: 18px;
        background-size: cover;
      }
    }
    @media screen and (max-width: 479px) {
      #rec357069065 .tn-elem[data-elem-id="1632477881654"] {
        width: 297px;
        height: auto;
      }
      #rec357069065 .tn-elem[data-elem-id="1632477881654"] .tn-atom {
        font-size: 16px;
        background-size: cover;
      }
    }
    #rec357069065 .tn-elem[data-elem-id="1650993452554"] {
      z-index: 10;
      top: -1397px;
      left: 811px;
      width: 30px;
      height: auto;
      pointer-events: none;
    }
    #rec357069065 .tn-elem[data-elem-id="1650993452554"] .tn-atom {
      background-position: center center;
      border-color: transparent;
      border-style: solid;
    }
    #rec357069065 .tn-elem[data-elem-id="1650993452554"] .tn-atom__img {
    }
    @media screen and (max-width: 1199px) {
      #rec357069065 .tn-elem[data-elem-id="1650993452554"] {
        height: auto;
      }
    }
    @media screen and (max-width: 959px) {
      #rec357069065 .tn-elem[data-elem-id="1650993452554"] {
        height: auto;
      }
    }
    @media screen and (max-width: 639px) {
      #rec357069065 .tn-elem[data-elem-id="1650993452554"] {
        height: auto;
      }
    }
    @media screen and (max-width: 479px) {
      #rec357069065 .tn-elem[data-elem-id="1650993452554"] {
        width: 30px;
        height: auto;
      }
    }
    #rec357069065 .tn-elem[data-elem-id="1631796483916"] {
      color: #000000;
      z-index: 26;
      top: 117px;
      left: 9px;
      width: 320px;
      height: auto;
    }
    #rec357069065 .tn-elem[data-elem-id="1631796483916"] .tn-atom {
      color: #000000;
      font-size: 20px;
      font-family: "Montserrat-ExtraBold", Arial, sans-serif;
      line-height: 1.2;
      font-weight: 700;
      background-position: center center;
      border-color: transparent;
      border-style: solid;
    }
    @media screen and (max-width: 1199px) {
      #rec357069065 .tn-elem[data-elem-id="1631796483916"] {
        width: 295px;
        height: auto;
      }
      #rec357069065 .tn-elem[data-elem-id="1631796483916"] .tn-atom {
        font-size: 25px;
        background-size: cover;
      }
    }
    @media screen and (max-width: 959px) {
      #rec357069065 .tn-elem[data-elem-id="1631796483916"] {
        width: 297px;
        height: auto;
      }
      #rec357069065 .tn-elem[data-elem-id="1631796483916"] .tn-atom {
        font-size: 20px;
        background-size: cover;
      }
    }
    @media screen and (max-width: 639px) {
      #rec357069065 .tn-elem[data-elem-id="1631796483916"] {
        width: 361px;
        height: auto;
      }
    }
    @media screen and (max-width: 479px) {
      #rec357069065 .tn-elem[data-elem-id="1631796483916"] {
        width: 296px;
        height: auto;
      }
    }
    #rec357069065 .tn-elem[data-elem-id="1631796483922"] {
      color: #000000;
      z-index: 27;
      top: 174px;
      left: 9px;
      width: 340px;
      height: auto;
    }
    #rec357069065 .tn-elem[data-elem-id="1631796483922"] .tn-atom {
      color: #000000;
      font-size: 20px;
      font-family: "Montserrat", Arial, sans-serif;
      line-height: 1.1;
      font-weight: 400;
      background-position: center center;
      border-color: transparent;
      border-style: solid;
    }
    @media screen and (max-width: 1199px) {
      #rec357069065 .tn-elem[data-elem-id="1631796483922"] {
        width: 285px;
        height: auto;
      }
      #rec357069065 .tn-elem[data-elem-id="1631796483922"] .tn-atom {
        font-size: 18px;
        background-size: cover;
      }
    }
    @media screen and (max-width: 959px) {
      #rec357069065 .tn-elem[data-elem-id="1631796483922"] {
        width: 297px;
        height: auto;
      }
      #rec357069065 .tn-elem[data-elem-id="1631796483922"] .tn-atom {
        font-size: 18px;
        background-size: cover;
      }
    }
    @media screen and (max-width: 639px) {
      #rec357069065 .tn-elem[data-elem-id="1631796483922"] {
        width: 459px;
        height: auto;
      }
      #rec357069065 .tn-elem[data-elem-id="1631796483922"] .tn-atom {
        font-size: 18px;
        background-size: cover;
      }
    }
    @media screen and (max-width: 479px) {
      #rec357069065 .tn-elem[data-elem-id="1631796483922"] {
        width: 297px;
        height: auto;
      }
      #rec357069065 .tn-elem[data-elem-id="1631796483922"] .tn-atom {
        font-size: 16px;
        background-size: cover;
      }
    }
    #rec357069065 .tn-elem[data-elem-id="1650992296939"] {
      z-index: 28;
      top: 73px;
      left: 9px;
      width: 30px;
      height: auto;
      pointer-events: none;
    }
    #rec357069065 .tn-elem[data-elem-id="1650992296939"] .tn-atom {
      background-position: center center;
      border-color: transparent;
      border-style: solid;
    }
    #rec357069065 .tn-elem[data-elem-id="1650992296939"] .tn-atom__img {
    }
    @media screen and (max-width: 1199px) {
      #rec357069065 .tn-elem[data-elem-id="1650992296939"] {
        width: 29px;
        height: auto;
      }
    }
    @media screen and (max-width: 959px) {
      #rec357069065 .tn-elem[data-elem-id="1650992296939"] {
        width: 31px;
        height: auto;
      }
    }
    @media screen and (max-width: 639px) {
      #rec357069065 .tn-elem[data-elem-id="1650992296939"] {
        width: 32px;
        height: auto;
      }
    }
    @media screen and (max-width: 479px) {
      #rec357069065 .tn-elem[data-elem-id="1650992296939"] {
        width: 30px;
        height: auto;
      }
    }
    #rec357069065 .tn-elem[data-elem-id="1631796476967"] {
      color: #000000;
      z-index: 19;
      top: -162px;
      left: 412px;
      width: 230px;
      height: auto;
    }
    #rec357069065 .tn-elem[data-elem-id="1631796476967"] .tn-atom {
      color: #000000;
      font-size: 20px;
      font-family: "Montserrat-ExtraBold", Arial, sans-serif;
      line-height: 1.55;
      font-weight: 700;
      background-position: center center;
      border-color: transparent;
      border-style: solid;
    }
    @media screen and (max-width: 1199px) {
      #rec357069065 .tn-elem[data-elem-id="1631796476967"] {
        width: 300px;
        height: auto;
      }
      #rec357069065 .tn-elem[data-elem-id="1631796476967"] .tn-atom {
        font-size: 25px;
        background-size: cover;
      }
    }
    @media screen and (max-width: 959px) {
      #rec357069065 .tn-elem[data-elem-id="1631796476967"] {
        width: 278px;
        height: auto;
      }
      #rec357069065 .tn-elem[data-elem-id="1631796476967"] .tn-atom {
        font-size: 20px;
        background-size: cover;
      }
    }
    @media screen and (max-width: 639px) {
      #rec357069065 .tn-elem[data-elem-id="1631796476967"] {
        width: 293px;
        height: auto;
      }
    }
    @media screen and (max-width: 479px) {
      #rec357069065 .tn-elem[data-elem-id="1631796476967"] {
        height: auto;
      }
    }
    #rec357069065 .tn-elem[data-elem-id="1651839536529"] {
      z-index: 20;
      top: -206px;
      left: 412px;
      width: 30px;
      height: auto;
      pointer-events: none;
    }
    #rec357069065 .tn-elem[data-elem-id="1651839536529"] .tn-atom {
      background-position: center center;
      border-color: transparent;
      border-style: solid;
    }
    #rec357069065 .tn-elem[data-elem-id="1651839536529"] .tn-atom__img {
    }
    @media screen and (max-width: 1199px) {
      #rec357069065 .tn-elem[data-elem-id="1651839536529"] {
        height: auto;
      }
    }
    @media screen and (max-width: 959px) {
      #rec357069065 .tn-elem[data-elem-id="1651839536529"] {
        height: auto;
      }
    }
    @media screen and (max-width: 639px) {
      #rec357069065 .tn-elem[data-elem-id="1651839536529"] {
        width: 31px;
        height: auto;
      }
    }
    @media screen and (max-width: 479px) {
      #rec357069065 .tn-elem[data-elem-id="1651839536529"] {
        width: 30px;
        height: auto;
      }
    }
    #rec357069065 .tn-elem[data-elem-id="1631796476972"] {
      color: #000000;
      z-index: 21;
      top: -105px;
      left: 412px;
      width: 340px;
      height: auto;
    }
    #rec357069065 .tn-elem[data-elem-id="1631796476972"] .tn-atom {
      color: #000000;
      font-size: 20px;
      font-family: "Montserrat", Arial, sans-serif;
      line-height: 1.1;
      font-weight: 400;
      background-position: center center;
      border-color: transparent;
      border-style: solid;
    }
    @media screen and (max-width: 1199px) {
      #rec357069065 .tn-elem[data-elem-id="1631796476972"] {
        width: 290px;
        height: auto;
      }
      #rec357069065 .tn-elem[data-elem-id="1631796476972"] .tn-atom {
        font-size: 18px;
        background-size: cover;
      }
    }
    @media screen and (max-width: 959px) {
      #rec357069065 .tn-elem[data-elem-id="1631796476972"] {
        width: 296px;
        height: auto;
      }
      #rec357069065 .tn-elem[data-elem-id="1631796476972"] .tn-atom {
        font-size: 18px;
        background-size: cover;
      }
    }
    @media screen and (max-width: 639px) {
      #rec357069065 .tn-elem[data-elem-id="1631796476972"] {
        width: 459px;
        height: auto;
      }
      #rec357069065 .tn-elem[data-elem-id="1631796476972"] .tn-atom {
        font-size: 18px;
        background-size: cover;
      }
    }
    @media screen and (max-width: 479px) {
      #rec357069065 .tn-elem[data-elem-id="1631796476972"] {
        width: 299px;
        height: auto;
      }
      #rec357069065 .tn-elem[data-elem-id="1631796476972"] .tn-atom {
        font-size: 16px;
        background-size: cover;
      }
    }
    #rec357069065 .tn-elem[data-elem-id="1631796480995"] {
      color: #000000;
      z-index: 4;
      top: -457px;
      left: 812px;
      width: 340px;
      height: auto;
    }
    #rec357069065 .tn-elem[data-elem-id="1631796480995"] .tn-atom {
      color: #000000;
      font-size: 20px;
      font-family: "Montserrat-ExtraBold", Arial, sans-serif;
      line-height: 1.2;
      font-weight: 700;
      background-position: center center;
      border-color: transparent;
      border-style: solid;
    }
    @media screen and (max-width: 1199px) {
      #rec357069065 .tn-elem[data-elem-id="1631796480995"] {
        width: 300px;
        height: auto;
      }
      #rec357069065 .tn-elem[data-elem-id="1631796480995"] .tn-atom {
        font-size: 25px;
        line-height: 1.2;
        background-size: cover;
      }
    }
    @media screen and (max-width: 959px) {
      #rec357069065 .tn-elem[data-elem-id="1631796480995"] {
        width: 297px;
        height: auto;
      }
      #rec357069065 .tn-elem[data-elem-id="1631796480995"] .tn-atom {
        font-size: 20px;
        background-size: cover;
      }
    }
    @media screen and (max-width: 639px) {
      #rec357069065 .tn-elem[data-elem-id="1631796480995"] {
        width: 400px;
        height: auto;
      }
    }
    @media screen and (max-width: 479px) {
      #rec357069065 .tn-elem[data-elem-id="1631796480995"] {
        width: 300px;
        height: auto;
      }
    }
    #rec357069065 .tn-elem[data-elem-id="1631796481000"] {
      color: #000000;
      z-index: 5;
      top: -400px;
      left: 812px;
      width: 340px;
      height: auto;
    }
    #rec357069065 .tn-elem[data-elem-id="1631796481000"] .tn-atom {
      color: #000000;
      font-size: 20px;
      font-family: "Montserrat", Arial, sans-serif;
      line-height: 1.1;
      font-weight: 400;
      background-position: center center;
      border-color: transparent;
      border-style: solid;
    }
    @media screen and (max-width: 1199px) {
      #rec357069065 .tn-elem[data-elem-id="1631796481000"] {
        width: 290px;
        height: auto;
      }
      #rec357069065 .tn-elem[data-elem-id="1631796481000"] .tn-atom {
        font-size: 18px;
        background-size: cover;
      }
    }
    @media screen and (max-width: 959px) {
      #rec357069065 .tn-elem[data-elem-id="1631796481000"] {
        width: 277px;
        height: auto;
      }
      #rec357069065 .tn-elem[data-elem-id="1631796481000"] .tn-atom {
        font-size: 18px;
        background-size: cover;
      }
    }
    @media screen and (max-width: 639px) {
      #rec357069065 .tn-elem[data-elem-id="1631796481000"] {
        width: 458px;
        height: auto;
      }
      #rec357069065 .tn-elem[data-elem-id="1631796481000"] .tn-atom {
        font-size: 18px;
        background-size: cover;
      }
    }
    @media screen and (max-width: 479px) {
      #rec357069065 .tn-elem[data-elem-id="1631796481000"] {
        width: 237px;
        height: auto;
      }
      #rec357069065 .tn-elem[data-elem-id="1631796481000"] .tn-atom {
        font-size: 16px;
        background-size: cover;
      }
    }
    #rec357069065 .tn-elem[data-elem-id="1650993191852"] {
      z-index: 6;
      top: -501px;
      left: 812px;
      width: 30px;
      height: auto;
      pointer-events: none;
    }
    #rec357069065 .tn-elem[data-elem-id="1650993191852"] .tn-atom {
      background-position: center center;
      border-color: transparent;
      border-style: solid;
    }
    #rec357069065 .tn-elem[data-elem-id="1650993191852"] .tn-atom__img {
    }
    @media screen and (max-width: 1199px) {
      #rec357069065 .tn-elem[data-elem-id="1650993191852"] {
        height: auto;
      }
    }
    @media screen and (max-width: 959px) {
      #rec357069065 .tn-elem[data-elem-id="1650993191852"] {
        width: 29px;
        height: auto;
      }
    }
    @media screen and (max-width: 639px) {
      #rec357069065 .tn-elem[data-elem-id="1650993191852"] {
        width: 31px;
        height: auto;
      }
    }
    @media screen and (max-width: 479px) {
      #rec357069065 .tn-elem[data-elem-id="1650993191852"] {
        width: 30px;
        height: auto;
      }
    }
    #rec357069065 .tn-elem[data-elem-id="1632477497903"] {
      color: #000000;
      z-index: 11;
      top: -747px;
      left: 10px;
      width: 256px;
      height: auto;
    }
    #rec357069065 .tn-elem[data-elem-id="1632477497903"] .tn-atom {
      color: #000000;
      font-size: 20px;
      font-family: "Montserrat-ExtraBold", Arial, sans-serif;
      line-height: 1.55;
      font-weight: 700;
      background-position: center center;
      border-color: transparent;
      border-style: solid;
    }
    @media screen and (max-width: 1199px) {
      #rec357069065 .tn-elem[data-elem-id="1632477497903"] {
        width: 290px;
        height: auto;
      }
      #rec357069065 .tn-elem[data-elem-id="1632477497903"] .tn-atom {
        font-size: 25px;
        line-height: 1.2;
        background-size: cover;
      }
    }
    @media screen and (max-width: 959px) {
      #rec357069065 .tn-elem[data-elem-id="1632477497903"] {
        width: 263px;
        height: auto;
      }
      #rec357069065 .tn-elem[data-elem-id="1632477497903"] .tn-atom {
        font-size: 20px;
        background-size: cover;
      }
    }
    @media screen and (max-width: 639px) {
      #rec357069065 .tn-elem[data-elem-id="1632477497903"] {
        height: auto;
      }
    }
    @media screen and (max-width: 479px) {
      #rec357069065 .tn-elem[data-elem-id="1632477497903"] {
        width: 262px;
        height: auto;
      }
    }
    #rec357069065 .tn-elem[data-elem-id="1632477497910"] {
      color: #000000;
      z-index: 12;
      top: -707px;
      left: 8px;
      width: 340px;
      height: auto;
    }
    #rec357069065 .tn-elem[data-elem-id="1632477497910"] .tn-atom {
      color: #000000;
      font-size: 20px;
      font-family: "Montserrat", Arial, sans-serif;
      line-height: 1.1;
      font-weight: 400;
      background-position: center center;
      border-color: transparent;
      border-style: solid;
    }
    @media screen and (max-width: 1199px) {
      #rec357069065 .tn-elem[data-elem-id="1632477497910"] {
        width: 290px;
        height: auto;
      }
      #rec357069065 .tn-elem[data-elem-id="1632477497910"] .tn-atom {
        font-size: 18px;
        background-size: cover;
      }
    }
    @media screen and (max-width: 959px) {
      #rec357069065 .tn-elem[data-elem-id="1632477497910"] {
        width: 280px;
        height: auto;
      }
      #rec357069065 .tn-elem[data-elem-id="1632477497910"] .tn-atom {
        font-size: 18px;
        background-size: cover;
      }
    }
    @media screen and (max-width: 639px) {
      #rec357069065 .tn-elem[data-elem-id="1632477497910"] {
        width: 458px;
        height: auto;
      }
      #rec357069065 .tn-elem[data-elem-id="1632477497910"] .tn-atom {
        font-size: 18px;
        background-size: cover;
      }
    }
    @media screen and (max-width: 479px) {
      #rec357069065 .tn-elem[data-elem-id="1632477497910"] {
        width: 298px;
        height: auto;
      }
      #rec357069065 .tn-elem[data-elem-id="1632477497910"] .tn-atom {
        font-size: 16px;
        background-size: cover;
      }
    }
    #rec357069065 .tn-elem[data-elem-id="1651835912745"] {
      z-index: 13;
      top: -790px;
      left: 10px;
      width: 30px;
      height: auto;
      pointer-events: none;
    }
    #rec357069065 .tn-elem[data-elem-id="1651835912745"] .tn-atom {
      background-position: center center;
      border-color: transparent;
      border-style: solid;
    }
    #rec357069065 .tn-elem[data-elem-id="1651835912745"] .tn-atom__img {
    }
    @media screen and (max-width: 1199px) {
      #rec357069065 .tn-elem[data-elem-id="1651835912745"] {
        height: auto;
      }
    }
    @media screen and (max-width: 959px) {
      #rec357069065 .tn-elem[data-elem-id="1651835912745"] {
        height: auto;
      }
    }
    @media screen and (max-width: 639px) {
      #rec357069065 .tn-elem[data-elem-id="1651835912745"] {
        height: auto;
      }
    }
    @media screen and (max-width: 479px) {
      #rec357069065 .tn-elem[data-elem-id="1651835912745"] {
        width: 30px;
        height: auto;
      }
    }
    #rec357069065 .tn-elem[data-elem-id="1632477999018"] {
      color: #000000;
      z-index: 15;
      top: -977px;
      left: 412px;
      width: 340px;
      height: auto;
    }
    #rec357069065 .tn-elem[data-elem-id="1632477999018"] .tn-atom {
      color: #000000;
      font-size: 20px;
      font-family: "Montserrat", Arial, sans-serif;
      line-height: 1.1;
      font-weight: 400;
      background-position: center center;
      border-color: transparent;
      border-style: solid;
    }
    @media screen and (max-width: 1199px) {
      #rec357069065 .tn-elem[data-elem-id="1632477999018"] {
        width: 290px;
        height: auto;
      }
      #rec357069065 .tn-elem[data-elem-id="1632477999018"] .tn-atom {
        font-size: 18px;
        background-size: cover;
      }
    }
    @media screen and (max-width: 959px) {
      #rec357069065 .tn-elem[data-elem-id="1632477999018"] {
        width: 280px;
        height: auto;
      }
      #rec357069065 .tn-elem[data-elem-id="1632477999018"] .tn-atom {
        font-size: 18px;
        background-size: cover;
      }
    }
    @media screen and (max-width: 639px) {
      #rec357069065 .tn-elem[data-elem-id="1632477999018"] {
        width: 458px;
        height: auto;
      }
      #rec357069065 .tn-elem[data-elem-id="1632477999018"] .tn-atom {
        font-size: 18px;
        background-size: cover;
      }
    }
    @media screen and (max-width: 479px) {
      #rec357069065 .tn-elem[data-elem-id="1632477999018"] {
        width: 298px;
        height: auto;
      }
      #rec357069065 .tn-elem[data-elem-id="1632477999018"] .tn-atom {
        font-size: 16px;
        background-size: cover;
      }
    }
    #rec357069065 .tn-elem[data-elem-id="1650992306854"] {
      z-index: 16;
      top: -1060px;
      left: 412px;
      width: 30px;
      height: auto;
      pointer-events: none;
    }
    #rec357069065 .tn-elem[data-elem-id="1650992306854"] .tn-atom {
      background-position: center center;
      border-color: transparent;
      border-style: solid;
    }
    #rec357069065 .tn-elem[data-elem-id="1650992306854"] .tn-atom__img {
    }
    @media screen and (max-width: 1199px) {
      #rec357069065 .tn-elem[data-elem-id="1650992306854"] {
        height: auto;
      }
    }
    @media screen and (max-width: 959px) {
      #rec357069065 .tn-elem[data-elem-id="1650992306854"] {
        height: auto;
      }
    }
    @media screen and (max-width: 639px) {
      #rec357069065 .tn-elem[data-elem-id="1650992306854"] {
        height: auto;
      }
    }
    @media screen and (max-width: 479px) {
      #rec357069065 .tn-elem[data-elem-id="1650992306854"] {
        width: 30px;
        height: auto;
      }
    }
    #rec357069065 .tn-elem[data-elem-id="1632480396262"] {
      color: #000000;
      z-index: 17;
      top: -1017px;
      left: 412px;
      width: 307px;
      height: auto;
    }
    #rec357069065 .tn-elem[data-elem-id="1632480396262"] .tn-atom {
      color: #000000;
      font-size: 20px;
      font-family: "Montserrat-ExtraBold", Arial, sans-serif;
      line-height: 1.2;
      font-weight: 700;
      background-position: center center;
      border-color: transparent;
      border-style: solid;
    }
    @media screen and (max-width: 1199px) {
      #rec357069065 .tn-elem[data-elem-id="1632480396262"] {
        width: 290px;
        height: auto;
      }
      #rec357069065 .tn-elem[data-elem-id="1632480396262"] .tn-atom {
        font-size: 25px;
        background-size: cover;
      }
    }
    @media screen and (max-width: 959px) {
      #rec357069065 .tn-elem[data-elem-id="1632480396262"] {
        width: 280px;
        height: auto;
      }
      #rec357069065 .tn-elem[data-elem-id="1632480396262"] .tn-atom {
        font-size: 20px;
        background-size: cover;
      }
    }
    @media screen and (max-width: 639px) {
      #rec357069065 .tn-elem[data-elem-id="1632480396262"] {
        width: 448px;
        height: auto;
      }
    }
    @media screen and (max-width: 479px) {
      #rec357069065 .tn-elem[data-elem-id="1632480396262"] {
        width: 290px;
        height: auto;
      }
    }
    #rec357069065 .tn-elem[data-elem-id="1631796353931"] {
      color: #000000;
      z-index: 23;
      top: -1166px;
      left: 9px;
      width: 260px;
      height: auto;
    }
    #rec357069065 .tn-elem[data-elem-id="1631796353931"] .tn-atom {
      color: #000000;
      font-size: 20px;
      font-family: "Montserrat-ExtraBold", Arial, sans-serif;
      line-height: 1.55;
      font-weight: 700;
      background-position: center center;
      border-color: transparent;
      border-style: solid;
    }
    @media screen and (max-width: 1199px) {
      #rec357069065 .tn-elem[data-elem-id="1631796353931"] {
        width: 290px;
        height: auto;
      }
      #rec357069065 .tn-elem[data-elem-id="1631796353931"] .tn-atom {
        font-size: 25px;
        line-height: 1.2;
        background-size: cover;
      }
    }
    @media screen and (max-width: 959px) {
      #rec357069065 .tn-elem[data-elem-id="1631796353931"] {
        width: 298px;
        height: auto;
      }
      #rec357069065 .tn-elem[data-elem-id="1631796353931"] .tn-atom {
        font-size: 20px;
        background-size: cover;
      }
    }
    @media screen and (max-width: 639px) {
      #rec357069065 .tn-elem[data-elem-id="1631796353931"] {
        width: 411px;
        height: auto;
      }
    }
    @media screen and (max-width: 479px) {
      #rec357069065 .tn-elem[data-elem-id="1631796353931"] {
        width: 297px;
        height: auto;
      }
      #rec357069065 .tn-elem[data-elem-id="1631796353931"] .tn-atom {
        font-size: 20px;
        line-height: 1;
        background-size: cover;
      }
    }
    #rec357069065 .tn-elem[data-elem-id="1631796395763"] {
      color: #000000;
      z-index: 24;
      top: -1126px;
      left: 8px;
      width: 340px;
      height: auto;
    }
    #rec357069065 .tn-elem[data-elem-id="1631796395763"] .tn-atom {
      color: #000000;
      font-size: 20px;
      font-family: "Montserrat", Arial, sans-serif;
      line-height: 1.1;
      font-weight: 400;
      background-position: center center;
      border-color: transparent;
      border-style: solid;
    }
    @media screen and (max-width: 1199px) {
      #rec357069065 .tn-elem[data-elem-id="1631796395763"] {
        width: 296px;
        height: auto;
      }
      #rec357069065 .tn-elem[data-elem-id="1631796395763"] .tn-atom {
        font-size: 18px;
        background-size: cover;
      }
    }
    @media screen and (max-width: 959px) {
      #rec357069065 .tn-elem[data-elem-id="1631796395763"] {
        width: 278px;
        height: auto;
      }
      #rec357069065 .tn-elem[data-elem-id="1631796395763"] .tn-atom {
        font-size: 18px;
        background-size: cover;
      }
    }
    @media screen and (max-width: 639px) {
      #rec357069065 .tn-elem[data-elem-id="1631796395763"] {
        width: 451px;
        height: auto;
      }
      #rec357069065 .tn-elem[data-elem-id="1631796395763"] .tn-atom {
        font-size: 18px;
        background-size: cover;
      }
    }
    @media screen and (max-width: 479px) {
      #rec357069065 .tn-elem[data-elem-id="1631796395763"] {
        width: 297px;
        height: auto;
      }
      #rec357069065 .tn-elem[data-elem-id="1631796395763"] .tn-atom {
        font-size: 16px;
        background-size: cover;
      }
    }
    #rec357069065 .tn-elem[data-elem-id="1650993463097"] {
      z-index: 25;
      top: -1209px;
      left: 9px;
      width: 30px;
      height: auto;
      pointer-events: none;
    }
    #rec357069065 .tn-elem[data-elem-id="1650993463097"] .tn-atom {
      background-position: center center;
      border-color: transparent;
      border-style: solid;
    }
    #rec357069065 .tn-elem[data-elem-id="1650993463097"] .tn-atom__img {
    }
    @media screen and (max-width: 1199px) {
      #rec357069065 .tn-elem[data-elem-id="1650993463097"] {
        height: auto;
      }
    }
    @media screen and (max-width: 959px) {
      #rec357069065 .tn-elem[data-elem-id="1650993463097"] {
        width: 29px;
        height: auto;
      }
    }
    @media screen and (max-width: 639px) {
      #rec357069065 .tn-elem[data-elem-id="1650993463097"] {
        height: auto;
      }
    }
    @media screen and (max-width: 479px) {
      #rec357069065 .tn-elem[data-elem-id="1650993463097"] {
        width: 30px;
        height: auto;
      }
    }
    #rec357069065 .tn-elem[data-elem-id="1470209944682"] {
      color: #262626;
      z-index: 1;
      top: 1px;
      left: calc(50% - 600px + 0px);
      width: 1264px;
      height: auto;
    }
    #rec357069065 .tn-elem[data-elem-id="1470209944682"] .tn-atom {
      color: #262626;
      font-size: 76px;
      font-family: "Montserrat-ExtraBold", Arial, sans-serif;
      line-height: 0.95;
      font-weight: 700;
      background-position: center center;
      border-color: transparent;
      border-style: solid;
    }
    @media screen and (max-width: 1199px) {
      #rec357069065 .tn-elem[data-elem-id="1470209944682"] {
        top: 15px;
        left: calc(50% - 480px + 20px);
        width: 934px;
        height: auto;
      }
      #rec357069065 .tn-elem[data-elem-id="1470209944682"] .tn-atom {
        font-size: 59px;
        background-size: cover;
      }
    }
    @media screen and (max-width: 959px) {
      #rec357069065 .tn-elem[data-elem-id="1470209944682"] {
        top: 33px;
        left: calc(50% - 320px + 20px);
        width: 620px;
        height: auto;
      }
      #rec357069065 .tn-elem[data-elem-id="1470209944682"] .tn-atom {
        font-size: 60px;
        background-size: cover;
      }
    }
    @media screen and (max-width: 639px) {
      #rec357069065 .tn-elem[data-elem-id="1470209944682"] {
        top: 15px;
        left: calc(50% - 240px + 11px);
        width: 450px;
        height: auto;
      }
      #rec357069065 .tn-elem[data-elem-id="1470209944682"] .tn-atom {
        font-size: 40px;
        background-size: cover;
      }
    }
    @media screen and (max-width: 479px) {
      #rec357069065 .tn-elem[data-elem-id="1470209944682"] {
        top: 15px;
        left: calc(50% - 160px + 10px);
        width: 299px;
        height: auto;
      }
      #rec357069065 .tn-elem[data-elem-id="1470209944682"] .tn-atom {
        font-size: 29px;
        background-size: cover;
      }
    }
    #rec357069065 .tn-elem[data-elem-id="1651832419641"] {
      z-index: 30;
      top: 868px;
      left: calc(50% - 600px + 423px);
      width: 327px;
      height: auto;
      pointer-events: none;
    }
    #rec357069065 .tn-elem[data-elem-id="1651832419641"] .tn-atom {
      background-position: center center;
      border-color: transparent;
      border-style: solid;
    }
    #rec357069065 .tn-elem[data-elem-id="1651832419641"] .tn-atom__img {
    }
    @media screen and (max-width: 1199px) {
      #rec357069065 .tn-elem[data-elem-id="1651832419641"] {
        top: 877px;
        left: calc(50% - 480px + 332px);
        width: 290px;
        height: auto;
      }
    }
    @media screen and (max-width: 959px) {
      #rec357069065 .tn-elem[data-elem-id="1651832419641"] {
        top: 1462px;
        left: calc(50% - 320px + 12px);
        width: 308px;
        height: auto;
      }
    }
    @media screen and (max-width: 639px) {
      #rec357069065 .tn-elem[data-elem-id="1651832419641"] {
        top: 1851px;
        left: calc(50% - 240px + 44px);
        height: auto;
      }
    }
    @media screen and (max-width: 479px) {
      #rec357069065 .tn-elem[data-elem-id="1651832419641"] {
        top: 1902px;
        left: calc(50% - 160px + 11px);
        width: 298px;
        height: auto;
      }
    }
    #rec357069065 .tn-elem[data-elem-id="1651832419646"] {
      z-index: 31;
      top: 437px;
      left: calc(50% - 600px + 845px);
      width: 295px;
      height: auto;
      pointer-events: none;
    }
    #rec357069065 .tn-elem[data-elem-id="1651832419646"] .tn-atom {
      background-position: center center;
      border-color: transparent;
      border-style: solid;
    }
    #rec357069065 .tn-elem[data-elem-id="1651832419646"] .tn-atom__img {
    }
    @media screen and (max-width: 1199px) {
      #rec357069065 .tn-elem[data-elem-id="1651832419646"] {
        top: 455px;
        left: calc(50% - 480px + 651px);
        height: auto;
      }
    }
    @media screen and (max-width: 959px) {
      #rec357069065 .tn-elem[data-elem-id="1651832419646"] {
        top: 908px;
        left: calc(50% - 320px + 12px);
        width: 264px;
        height: auto;
      }
    }
    @media screen and (max-width: 639px) {
      #rec357069065 .tn-elem[data-elem-id="1651832419646"] {
        top: 927px;
        left: calc(50% - 240px + 91px);
        width: 298px;
        height: auto;
      }
    }
    @media screen and (max-width: 479px) {
      #rec357069065 .tn-elem[data-elem-id="1651832419646"] {
        top: 964px;
        left: calc(50% - 160px + 11px);
        width: 297px;
        height: auto;
      }
    }
  </style>
  <div class="t396">
    <div
      class="t396__artboard"
      data-artboard-recid="357069065"
      data-artboard-screens="320,480,640,960,1200"
      data-artboard-height="1260"
      data-artboard-valign="center"
      data-artboard-upscale="grid"
      data-artboard-height-res-320="2580"
      data-artboard-height-res-480="2540"
      data-artboard-height-res-640="1720"
      data-artboard-upscale-res-640="grid"
      data-artboard-height-res-960="1320"
      data-artboard-upscale-res-960="window"
    >
      <div class="t396__carrier" data-artboard-recid="357069065"></div>
      <div class="t396__filter" data-artboard-recid="357069065"></div>
      <div
        class="t396__elem tn-elem tn-elem__3570690651632477881646"
        data-elem-id="1632477881646"
        data-elem-type="text"
        data-field-top-value="957"
        data-field-left-value="822"
        data-field-width-value="256"
        data-field-axisy-value="top"
        data-field-axisx-value="left"
        data-field-container-value="grid"
        data-field-topunits-value="px"
        data-field-leftunits-value="px"
        data-field-heightunits-value=""
        data-field-widthunits-value="px"
        data-field-top-res-320-value="2353"
        data-field-left-res-320-value="11"
        data-field-width-res-320-value="261"
        data-field-top-res-480-value="2319"
        data-field-left-res-480-value="11"
        data-field-top-res-640-value="1367"
        data-field-left-res-640-value="331"
        data-field-width-res-640-value="263"
        data-field-top-res-960-value="954"
        data-field-left-res-960-value="651"
        data-field-width-res-960-value="290"
      >
        <div class="tn-atom" field="tn_text_1632477881646">
          НЕ ТОЛЬКО КОД
        </div>
      </div>
      <div
        class="t396__elem tn-elem tn-elem__3570690651632477881654"
        data-elem-id="1632477881654"
        data-elem-type="text"
        data-field-top-value="997"
        data-field-left-value="822"
        data-field-width-value="340"
        data-field-axisy-value="top"
        data-field-axisx-value="left"
        data-field-container-value="grid"
        data-field-topunits-value="px"
        data-field-leftunits-value="px"
        data-field-heightunits-value=""
        data-field-widthunits-value="px"
        data-field-top-res-320-value="2394"
        data-field-left-res-320-value="11"
        data-field-width-res-320-value="297"
        data-field-top-res-480-value="2360"
        data-field-left-res-480-value="11"
        data-field-width-res-480-value="460"
        data-field-top-res-640-value="1408"
        data-field-left-res-640-value="331"
        data-field-width-res-640-value="280"
        data-field-top-res-960-value="1003"
        data-field-left-res-960-value="651"
        data-field-width-res-960-value="290"
      >
        <div class="tn-atom" field="tn_text_1632477881654">
          В реальных проектах важны не только технические навыки, но и
          развитие личных качеств.<br /><br />Мы учли это, и в программу
          обучения включили лекции по эффективности, коммуникациям,
          тайм-менеджменту и другим полезным вещам
        </div>
      </div>
      <div
        class="t396__elem tn-elem tn-elem__3570690651650993452554"
        data-elem-id="1650993452554"
        data-elem-type="image"
        data-field-top-value="908"
        data-field-left-value="822"
        data-field-width-value="30"
        data-field-axisy-value="top"
        data-field-axisx-value="left"
        data-field-container-value="grid"
        data-field-topunits-value="px"
        data-field-leftunits-value="px"
        data-field-heightunits-value=""
        data-field-widthunits-value="px"
        data-field-filewidth-value="117"
        data-field-fileheight-value="111"
        data-field-top-res-320-value="2305"
        data-field-left-res-320-value="11"
        data-field-width-res-320-value="30"
        data-field-top-res-480-value="2271"
        data-field-left-res-480-value="11"
        data-field-top-res-640-value="1318"
        data-field-left-res-640-value="331"
        data-field-top-res-960-value="905"
        data-field-left-res-960-value="652"
      >
        <div class="tn-atom">
          <img
            class="tn-atom__img t-img"
            data-original="/assets/images/tild3732-6130-4262-a330-653631336136__5c9c8d30708eb7ad8866.svg"
            src="/assets/images/tild3732-6130-4262-a330-653631336136__5c9c8d30708eb7ad8866.svg"
            alt=""
            imgfield="tn_img_1650993452554"
          />
        </div>
      </div>
      <div
        class="t396__elem tn-elem tn-elem__3570690651631796483916"
        data-elem-id="1631796483916"
        data-elem-type="text"
        data-field-top-value="273"
        data-field-left-value="19"
        data-field-width-value="320"
        data-field-axisy-value="top"
        data-field-axisx-value="left"
        data-field-container-value="grid"
        data-field-topunits-value="px"
        data-field-leftunits-value="px"
        data-field-heightunits-value=""
        data-field-widthunits-value="px"
        data-field-top-res-320-value="206"
        data-field-left-res-320-value="10"
        data-field-width-res-320-value="296"
        data-field-top-res-480-value="248"
        data-field-left-res-480-value="11"
        data-field-width-res-480-value="361"
        data-field-top-res-640-value="362"
        data-field-left-res-640-value="11"
        data-field-width-res-640-value="297"
        data-field-top-res-960-value="263"
        data-field-left-res-960-value="13"
        data-field-width-res-960-value="295"
      >
        <div class="tn-atom" field="tn_text_1631796483916">
          СОЗДАЕМ УСЛОВИЯ ДЛЯ ОБУЧЕНИЯ
        </div>
      </div>
      <div
        class="t396__elem tn-elem tn-elem__3570690651631796483922"
        data-elem-id="1631796483922"
        data-elem-type="text"
        data-field-top-value="330"
        data-field-left-value="19"
        data-field-width-value="340"
        data-field-axisy-value="top"
        data-field-axisx-value="left"
        data-field-container-value="grid"
        data-field-topunits-value="px"
        data-field-leftunits-value="px"
        data-field-heightunits-value=""
        data-field-widthunits-value="px"
        data-field-top-res-320-value="264"
        data-field-left-res-320-value="10"
        data-field-width-res-320-value="297"
        data-field-top-res-480-value="306"
        data-field-left-res-480-value="11"
        data-field-width-res-480-value="459"
        data-field-top-res-640-value="423"
        data-field-left-res-640-value="11"
        data-field-width-res-640-value="297"
        data-field-top-res-960-value="333"
        data-field-left-res-960-value="13"
        data-field-width-res-960-value="285"
      >
        <div class="tn-atom" field="tn_text_1631796483922">
          Мы с пониманием и поддержкой относимся к тому, что наши студенты
          учатся в университете. Поэтому все занятия в Академии
          адаптируются под расписание в ВУЗе. Это актуально и для тех, кто
          уже работает в команде - можно учиться и работать одновременно
        </div>
      </div>
      <div
        class="t396__elem tn-elem tn-elem__3570690651650992296939"
        data-elem-id="1650992296939"
        data-elem-type="image"
        data-field-top-value="229"
        data-field-left-value="19"
        data-field-width-value="30"
        data-field-axisy-value="top"
        data-field-axisx-value="left"
        data-field-container-value="grid"
        data-field-topunits-value="px"
        data-field-leftunits-value="px"
        data-field-heightunits-value=""
        data-field-widthunits-value="px"
        data-field-filewidth-value="117"
        data-field-fileheight-value="111"
        data-field-top-res-320-value="156"
        data-field-left-res-320-value="11"
        data-field-width-res-320-value="30"
        data-field-top-res-480-value="198"
        data-field-left-res-480-value="11"
        data-field-width-res-480-value="32"
        data-field-top-res-640-value="312"
        data-field-left-res-640-value="11"
        data-field-width-res-640-value="31"
        data-field-top-res-960-value="214"
        data-field-left-res-960-value="12"
        data-field-width-res-960-value="29"
      >
        <div class="tn-atom">
          <img
            class="tn-atom__img t-img"
            data-original="/assets/images/tild3732-6130-4262-a330-653631336136__5c9c8d30708eb7ad8866.svg"
            src="/assets/images/tild3732-6130-4262-a330-653631336136__5c9c8d30708eb7ad8866.svg"
            alt=""
            imgfield="tn_img_1650992296939"
          />
        </div>
      </div>
      <div
        class="t396__elem tn-elem tn-elem__3570690651631796476967"
        data-elem-id="1631796476967"
        data-elem-type="text"
        data-field-top-value="273"
        data-field-left-value="423"
        data-field-width-value="230"
        data-field-axisy-value="top"
        data-field-axisx-value="left"
        data-field-container-value="grid"
        data-field-topunits-value="px"
        data-field-leftunits-value="px"
        data-field-heightunits-value=""
        data-field-widthunits-value="px"
        data-field-top-res-320-value="483"
        data-field-left-res-320-value="11"
        data-field-top-res-480-value="505"
        data-field-left-res-480-value="11"
        data-field-width-res-480-value="293"
        data-field-top-res-640-value="362"
        data-field-left-res-640-value="332"
        data-field-width-res-640-value="278"
        data-field-top-res-960-value="263"
        data-field-left-res-960-value="332"
        data-field-width-res-960-value="300"
      >
        <div class="tn-atom" field="tn_text_1631796476967">
          МНОГО ПРАКТИКИ
        </div>
      </div>
      <div
        class="t396__elem tn-elem tn-elem__3570690651651839536529"
        data-elem-id="1651839536529"
        data-elem-type="image"
        data-field-top-value="229"
        data-field-left-value="423"
        data-field-width-value="30"
        data-field-axisy-value="top"
        data-field-axisx-value="left"
        data-field-container-value="grid"
        data-field-topunits-value="px"
        data-field-leftunits-value="px"
        data-field-heightunits-value=""
        data-field-widthunits-value="px"
        data-field-filewidth-value="117"
        data-field-fileheight-value="111"
        data-field-top-res-320-value="435"
        data-field-left-res-320-value="12"
        data-field-width-res-320-value="30"
        data-field-top-res-480-value="456"
        data-field-left-res-480-value="14"
        data-field-width-res-480-value="31"
        data-field-top-res-640-value="312"
        data-field-left-res-640-value="331"
        data-field-top-res-960-value="215"
        data-field-left-res-960-value="332"
      >
        <div class="tn-atom">
          <img
            class="tn-atom__img t-img"
            data-original="/assets/images/tild3732-6130-4262-a330-653631336136__5c9c8d30708eb7ad8866.svg"
            src="/assets/images/tild3732-6130-4262-a330-653631336136__5c9c8d30708eb7ad8866.svg"
            alt=""
            imgfield="tn_img_1651839536529"
          />
        </div>
      </div>
      <div
        class="t396__elem tn-elem tn-elem__3570690651631796476972"
        data-elem-id="1631796476972"
        data-elem-type="text"
        data-field-top-value="330"
        data-field-left-value="423"
        data-field-width-value="340"
        data-field-axisy-value="top"
        data-field-axisx-value="left"
        data-field-container-value="grid"
        data-field-topunits-value="px"
        data-field-leftunits-value="px"
        data-field-heightunits-value=""
        data-field-widthunits-value="px"
        data-field-top-res-320-value="524"
        data-field-left-res-320-value="11"
        data-field-width-res-320-value="299"
        data-field-top-res-480-value="546"
        data-field-left-res-480-value="11"
        data-field-width-res-480-value="459"
        data-field-top-res-640-value="405"
        data-field-left-res-640-value="332"
        data-field-width-res-640-value="296"
        data-field-top-res-960-value="333"
        data-field-left-res-960-value="332"
        data-field-width-res-960-value="290"
      >
        <div class="tn-atom" field="tn_text_1631796476972">
          Теория без практики не имеет ценности. Пока ты студент, не
          просто получить практический опыт на реальных проектах. Поэтому
          на наших курсах ты будешь работать с реальными задачами от
          больших e-commerce брендов. А если будет сложно, то наши
          наставники всегда помогут и направят
        </div>
      </div>
      <div
        class="t396__elem tn-elem tn-elem__3570690651631796480995"
        data-elem-id="1631796480995"
        data-elem-type="text"
        data-field-top-value="273"
        data-field-left-value="822"
        data-field-width-value="340"
        data-field-axisy-value="top"
        data-field-axisx-value="left"
        data-field-container-value="grid"
        data-field-topunits-value="px"
        data-field-leftunits-value="px"
        data-field-heightunits-value=""
        data-field-widthunits-value="px"
        data-field-top-res-320-value="778"
        data-field-left-res-320-value="10"
        data-field-width-res-320-value="300"
        data-field-top-res-480-value="767"
        data-field-left-res-480-value="11"
        data-field-width-res-480-value="400"
        data-field-top-res-640-value="721"
        data-field-left-res-640-value="12"
        data-field-width-res-640-value="297"
        data-field-top-res-960-value="263"
        data-field-left-res-960-value="652"
        data-field-width-res-960-value="300"
      >
        <div class="tn-atom" field="tn_text_1631796480995">
          ТРУДОУСТРАИВАЕМ ВЫПУСКНИКОВ
        </div>
      </div>
      <div
        class="t396__elem tn-elem tn-elem__3570690651631796481000"
        data-elem-id="1631796481000"
        data-elem-type="text"
        data-field-top-value="330"
        data-field-left-value="822"
        data-field-width-value="340"
        data-field-axisy-value="top"
        data-field-axisx-value="left"
        data-field-container-value="grid"
        data-field-topunits-value="px"
        data-field-leftunits-value="px"
        data-field-heightunits-value=""
        data-field-widthunits-value="px"
        data-field-top-res-320-value="836"
        data-field-left-res-320-value="10"
        data-field-width-res-320-value="237"
        data-field-top-res-480-value="825"
        data-field-left-res-480-value="11"
        data-field-width-res-480-value="458"
        data-field-top-res-640-value="779"
        data-field-left-res-640-value="12"
        data-field-width-res-640-value="277"
        data-field-top-res-960-value="333"
        data-field-left-res-960-value="652"
        data-field-width-res-960-value="290"
      >
        <div class="tn-atom" field="tn_text_1631796481000">
          Студенты, успешно защитившие итоговую работу, получают
          предложение работать в
          <a
            href="https://oggetto.team/"
            target="_blank"
            rel="noreferrer noopener"
            style="
              color: rgb(38, 38, 38);
              border-bottom: 4px solid rgb(255, 221, 0);
              box-shadow: none;
              text-decoration: none;
            "
            >нашей компании</a
          >
        </div>
      </div>
      <div
        class="t396__elem tn-elem tn-elem__3570690651650993191852"
        data-elem-id="1650993191852"
        data-elem-type="image"
        data-field-top-value="229"
        data-field-left-value="822"
        data-field-width-value="30"
        data-field-axisy-value="top"
        data-field-axisx-value="left"
        data-field-container-value="grid"
        data-field-topunits-value="px"
        data-field-leftunits-value="px"
        data-field-heightunits-value=""
        data-field-widthunits-value="px"
        data-field-filewidth-value="117"
        data-field-fileheight-value="111"
        data-field-top-res-320-value="730"
        data-field-left-res-320-value="12"
        data-field-width-res-320-value="30"
        data-field-top-res-480-value="718"
        data-field-left-res-480-value="11"
        data-field-width-res-480-value="31"
        data-field-top-res-640-value="672"
        data-field-left-res-640-value="12"
        data-field-width-res-640-value="29"
        data-field-top-res-960-value="215"
        data-field-left-res-960-value="652"
      >
        <div class="tn-atom">
          <img
            class="tn-atom__img t-img"
            data-original="/assets/images/tild3732-6130-4262-a330-653631336136__5c9c8d30708eb7ad8866.svg"
            src="/assets/images/tild3732-6130-4262-a330-653631336136__5c9c8d30708eb7ad8866.svg"
            alt=""
            imgfield="tn_img_1650993191852"
          />
        </div>
      </div>
      <div
        class="t396__elem tn-elem tn-elem__3570690651632477497903"
        data-elem-id="1632477497903"
        data-elem-type="text"
        data-field-top-value="643"
        data-field-left-value="21"
        data-field-width-value="256"
        data-field-axisy-value="top"
        data-field-axisx-value="left"
        data-field-container-value="grid"
        data-field-topunits-value="px"
        data-field-leftunits-value="px"
        data-field-heightunits-value=""
        data-field-widthunits-value="px"
        data-field-top-res-320-value="1438"
        data-field-left-res-320-value="11"
        data-field-width-res-320-value="262"
        data-field-top-res-480-value="1425"
        data-field-left-res-480-value="11"
        data-field-top-res-640-value="721"
        data-field-left-res-640-value="333"
        data-field-width-res-640-value="263"
        data-field-top-res-960-value="649"
        data-field-left-res-960-value="12"
        data-field-width-res-960-value="290"
      >
        <div class="tn-atom" field="tn_text_1632477497903">
          МЯГКО АДАПТИРУЕМ
        </div>
      </div>
      <div
        class="t396__elem tn-elem tn-elem__3570690651632477497910"
        data-elem-id="1632477497910"
        data-elem-type="text"
        data-field-top-value="683"
        data-field-left-value="19"
        data-field-width-value="340"
        data-field-axisy-value="top"
        data-field-axisx-value="left"
        data-field-container-value="grid"
        data-field-topunits-value="px"
        data-field-leftunits-value="px"
        data-field-heightunits-value=""
        data-field-widthunits-value="px"
        data-field-top-res-320-value="1472"
        data-field-left-res-320-value="11"
        data-field-width-res-320-value="298"
        data-field-top-res-480-value="1459"
        data-field-left-res-480-value="11"
        data-field-width-res-480-value="458"
        data-field-top-res-640-value="755"
        data-field-left-res-640-value="333"
        data-field-width-res-640-value="280"
        data-field-top-res-960-value="719"
        data-field-left-res-960-value="12"
        data-field-width-res-960-value="290"
      >
        <div class="tn-atom" field="tn_text_1632477497910">
          Мы не сторонники того, чтобы кидать студентов без опыта на
          реальные боевые задачи. Обучение в Академии помогает плавно
          адаптироваться к работе в проектных командах, учит всем нужным
          процессам и практикам, знакомит с жизнью команд и уменьшает
          стресс новичка
        </div>
      </div>
      <div
        class="t396__elem tn-elem tn-elem__3570690651651835912745"
        data-elem-id="1651835912745"
        data-elem-type="image"
        data-field-top-value="600"
        data-field-left-value="21"
        data-field-width-value="30"
        data-field-axisy-value="top"
        data-field-axisx-value="left"
        data-field-container-value="grid"
        data-field-topunits-value="px"
        data-field-leftunits-value="px"
        data-field-heightunits-value=""
        data-field-widthunits-value="px"
        data-field-filewidth-value="117"
        data-field-fileheight-value="111"
        data-field-top-res-320-value="1390"
        data-field-left-res-320-value="12"
        data-field-width-res-320-value="30"
        data-field-top-res-480-value="1377"
        data-field-left-res-480-value="11"
        data-field-top-res-640-value="672"
        data-field-left-res-640-value="331"
        data-field-top-res-960-value="601"
        data-field-left-res-960-value="11"
      >
        <div class="tn-atom">
          <img
            class="tn-atom__img t-img"
            data-original="/assets/images/tild3732-6130-4262-a330-653631336136__5c9c8d30708eb7ad8866.svg"
            src="/assets/images/tild3732-6130-4262-a330-653631336136__5c9c8d30708eb7ad8866.svg"
            alt=""
            imgfield="tn_img_1651835912745"
          />
        </div>
      </div>
      <div
        class="t396__elem tn-elem tn-elem__3570690651632477999018"
        data-elem-id="1632477999018"
        data-elem-type="text"
        data-field-top-value="683"
        data-field-left-value="423"
        data-field-width-value="340"
        data-field-axisy-value="top"
        data-field-axisx-value="left"
        data-field-container-value="grid"
        data-field-topunits-value="px"
        data-field-leftunits-value="px"
        data-field-heightunits-value=""
        data-field-widthunits-value="px"
        data-field-top-res-320-value="1766"
        data-field-left-res-320-value="11"
        data-field-width-res-320-value="298"
        data-field-top-res-480-value="1716"
        data-field-left-res-480-value="11"
        data-field-width-res-480-value="458"
        data-field-top-res-640-value="1129"
        data-field-left-res-640-value="331"
        data-field-width-res-640-value="280"
        data-field-top-res-960-value="719"
        data-field-left-res-960-value="332"
        data-field-width-res-960-value="290"
      >
        <div class="tn-atom" field="tn_text_1632477999018">
          Всем студентам Академии даем ноутбуки для мобильности, готовим
          места для учебы в офисе. <br />А еще всем студентам положены
          обеды, чай, кофе и прочие вкусные плюшки
        </div>
      </div>
      <div
        class="t396__elem tn-elem tn-elem__3570690651650992306854"
        data-elem-id="1650992306854"
        data-elem-type="image"
        data-field-top-value="600"
        data-field-left-value="423"
        data-field-width-value="30"
        data-field-axisy-value="top"
        data-field-axisx-value="left"
        data-field-container-value="grid"
        data-field-topunits-value="px"
        data-field-leftunits-value="px"
        data-field-heightunits-value=""
        data-field-widthunits-value="px"
        data-field-filewidth-value="117"
        data-field-fileheight-value="111"
        data-field-top-res-320-value="1660"
        data-field-left-res-320-value="11"
        data-field-width-res-320-value="30"
        data-field-top-res-480-value="1634"
        data-field-left-res-480-value="11"
        data-field-top-res-640-value="1022"
        data-field-left-res-640-value="331"
        data-field-top-res-960-value="601"
        data-field-left-res-960-value="332"
      >
        <div class="tn-atom">
          <img
            class="tn-atom__img t-img"
            data-original="/assets/images/tild3732-6130-4262-a330-653631336136__5c9c8d30708eb7ad8866.svg"
            src="/assets/images/tild3732-6130-4262-a330-653631336136__5c9c8d30708eb7ad8866.svg"
            alt=""
            imgfield="tn_img_1650992306854"
          />
        </div>
      </div>
      <div
        class="t396__elem tn-elem tn-elem__3570690651632480396262"
        data-elem-id="1632480396262"
        data-elem-type="text"
        data-field-top-value="643"
        data-field-left-value="423"
        data-field-width-value="307"
        data-field-axisy-value="top"
        data-field-axisx-value="left"
        data-field-container-value="grid"
        data-field-topunits-value="px"
        data-field-leftunits-value="px"
        data-field-heightunits-value=""
        data-field-widthunits-value="px"
        data-field-top-res-320-value="1708"
        data-field-left-res-320-value="11"
        data-field-width-res-320-value="290"
        data-field-top-res-480-value="1682"
        data-field-left-res-480-value="11"
        data-field-width-res-480-value="448"
        data-field-top-res-640-value="1071"
        data-field-left-res-640-value="331"
        data-field-width-res-640-value="280"
        data-field-top-res-960-value="649"
        data-field-left-res-960-value="332"
        data-field-width-res-960-value="290"
      >
        <div class="tn-atom" field="tn_text_1632480396262">
          ЗАБОТИМСЯ О КОМФОРТЕ
        </div>
      </div>
      <div
        class="t396__elem tn-elem tn-elem__3570690651631796353931"
        data-elem-id="1631796353931"
        data-elem-type="text"
        data-field-top-value="996"
        data-field-left-value="20"
        data-field-width-value="260"
        data-field-axisy-value="top"
        data-field-axisx-value="left"
        data-field-container-value="grid"
        data-field-topunits-value="px"
        data-field-leftunits-value="px"
        data-field-heightunits-value=""
        data-field-widthunits-value="px"
        data-field-top-res-320-value="2210"
        data-field-left-res-320-value="11"
        data-field-width-res-320-value="297"
        data-field-top-res-480-value="2167"
        data-field-left-res-480-value="11"
        data-field-width-res-480-value="411"
        data-field-top-res-640-value="1367"
        data-field-left-res-640-value="12"
        data-field-width-res-640-value="298"
        data-field-top-res-960-value="1035"
        data-field-left-res-960-value="12"
        data-field-width-res-960-value="290"
      >
        <div class="tn-atom" field="tn_text_1631796353931">
          ПЛАТИМ СТИПЕНДИЮ
        </div>
      </div>
      <div
        class="t396__elem tn-elem tn-elem__3570690651631796395763"
        data-elem-id="1631796395763"
        data-elem-type="text"
        data-field-top-value="1036"
        data-field-left-value="19"
        data-field-width-value="340"
        data-field-axisy-value="top"
        data-field-axisx-value="left"
        data-field-container-value="grid"
        data-field-topunits-value="px"
        data-field-leftunits-value="px"
        data-field-heightunits-value=""
        data-field-widthunits-value="px"
        data-field-top-res-320-value="2240"
        data-field-left-res-320-value="11"
        data-field-width-res-320-value="297"
        data-field-top-res-480-value="2201"
        data-field-left-res-480-value="11"
        data-field-width-res-480-value="451"
        data-field-top-res-640-value="1401"
        data-field-left-res-640-value="12"
        data-field-width-res-640-value="278"
        data-field-top-res-960-value="1105"
        data-field-left-res-960-value="12"
        data-field-width-res-960-value="296"
      >
        <div class="tn-atom" field="tn_text_1631796395763">
          Обучение у нас бесплатно. <br />Есть стипендия
        </div>
      </div>
      <div
        class="t396__elem tn-elem tn-elem__3570690651650993463097"
        data-elem-id="1650993463097"
        data-elem-type="image"
        data-field-top-value="953"
        data-field-left-value="20"
        data-field-width-value="30"
        data-field-axisy-value="top"
        data-field-axisx-value="left"
        data-field-container-value="grid"
        data-field-topunits-value="px"
        data-field-leftunits-value="px"
        data-field-heightunits-value=""
        data-field-widthunits-value="px"
        data-field-filewidth-value="117"
        data-field-fileheight-value="111"
        data-field-top-res-320-value="2162"
        data-field-left-res-320-value="11"
        data-field-width-res-320-value="30"
        data-field-top-res-480-value="2119"
        data-field-left-res-480-value="11"
        data-field-top-res-640-value="1318"
        data-field-left-res-640-value="12"
        data-field-width-res-640-value="29"
        data-field-top-res-960-value="986"
        data-field-left-res-960-value="14"
      >
        <div class="tn-atom">
          <img
            class="tn-atom__img t-img"
            data-original="/assets/images/tild3732-6130-4262-a330-653631336136__5c9c8d30708eb7ad8866.svg"
            src="/assets/images/tild3732-6130-4262-a330-653631336136__5c9c8d30708eb7ad8866.svg"
            alt=""
            imgfield="tn_img_1650993463097"
          />
        </div>
      </div>
      <div
        class="t396__elem tn-elem tn-elem__3570690651470209944682"
        data-elem-id="1470209944682"
        data-elem-type="text"
        data-field-top-value="1"
        data-field-left-value="0"
        data-field-width-value="1264"
        data-field-axisy-value="top"
        data-field-axisx-value="left"
        data-field-container-value="grid"
        data-field-topunits-value="px"
        data-field-leftunits-value="px"
        data-field-heightunits-value=""
        data-field-widthunits-value="px"
        data-field-top-res-320-value="15"
        data-field-left-res-320-value="10"
        data-field-width-res-320-value="299"
        data-field-top-res-480-value="15"
        data-field-left-res-480-value="11"
        data-field-width-res-480-value="450"
        data-field-top-res-640-value="33"
        data-field-left-res-640-value="20"
        data-field-width-res-640-value="620"
        data-field-top-res-960-value="15"
        data-field-left-res-960-value="20"
        data-field-width-res-960-value="934"
      >
        <h2 class="tn-atom" field="tn_text_1470209944682">
          ПОЧЕМУ СТОИТ ПОСТУПАТЬ<br />В АКАДЕМИЮ ОДЖЕТТО
        </h2>
      </div>
      <div
        class="t396__elem tn-elem tn-elem__3570690651651832419641"
        data-elem-id="1651832419641"
        data-elem-type="image"
        data-field-top-value="868"
        data-field-left-value="423"
        data-field-width-value="327"
        data-field-axisy-value="top"
        data-field-axisx-value="left"
        data-field-container-value="grid"
        data-field-topunits-value="px"
        data-field-leftunits-value="px"
        data-field-heightunits-value=""
        data-field-widthunits-value="px"
        data-field-filewidth-value="1380"
        data-field-fileheight-value="1065"
        data-field-top-res-320-value="1902"
        data-field-left-res-320-value="11"
        data-field-width-res-320-value="298"
        data-field-top-res-480-value="1851"
        data-field-left-res-480-value="44"
        data-field-top-res-640-value="1462"
        data-field-left-res-640-value="12"
        data-field-width-res-640-value="308"
        data-field-top-res-960-value="877"
        data-field-left-res-960-value="332"
        data-field-width-res-960-value="290"
      >
        <div class="tn-atom">
          <img
            class="tn-atom__img t-img"
            data-original="/assets/images/tild3963-3130-4231-a134-646466343630__1428ec4588d11ff7d7ec.svg"
            src="/assets/images/tild3963-3130-4231-a134-646466343630__1428ec4588d11ff7d7ec.svg"
            alt=""
            imgfield="tn_img_1651832419641"
          />
        </div>
      </div>
      <div
        class="t396__elem tn-elem tn-elem__3570690651651832419646"
        data-elem-id="1651832419646"
        data-elem-type="image"
        data-field-top-value="437"
        data-field-left-value="845"
        data-field-width-value="295"
        data-field-axisy-value="top"
        data-field-axisx-value="left"
        data-field-container-value="grid"
        data-field-topunits-value="px"
        data-field-leftunits-value="px"
        data-field-heightunits-value=""
        data-field-widthunits-value="px"
        data-field-filewidth-value="1183"
        data-field-fileheight-value="1685"
        data-field-top-res-320-value="964"
        data-field-left-res-320-value="11"
        data-field-width-res-320-value="297"
        data-field-top-res-480-value="927"
        data-field-left-res-480-value="91"
        data-field-width-res-480-value="298"
        data-field-top-res-640-value="908"
        data-field-left-res-640-value="12"
        data-field-width-res-640-value="264"
        data-field-top-res-960-value="455"
        data-field-left-res-960-value="651"
      >
        <div class="tn-atom">
          <img
            class="tn-atom__img t-img"
            data-original="/assets/images/tild3132-6438-4732-a439-633030323336__1a0dba41e748c90b0cee.svg"
            src="/assets/images/tild3132-6438-4732-a439-633030323336__1a0dba41e748c90b0cee.svg"
            alt=""
            imgfield="tn_img_1651832419646"
          />
        </div>
      </div>
    </div>
  </div>
  <script>
    t_onFuncLoad("t396_initialScale", function () {
      t396_initialScale("357069065");
    });
    t_onReady(function () {
      t_onFuncLoad("t396_init", function () {
        t396_init("357069065");
      });
    });
  </script>
  <!-- /T396 -->
</div>