<div
  id="rec435361301"
  class="r t-rec"
  style=""
  data-animationappear="off"
  data-record-type="890"
>
  <!-- t890 -->
  <div
    class="t890"
    style="
      display: none;
      opacity: 1;
      position: fixed;
      z-index: 99990;
      bottom: 20px;
      right: 20px;
    "
  >
    <button
      type="button"
      class="t890__arrow"
      aria-label="Вернуться к началу страницы"
      style="box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2)"
    >
      <svg
        role="presentation"
        width="50"
        height="50"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <rect
          width="50"
          height="50"
          rx="50"
          fill="#ffffff"
          fill-opacity="0.90"
          stroke="none"
        />
        <path
          d="M21 27L25.5 22L30 27"
          stroke="#000000"
          stroke-width="1"
          fill="none"
        />
      </svg>
    </button>
  </div>
  <script type="text/javascript">
    t_onReady(function () {
      t_onFuncLoad("t890_init", function () {
        t890_init("435361301", "");
      });
    });
  </script>
  <style>
    @media screen and (min-width: 981px) {
      #rec435361301 .t890__arrow:hover svg path {
        stroke: #ffffff;
        stroke-width: 1;
      }
      #rec435361301 .t890__arrow:focus-visible svg path {
        stroke: #ffffff;
        stroke-width: 1;
      }
      #rec435361301 .t890__arrow:hover svg rect {
        fill: #ffdd00;
        fill-opacity: 1;
      }
      #rec435361301 .t890__arrow:focus-visible svg rect {
        fill: #ffdd00;
        fill-opacity: 1;
      }
    }
    #rec435361301 .t890__arrow {
      border-radius: 53px;
    }
  </style>
</div>