---
layout: base.njk
title: Академия Oggetto
permalink: /
---

<section>
  {% include "hero.njk" %}
  {% include "welcome.njk" %}
  {% include "teaching-directions-header.njk" %}
  {% include "teaching-directions.njk" %}
  {% include "why-us.njk" %}
  {% include "email-block.njk" %}
  {% include "internal-life.njk" %}
  {% include "faq.njk" %}
</section>