---
layout: base.njk
title: Академия Oggetto
permalink: /
---

<section>
  {% include "hero/hero.njk" %}
  {% include "welcome/welcome.njk" %}
  {% include "teaching-directions-header/teaching-directions-header.njk" %}
  {% include "teaching-directions/teaching-directions.njk" %}
  {% include "why-us/why-us.njk" %}
  {% include "email-block/email-block.njk" %}
  {% include "internal-life/internal-life.njk" %}
  {% include "faq/faq.njk" %}
</section>
