---
layout: base.njk
title: Академия Oggetto
permalink: /
---

<section>
  {% include "hero.njk" %}
  {% include "welcome.njk" %}
  {% include "teaching-directions-header.njk" %}
  {% include "teaching-directions.njk" %}
  {% include "why-us.njk" %}
</section>