#rec356927837 .t396__artboard {
  height: 860px;
  background-color: #ffffff;
}
#rec356927837 .t396__filter {
  height: 860px;
}
#rec356927837 .t396__carrier {
  height: 860px;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (max-width: 1199px) {
  #rec356927837 .t396__artboard,
  #rec356927837 .t396__filter,
  #rec356927837 .t396__carrier {
    height: 720px;
  }
  #rec356927837 .t396__filter {
  }
  #rec356927837 .t396__carrier {
    background-attachment: scroll;
  }
}
@media screen and (max-width: 959px) {
  #rec356927837 .t396__artboard,
  #rec356927837 .t396__filter,
  #rec356927837 .t396__carrier {
    height: 910px;
  }
  #rec356927837 .t396__filter {
  }
  #rec356927837 .t396__carrier {
    background-attachment: scroll;
  }
}
@media screen and (max-width: 639px) {
  #rec356927837 .t396__artboard,
  #rec356927837 .t396__filter,
  #rec356927837 .t396__carrier {
    height: 590px;
  }
  #rec356927837 .t396__filter {
  }
  #rec356927837 .t396__carrier {
    background-attachment: scroll;
  }
}
@media screen and (max-width: 479px) {
  #rec356927837 .t396__artboard,
  #rec356927837 .t396__filter,
  #rec356927837 .t396__carrier {
    height: 375px;
  }
  #rec356927837 .t396__filter {
  }
  #rec356927837 .t396__carrier {
    background-attachment: scroll;
  }
}
#rec356927837 .tn-elem[data-elem-id="1650991375250"] {
  z-index: 32;
  top: 42px;
  left: 42px;
  width: 13px;
  height: auto;
  pointer-events: none;
}
#rec356927837 .tn-elem[data-elem-id="1650991375250"] .tn-atom {
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}
#rec356927837 .tn-elem[data-elem-id="1650991375250"] .tn-atom__img {
}
@media screen and (max-width: 1199px) {
  #rec356927837 .tn-elem[data-elem-id="1650991375250"] {
    height: auto;
  }
}
@media screen and (max-width: 959px) {
  #rec356927837 .tn-elem[data-elem-id="1650991375250"] {
    height: auto;
  }
}
@media screen and (max-width: 639px) {
  #rec356927837 .tn-elem[data-elem-id="1650991375250"] {
    width: 8px;
    height: auto;
  }
}
@media screen and (max-width: 479px) {
  #rec356927837 .tn-elem[data-elem-id="1650991375250"] {
    width: 5px;
    height: auto;
  }
}
#rec356927837 .tn-elem[data-elem-id="1650991375240"] {
  z-index: 34;
  top: 0px;
  left: 0px;
  width: 128px;
  height: auto;
  pointer-events: none;
}
#rec356927837 .tn-elem[data-elem-id="1650991375240"] .tn-atom {
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}
#rec356927837 .tn-elem[data-elem-id="1650991375240"] .tn-atom__img {
}
@media screen and (max-width: 1199px) {
  #rec356927837 .tn-elem[data-elem-id="1650991375240"] {
    height: auto;
  }
}
@media screen and (max-width: 959px) {
  #rec356927837 .tn-elem[data-elem-id="1650991375240"] {
    height: auto;
  }
}
@media screen and (max-width: 639px) {
  #rec356927837 .tn-elem[data-elem-id="1650991375240"] {
    width: 71px;
    height: auto;
  }
}
@media screen and (max-width: 479px) {
  #rec356927837 .tn-elem[data-elem-id="1650991375240"] {
    width: 48px;
    height: auto;
  }
}
#rec356927837 .tn-elem[data-elem-id="1650991375243"] {
  z-index: 35;
  top: 8px;
  left: 153px;
  width: 9px;
  height: auto;
  pointer-events: none;
}
#rec356927837 .tn-elem[data-elem-id="1650991375243"] .tn-atom {
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}
#rec356927837 .tn-elem[data-elem-id="1650991375243"] .tn-atom__img {
}
@media screen and (max-width: 1199px) {
  #rec356927837 .tn-elem[data-elem-id="1650991375243"] {
    height: auto;
  }
}
@media screen and (max-width: 959px) {
  #rec356927837 .tn-elem[data-elem-id="1650991375243"] {
    height: auto;
  }
}
@media screen and (max-width: 639px) {
  #rec356927837 .tn-elem[data-elem-id="1650991375243"] {
    width: 5px;
    height: auto;
  }
}
@media screen and (max-width: 479px) {
  #rec356927837 .tn-elem[data-elem-id="1650991375243"] {
    width: 3px;
    height: auto;
  }
}
#rec356927837 .tn-elem[data-elem-id="1650991375247"] {
  z-index: 36;
  top: 28px;
  left: 31px;
  width: 32px;
  height: auto;
  pointer-events: none;
}
#rec356927837 .tn-elem[data-elem-id="1650991375247"] .tn-atom {
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}
#rec356927837 .tn-elem[data-elem-id="1650991375247"] .tn-atom__img {
}
@media screen and (max-width: 1199px) {
  #rec356927837 .tn-elem[data-elem-id="1650991375247"] {
    height: auto;
  }
}
@media screen and (max-width: 959px) {
  #rec356927837 .tn-elem[data-elem-id="1650991375247"] {
    height: auto;
  }
}
@media screen and (max-width: 639px) {
  #rec356927837 .tn-elem[data-elem-id="1650991375247"] {
    width: 18px;
    height: auto;
  }
}
@media screen and (max-width: 479px) {
  #rec356927837 .tn-elem[data-elem-id="1650991375247"] {
    width: 12px;
    height: auto;
  }
}
#rec356927837 .tn-elem[data-elem-id="1650991375233"] {
  z-index: 30;
  top: 533px;
  left: 9px;
  width: 54px;
  height: auto;
  pointer-events: none;
}
#rec356927837 .tn-elem[data-elem-id="1650991375233"] .tn-atom {
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}
#rec356927837 .tn-elem[data-elem-id="1650991375233"] .tn-atom__img {
}
@media screen and (max-width: 1199px) {
  #rec356927837 .tn-elem[data-elem-id="1650991375233"] {
    height: auto;
  }
}
@media screen and (max-width: 959px) {
  #rec356927837 .tn-elem[data-elem-id="1650991375233"] {
    height: auto;
  }
}
@media screen and (max-width: 639px) {
  #rec356927837 .tn-elem[data-elem-id="1650991375233"] {
    width: 40px;
    height: auto;
  }
}
@media screen and (max-width: 479px) {
  #rec356927837 .tn-elem[data-elem-id="1650991375233"] {
    width: 31px;
    height: auto;
  }
}
#rec356927837 .tn-elem[data-elem-id="1650991375236"] {
  z-index: 31;
  top: 508px;
  left: 9px;
  width: 48px;
  height: auto;
  pointer-events: none;
}
#rec356927837 .tn-elem[data-elem-id="1650991375236"] .tn-atom {
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}
#rec356927837 .tn-elem[data-elem-id="1650991375236"] .tn-atom__img {
}
@media screen and (max-width: 1199px) {
  #rec356927837 .tn-elem[data-elem-id="1650991375236"] {
    height: auto;
  }
}
@media screen and (max-width: 959px) {
  #rec356927837 .tn-elem[data-elem-id="1650991375236"] {
    height: auto;
  }
}
@media screen and (max-width: 639px) {
  #rec356927837 .tn-elem[data-elem-id="1650991375236"] {
    width: 36px;
    height: auto;
  }
}
@media screen and (max-width: 479px) {
  #rec356927837 .tn-elem[data-elem-id="1650991375236"] {
    width: 28px;
    height: auto;
  }
}
#rec356927837 .tn-elem[data-elem-id="1470209944682"] {
  color: #262626;
  z-index: 1;
  top: 171px;
  left: calc(50% - 600px + 20px);
  width: 100%;
  height: auto;
}
#rec356927837 .tn-elem[data-elem-id="1470209944682"] .tn-atom {
  color: #262626;
  font-size: 135px;
  font-family: "Montserrat", Arial, sans-serif;
  line-height: 1;
  font-weight: 800;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}
@media screen and (max-width: 1199px) {
  #rec356927837 .tn-elem[data-elem-id="1470209944682"] {
    top: 80px;
    left: calc(50% - 480px + 13px);
    width: 96%;
    height: auto;
  }
  #rec356927837 .tn-elem[data-elem-id="1470209944682"] .tn-atom {
    font-size: 101px;
    background-size: cover;
  }
}
@media screen and (max-width: 959px) {
  #rec356927837 .tn-elem[data-elem-id="1470209944682"] {
    top: 180px;
    left: calc(50% - 320px + 14px);
    width: 97px;
    height: auto;
  }
  #rec356927837 .tn-elem[data-elem-id="1470209944682"] .tn-atom {
    font-size: 91px;
    background-size: cover;
  }
}
@media screen and (max-width: 639px) {
  #rec356927837 .tn-elem[data-elem-id="1470209944682"] {
    top: 114px;
    left: calc(50% - 240px + 11px);
    height: auto;
  }
  #rec356927837 .tn-elem[data-elem-id="1470209944682"] .tn-atom {
    font-size: 60px;
    background-size: cover;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@media screen and (max-width: 479px) {
  #rec356927837 .tn-elem[data-elem-id="1470209944682"] {
    top: 62px;
    left: calc(50% - 160px + 10px);
    width: 300%;
    height: auto;
  }
  #rec356927837 .tn-elem[data-elem-id="1470209944682"] .tn-atom {
    font-size: 41px;
    line-height: 0.95;
    letter-spacing: 0px;
    background-size: cover;
  }
}
#rec356927837 .tn-elem[data-elem-id="1470210224069"] {
  z-index: 6;
  top: 734px;
  left: calc(50% - 600px + -100px);
  width: 1000%;
  height: 15%;
}
#rec356927837 .tn-elem[data-elem-id="1470210224069"] .tn-atom {
  background-color: #ffdd00;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}
@media screen and (max-width: 1199px) {
  #rec356927837 .tn-elem[data-elem-id="1470210224069"] {
    top: 652px;
    left: calc(50% - 480px + -3px);
    width: 106%;
    height: 18%;
  }
}
@media screen and (max-width: 959px) {
  #rec356927837 .tn-elem[data-elem-id="1470210224069"] {
    top: 818px;
    left: calc(50% - 320px + 0px);
    width: 100%;
    height: 10%;
  }
}
@media screen and (max-width: 639px) {
  #rec356927837 .tn-elem[data-elem-id="1470210224069"] {
    top: 524px;
    left: calc(50% - 240px + -94px);
    width: 280%;
    height: 12%;
  }
}
@media screen and (max-width: 479px) {
  #rec356927837 .tn-elem[data-elem-id="1470210224069"] {
    top: 338px;
    left: calc(50% - 160px + -113px);
    width: 345%;
    height: 25%;
  }
}
#rec356927837 .tn-elem[data-elem-id="1651832038730"] {
  z-index: 37;
  top: 302px;
  left: calc(50% - 600px + 563px);
  width: 621px;
  height: auto;
  pointer-events: none;
}
#rec356927837 .tn-elem[data-elem-id="1651832038730"] .tn-atom {
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}
#rec356927837 .tn-elem[data-elem-id="1651832038730"] .tn-atom__img {
}
@media screen and (max-width: 1199px) {
  #rec356927837 .tn-elem[data-elem-id="1651832038730"] {
    top: 224px;
    left: calc(50% - 480px + 327px);
    height: auto;
  }
}
@media screen and (max-width: 959px) {
  #rec356927837 .tn-elem[data-elem-id="1651832038730"] {
    top: 374px;
    left: calc(50% - 320px + 0px);
    width: 640px;
    height: auto;
  }
}
@media screen and (max-width: 639px) {
  #rec356927837 .tn-elem[data-elem-id="1651832038730"] {
    top: 267px;
    left: calc(50% - 240px + 99px);
    width: 369px;
    height: auto;
  }
}
@media screen and (max-width: 479px) {
  #rec356927837 .tn-elem[data-elem-id="1651832038730"] {
    top: 160px;
    left: calc(50% - 160px + 34px);
    width: 276px;
    height: auto;
  }
}
#rec356927837 .tn-elem[data-elem-id="1656497782751"] {
  color: #000000;
  z-index: 38;
  top: 454px;
  left: calc(50% - 600px + 20px);
  width: 762px;
  height: auto;
}
#rec356927837 .tn-elem[data-elem-id="1656497782751"] .tn-atom {
  color: #000000;
  font-size: 35px;
  font-family: "Montserrat", Arial, sans-serif;
  line-height: 1.55;
  font-weight: 500;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}
@media screen and (max-width: 1199px) {
  #rec356927837 .tn-elem[data-elem-id="1656497782751"] {
    top: 373px;
    left: calc(50% - 480px + 13px);
    width: 505px;
    height: auto;
  }
}
@media screen and (max-width: 959px) {
  #rec356927837 .tn-elem[data-elem-id="1656497782751"] {
    top: 1165px;
    left: calc(50% - 320px + -10px);
    height: auto;
  }
}
@media screen and (max-width: 639px) {
  #rec356927837 .tn-elem[data-elem-id="1656497782751"] {
    top: 655px;
    left: calc(50% - 240px + -50px);
    height: auto;
  }
}
@media screen and (max-width: 479px) {
}
