{% css %}
{% include "hero/hero.css" %}
{% endcss %}

<div
  id="rec356927837"
  class="r t-rec t-rec_pt_15 t-rec_pb_0"
  style="padding-top: 15px; padding-bottom: 0px"
  data-animationappear="off"
  data-record-type="396"
>
  <!-- T396 -->
  <div class="t396">
    <div
      class="t396__artboard"
      data-artboard-recid="356927837"
      data-artboard-screens="320,480,640,960,1200"
      data-artboard-height="860"
      data-artboard-valign="center"
      data-artboard-upscale="grid"
      data-artboard-height-res-320="375"
      data-artboard-height-res-480="590"
      data-artboard-height-res-640="910"
      data-artboard-height-res-960="720"
    >
      <div class="t396__carrier" data-artboard-recid="356927837"></div>
      <div class="t396__filter" data-artboard-recid="356927837"></div>
      <div
        class="t396__elem tn-elem tn-elem__3569278371650991375250"
        data-elem-id="1650991375250"
        data-elem-type="image"
        data-field-top-value="87"
        data-field-left-value="1005"
        data-field-width-value="13"
        data-field-axisy-value="top"
        data-field-axisx-value="left"
        data-field-container-value="grid"
        data-field-topunits-value="px"
        data-field-leftunits-value="px"
        data-field-heightunits-value=""
        data-field-widthunits-value="px"
        data-field-filewidth-value="71"
        data-field-fileheight-value="98"
        data-field-top-res-320-value="21"
        data-field-left-res-320-value="269"
        data-field-width-res-320-value="5"
        data-field-top-res-480-value="39"
        data-field-left-res-480-value="391"
        data-field-width-res-480-value="8"
        data-field-top-res-640-value="64"
        data-field-left-res-640-value="485"
        data-field-top-res-960-value="73"
        data-field-left-res-960-value="773"
      >
        <div class="tn-atom">
          <img
            class="tn-atom__img t-img"
            data-original="/assets/images/tild3835-3861-4531-a365-613337383863__c646098a52ada73388e2.svg"
            src="/assets/images/tild3835-3861-4531-a365-613337383863__c646098a52ada73388e2.svg"
            alt=""
            imgfield="tn_img_1650991375250"
          />
        </div>
      </div>
      <div
        class="t396__elem tn-elem tn-elem__3569278371650991375240"
        data-elem-id="1650991375240"
        data-elem-type="image"
        data-field-top-value="45"
        data-field-left-value="963"
        data-field-width-value="128"
        data-field-axisy-value="top"
        data-field-axisx-value="left"
        data-field-container-value="grid"
        data-field-topunits-value="px"
        data-field-leftunits-value="px"
        data-field-heightunits-value=""
        data-field-widthunits-value="px"
        data-field-filewidth-value="499"
        data-field-fileheight-value="488"
        data-field-top-res-320-value="5"
        data-field-left-res-320-value="253"
        data-field-width-res-320-value="48"
        data-field-top-res-480-value="15"
        data-field-left-res-480-value="368"
        data-field-width-res-480-value="71"
        data-field-top-res-640-value="22"
        data-field-left-res-640-value="443"
        data-field-top-res-960-value="31"
        data-field-left-res-960-value="731"
      >
        <div class="tn-atom">
          <img
            class="tn-atom__img t-img"
            data-original="/assets/images/tild3132-3232-4461-a237-393138663263__1eb4083f87a37bc6ea61.svg"
            src="/assets/images/tild3132-3232-4461-a237-393138663263__1eb4083f87a37bc6ea61.svg"
            alt=""
            imgfield="tn_img_1650991375240"
          />
        </div>
      </div>
      <div
        class="t396__elem tn-elem tn-elem__3569278371650991375243"
        data-elem-id="1650991375243"
        data-elem-type="image"
        data-field-top-value="53"
        data-field-left-value="1116"
        data-field-width-value="9"
        data-field-axisy-value="top"
        data-field-axisx-value="left"
        data-field-container-value="grid"
        data-field-topunits-value="px"
        data-field-leftunits-value="px"
        data-field-heightunits-value=""
        data-field-widthunits-value="px"
        data-field-filewidth-value="40"
        data-field-fileheight-value="217"
        data-field-top-res-320-value="8"
        data-field-left-res-320-value="312"
        data-field-width-res-320-value="3"
        data-field-top-res-480-value="20"
        data-field-left-res-480-value="453"
        data-field-width-res-480-value="5"
        data-field-top-res-640-value="30"
        data-field-left-res-640-value="596"
        data-field-top-res-960-value="39"
        data-field-left-res-960-value="884"
      >
        <div class="tn-atom">
          <img
            class="tn-atom__img t-img"
            data-original="/assets/images/tild3733-6536-4739-b664-613330363866__be8ec4d8e93183a09672.svg"
            src="/assets/images/tild3733-6536-4739-b664-613330363866__be8ec4d8e93183a09672.svg"
            alt=""
            imgfield="tn_img_1650991375243"
          />
        </div>
      </div>
      <div
        class="t396__elem tn-elem tn-elem__3569278371650991375247"
        data-elem-id="1650991375247"
        data-elem-type="image"
        data-field-top-value="73"
        data-field-left-value="994"
        data-field-width-value="32"
        data-field-axisy-value="top"
        data-field-axisx-value="left"
        data-field-container-value="grid"
        data-field-topunits-value="px"
        data-field-leftunits-value="px"
        data-field-heightunits-value=""
        data-field-widthunits-value="px"
        data-field-filewidth-value="140"
        data-field-fileheight-value="127"
        data-field-top-res-320-value="15"
        data-field-left-res-320-value="265"
        data-field-width-res-320-value="12"
        data-field-top-res-480-value="31"
        data-field-left-res-480-value="385"
        data-field-width-res-480-value="18"
        data-field-top-res-640-value="50"
        data-field-left-res-640-value="474"
        data-field-top-res-960-value="59"
        data-field-left-res-960-value="762"
      >
        <div class="tn-atom">
          <img
            class="tn-atom__img t-img"
            data-original="/assets/images/tild6665-6136-4530-b562-393534396362__db2eba7dec86e9689a27.svg"
            src="/assets/images/tild6665-6136-4530-b562-393534396362__db2eba7dec86e9689a27.svg"
            alt=""
            imgfield="tn_img_1650991375247"
          />
        </div>
      </div>
      <div
        class="t396__elem tn-elem tn-elem__3569278371650991375233"
        data-elem-id="1650991375233"
        data-elem-type="image"
        data-field-top-value="683"
        data-field-left-value="20"
        data-field-width-value="54"
        data-field-axisy-value="top"
        data-field-axisx-value="left"
        data-field-container-value="grid"
        data-field-topunits-value="px"
        data-field-leftunits-value="px"
        data-field-heightunits-value=""
        data-field-widthunits-value="px"
        data-field-filewidth-value="209"
        data-field-fileheight-value="83"
        data-field-top-res-320-value="150"
        data-field-left-res-320-value="14"
        data-field-width-res-320-value="31"
        data-field-top-res-480-value="264"
        data-field-left-res-480-value="12"
        data-field-width-res-480-value="40"
        data-field-top-res-640-value="374"
        data-field-left-res-640-value="52"
        data-field-top-res-960-value="306"
        data-field-left-res-960-value="33"
      >
        <div class="tn-atom">
          <img
            class="tn-atom__img t-img"
            data-original="/assets/images/tild3062-3230-4533-a632-663932353732__df85cb4794ade4c249ee.svg"
            src="/assets/images/tild3062-3230-4533-a632-663932353732__df85cb4794ade4c249ee.svg"
            alt=""
            imgfield="tn_img_1650991375233"
          />
        </div>
      </div>
      <div
        class="t396__elem tn-elem tn-elem__3569278371650991375236"
        data-elem-id="1650991375236"
        data-elem-type="image"
        data-field-top-value="658"
        data-field-left-value="20"
        data-field-width-value="48"
        data-field-axisy-value="top"
        data-field-axisx-value="left"
        data-field-container-value="grid"
        data-field-topunits-value="px"
        data-field-leftunits-value="px"
        data-field-heightunits-value=""
        data-field-widthunits-value="px"
        data-field-filewidth-value="190"
        data-field-fileheight-value="97"
        data-field-top-res-320-value="162"
        data-field-left-res-320-value="11"
        data-field-width-res-320-value="28"
        data-field-top-res-480-value="277"
        data-field-left-res-480-value="11"
        data-field-width-res-480-value="36"
        data-field-top-res-640-value="390"
        data-field-left-res-640-value="48"
        data-field-top-res-960-value="324"
        data-field-left-res-960-value="26"
      >
        <div class="tn-atom">
          <img
            class="tn-atom__img t-img"
            data-original="/assets/images/tild3532-6238-4963-a535-653336663739__f681e3d7c7817b126032.svg"
            src="/assets/images/tild3532-6238-4963-a535-653336663739__f681e3d7c7817b126032.svg"
            alt=""
            imgfield="tn_img_1650991375236"
          />
        </div>
      </div>
      <div
        class="t396__elem tn-elem tn-elem__3569278371470209944682"
        data-elem-id="1470209944682"
        data-elem-type="text"
        data-field-top-value="171"
        data-field-left-value="20"
        data-field-width-value="100"
        data-field-axisy-value="top"
        data-field-axisx-value="left"
        data-field-container-value="grid"
        data-field-topunits-value="px"
        data-field-leftunits-value="px"
        data-field-heightunits-value=""
        data-field-widthunits-value="%"
        data-field-top-res-320-value="62"
        data-field-left-res-320-value="10"
        data-field-width-res-320-value="300"
        data-field-top-res-480-value="114"
        data-field-left-res-480-value="11"
        data-field-top-res-640-value="180"
        data-field-left-res-640-value="14"
        data-field-width-res-640-value="97"
        data-field-widthunits-res-640-value="px"
        data-field-top-res-960-value="80"
        data-field-left-res-960-value="13"
        data-field-width-res-960-value="96"
      >
        <h1 class="tn-atom" field="tn_text_1470209944682">
          АКАДЕМИЯ<br />ОДЖЕТТО
        </h1>
      </div>
      <div
        class="t396__elem tn-elem tn-elem__3569278371470210224069"
        data-elem-id="1470210224069"
        data-elem-type="shape"
        data-field-top-value="734"
        data-field-left-value="-100"
        data-field-height-value="15"
        data-field-width-value="1000"
        data-field-axisy-value="top"
        data-field-axisx-value="left"
        data-field-container-value="grid"
        data-field-topunits-value="px"
        data-field-leftunits-value="%"
        data-field-heightunits-value="%"
        data-field-widthunits-value="%"
        data-field-top-res-320-value="338"
        data-field-left-res-320-value="-113"
        data-field-height-res-320-value="25"
        data-field-width-res-320-value="345"
        data-field-top-res-480-value="524"
        data-field-left-res-480-value="-94"
        data-field-height-res-480-value="12"
        data-field-width-res-480-value="280"
        data-field-top-res-640-value="818"
        data-field-left-res-640-value="0"
        data-field-height-res-640-value="10"
        data-field-width-res-640-value="100"
        data-field-top-res-960-value="652"
        data-field-left-res-960-value="-3"
        data-field-height-res-960-value="18"
        data-field-width-res-960-value="106"
        data-field-heightunits-res-960-value="%"
      >
        <div class="tn-atom"></div>
      </div>
      <div
        class="t396__elem tn-elem tn-elem__3569278371651832038730"
        data-elem-id="1651832038730"
        data-elem-type="image"
        data-field-top-value="302"
        data-field-left-value="563"
        data-field-width-value="621"
        data-field-axisy-value="top"
        data-field-axisx-value="left"
        data-field-container-value="grid"
        data-field-topunits-value="px"
        data-field-leftunits-value="px"
        data-field-heightunits-value=""
        data-field-widthunits-value="px"
        data-field-filewidth-value="2380"
        data-field-fileheight-value="1859"
        data-field-top-res-320-value="160"
        data-field-left-res-320-value="34"
        data-field-width-res-320-value="276"
        data-field-top-res-480-value="267"
        data-field-left-res-480-value="99"
        data-field-width-res-480-value="369"
        data-field-top-res-640-value="374"
        data-field-left-res-640-value="0"
        data-field-width-res-640-value="640"
        data-field-top-res-960-value="224"
        data-field-left-res-960-value="327"
      >
        <div class="tn-atom">
          <img
            class="tn-atom__img t-img"
            data-original="/assets/images/tild3565-3831-4434-a531-393833633134__b3b3e424de786f0f458a.svg"
            src="/assets/images/tild3565-3831-4434-a531-393833633134__b3b3e424de786f0f458a.svg"
            alt="Reading girl"
            imgfield="tn_img_1651832038730"
          />
        </div>
      </div>
      <div
        class="t396__elem tn-elem tn-elem__3569278371656497782751"
        data-elem-id="1656497782751"
        data-elem-type="text"
        data-field-top-value="454"
        data-field-left-value="20"
        data-field-width-value="762"
        data-field-axisy-value="top"
        data-field-axisx-value="left"
        data-field-container-value="grid"
        data-field-topunits-value="px"
        data-field-leftunits-value="px"
        data-field-heightunits-value=""
        data-field-widthunits-value="px"
        data-field-top-res-480-value="655"
        data-field-left-res-480-value="-50"
        data-field-top-res-640-value="1165"
        data-field-left-res-640-value="-10"
        data-field-top-res-960-value="373"
        data-field-left-res-960-value="13"
        data-field-width-res-960-value="505"
      >
        <div class="tn-atom" field="tn_text_1656497782751">
          Лучшее место для старта карьеры
        </div>
      </div>
    </div>
  </div>
  <!-- /T396 -->
</div>

{% js %}
{% include "hero/hero.js" %}
{% endjs %}
